<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea tu usuario</title>
</head>
<body>
    <form action="/usuario_vinculado" method="post">
        <Label>NickName</Label><br>
        <input type="text" name="nickname" placeholder="Nombre"><br>
        <label>Correo Electronico</label><br>
        <input type="email" name="correo_electronico" placeholder="nombre@ejemplo.com"><br>
        <label>Contraseña</label><br>
        <input type="text" name="contrasenia" placeholder="Ingrese su contraseña"><br>
        <input type="hidden" name="user_id" value="{{user_id}}">
        <input type="hidden" name="code" value="{{code}}">
        <input type="hidden" name="state" value="{{state}}">
        <input type="submit" value="Confirmar">

    </form>
</body>
</html>