{% extends "index.html" %}

{% block content %}
<script src="{{url_for('static', filename='estados.js')}}"></script>
<script>
    function imprimir() {
        var ficha = document.getElementById("printableArea");
        var ventimp = window.open(' ', 'popimpr');
        ventimp.document.write(ficha.innerHTML);
        ventimp.document.close();
        ventimp.print();
        ventimp.close();
    }
    function tareaCompleta(idTarea) {
        if (confirm("¿seguro que completaste la tarea "+idTarea+"?")) {
        fetch(`/tareas/completa`, {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({ id: idTarea })
        })
            .then(response => {
                if (response.status === 200) {
                    console.log(`${idTarea} Completa`)
                    document.getElementById("fila"+idTarea).outerHTML = "";
                } else {
                    alert(`Se ha producido un error con ${idTarea}`);
                }
            });
    }
}
</script>
<input type="button" value="Imprimir" id="printButton" onclick="imprimir()">
<style>
    td {
        border-left: solid;
        border-top: solid;
        border-color: #afafaf;
    }
</style><br><br>
<form action="/tareas" method="post">
    <table style="width: 100%;">
        <tr>
            <td></td>
            <td>Nueva tarea</td>
        </tr>
        <tr>
            <td>
                Titulo
            </td>
            <td>
                <input type="text" name="tarea" style="width: 100%;">
            </td>
        </tr>
        <tr>
            <td>
                Descripcion
            </td>
            <td>
                <input type="text" name="descripcion" style="width: 100%;">
            </td>
        </tr>
        <tr>
            <td><input type="submit" value="Enviar"></td>
            <td></td>
        </tr>
    </table>
    <br><br>

</form>
<script src="{{url_for('static', filename='buscadorEnTablas.js')}}"></script>
<input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Buscar...">
<div id="printableArea" class="table-responsive">
    <table style="width: 100%; margin-top: 30px;" class="table" id="myTable">
        <tr>
            {%for x in columnas%}
            <td><input type="text" placeholder="{{x}}" id="{{x}}" oninput="searchColumn({{ loop.index - 1}},'{{x}}')"></td>
            {%endfor%}
            {% if auth == "Admin" %}
            <td>Accion</td>
            {% endif %}
        </tr>
        {% for item in lista %}
        <tr  id="fila{{item.0}}">
            {% for x in item %}
            <td>{{x}}</td>
            {% endfor %}
            {% if auth == "Admin" %}
            <td><input type="button" onclick="tareaCompleta({{item.0}})" value="Tarea completa"></td>
            {% endif %}
        </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}