{% extends "index.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block content %}
<form action="/clientes/nuevo_responsable" method="post">
    <fieldset>
        <input type="hidden" name="idCliente" id="idCliente" value="{{idCliente}}">
        <legend>Datos del Responsable:</legend>
        <label for="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre"><br>
        <label for="cargo">Puesto</label>
        <input type="text" id="cargo" name="cargo"><br>
        <label for="telefono">Teléfono</label>
        <input type="tel" id="telefono" name="telefono"><br>
        <label for="correo_electronico">Correo Electrónico</label>
        <input type="email" id="correo_electronico" name="correo_electronico"><br>
        <input type="submit" value="Agregar">
      </fieldset>
</form>
{% endblock %}