{% extends "index.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block content %}
<div class="container">
	<img src="https://raw.githubusercontent.com/Matyacc/digitalocean/main/images/mmspacklogo.png" alt="Descripción de la imagen">
</div>
<body>
	
	<form action="/clientes/nuevo_prospecto" method="POST">
        
		<fieldset>
        <legend>Datos del Cliente:</legend>
					
			<label for="nombre_cliente">Empresa:</label><br>
			<input type="text" name="nombre_cliente" id="nombre_cliente" required><br><br>
						
			<label for="Razon Social">Razon Social:</label><br>
			<input type="text" name="razon_social" id="razon_social" required><br><br>
					
			<label for="CUIT">CUIT:</label><br>
			<input type="text" placeholder="XX-XXXXXXXX-X" name="CUIT" id="CUIT" required><br><br>
		
			<label for="Rubro">Rubro</label><br>
			<select name="Rubro" id="Rubro">
			
			<option value=""></option>
			<option value="">Correo</option>
			<option value="">Telecomunicaciones</option>
			<option value="">Productos médicos y sanitarios</option>
			<option value="">Maquinaria pesada y equipos</option>
			<option value="">Productos químicos</option>
			<option value="">Productos para el hogar</option>
			<option value="">Juguetes y juegos</option>
			<option value="">Suministros de oficina</option>
			<option value="">Productos de limpieza y hogar</option>
			<option value="">Productos deportivos y de recreación</option>
			<option value="">Instrumentos musicales</option>
			<option value="">Productos para mascotas</option>
			<option value="">Joyería y accesorios</option>
			<option value="">Suministros de jardinería y paisajismo</option>
			<option value="">Equipos y suministros para la construcción</option>
			<option value="">Productos de iluminación y eléctricos</option>
			<option value="">Materiales para manualidades y arte</option>
			<option value="">Electrónica</option>
			<option value="">Computación</option>
			<option value="">Autopartes</option>
			<option value="">Productos de belleza y cuidado personal</option>
			<option value="">Productos de papelería y artículos escolares</option>
			<option value="">Productos de decoración del hogar</option>
			<option value="">Productos para el cuidado del bebé</option>
			</select><br><br>

			<label for="telefono">Teléfono:</label><br>
			<input type="tel" name="telefono" id="telefono" value="+54011"><br><br>

			<label for="url">URL:</label><br>
			<input type="url" name="url" id="url"><br><br>

			<label for="correo_electronico">Correo electrónico:</label><br>
			<input type="email" name="correo_electronico" id="correo_electronico"><br><br>

			<label for="locales_cantidad">Cantidad de locales:</label><br>
			<input type="number" name="locales_cantidad" placeholder="Seleccionar cantidad" id="locales_cantidad"><br><br>

			<label for="direccion">Dirección:</label><br>
			<input type="text" name="direccion" id="direccion"><br><br>

			<label for="localidad">Localidad:</label><br>
			<select name="localidad" id="localidad">
		{% for localidad in localidades %}
				<option value="{{localidad.0}}">{{localidad.1}}</option>
		{% endfor %}
			</select><br><br>

			<label for="piso">Piso:</label><br>
			<input type="text" name="piso" id="piso"><br><br>

			<label for="dpto">Departamento:</label><br>
			<input type="text" name="dpto" id="dpto"><br><br>


			<label for="estado_contacto">Estado del contacto:</label><br>
			<input type="text" name="estado_contacto" id="estado_contacto"><br><br>

			<label for="proxima_accion">Proxima accion:</label><br>
			<input type="text" name="proxima_accion" id="proxima_accion"><br><br>

			<label for="fecha_proxima_accion">Fecha de proxima accion:</label><br>
			<input type="text" name="fecha_proxima_accion" id="fecha_proxima_accion"><br><br>

			<label for="presupuesto">Presupuesto:</label><br>
			<input type="file" name="presupuesto" id="presupuesto"><br><br>

			<label for="mapa_cotizacion">Mapa (cotizacion):</label><br>
			<input type="file" name="mapa_cotizacion" id="mapa_cotizacion"><br><br>

			<label for="modifico">Modificó:</label><br>
			<input type="text" name="modifico" id="modifico"><br><br>

			<label for="responsable_proxima_accion">Responsable de próxima acción:</label><br>
			<input type="text" name="responsable_proxima_accion" id="responsable_proxima_accion"><br><br>
			
		<label for="como_nos_conocio">Cómo nos conoció:</label><br>
		<select name="como_nos_conocio" id="como_nos_conocio">
				<option value="Facebook">Facebook</option>
				<option value="Correo electrónico">Correo electrónico</option>
				<option value="Volantes">Volantes</option>
				<option value="Google">Google</option>
				<option value="Instagram">Instagram</option>
				<option value="Llamado telefonico">Llamado telefonico</option>
			</select><br><br>
		<label for="observaciones">Observaciones:</label><br>
			<input type="text" name="observaciones" placeholder="Agrega una observacion" id="observaciones"><br><br>
	
        </fieldset>
    <fieldset>
        <legend>Datos del Responsable:</legend>
        <label for="responsable_1_nombre">Nombre</label>
        <input type="text" id="responsable_1_nombre" name="responsable_1_nombre"><br>
        <label for="responsable_1_cargo">Puesto</label>
        <input type="text" id="responsable_1_cargo" name="responsable_1_cargo"><br>
        <label for="responsable_1_telefono">Teléfono</label>
        <input type="tel" id="responsable_1_telefono" name="responsable_1_telefono"><br>
        <label for="responsable_1_correo_electronico">Correo Electrónico</label>
        <input type="email" id="responsable_1_correo_electronico" name="responsable_1_correo_electronico"><br>
      </fieldset><br><br>
	  <button type="submit">Agregar Responsable</button>
      <button type="submit">Enviale por tu codigo</button>
    </form>
  </body>
  {% endblock %}