{% extends "index.html" %}

{% block content %}


<div id="printableArea" >
<style>
    td{
        border-left: solid;
        border-top: solid ; 
        border-color: #afafaf;
    }
</style>
<script>
    function confirmRedirect(url) {
      if (confirm("¿Estás seguro de que quieres redirigir a esta URL?")) {
        window.location.href = url;
      }
    }
    function redirect(url,param=null){
        if (param != null) {
            url += param.toString();
        }
        window.location.href = url;
    }
    </script>
<script src="{{url_for('static', filename='buscadorEnTablas.js')}}"></script>
<input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Buscar...">
<table style="width: 100%; margin-top: 30px;" class="table" id="myTable">
    <tr>
        <td>Accion</td>
    {% for columna in columnas %}
        <td>{{columna}}</td>
    {% endfor %}
    </tr>

    {% for cliente in clientes %}
        <tr id="fila{{cliente.0}}">
            <td>
                <form action="clientes/modificar" method="get">
                    <input type="hidden" name="idClientes" value="{{cliente.0}}">
                    <input type="submit" value="Modificar">
                </form>
                {% if cliente.14 == None %}
                    <button onclick="confirmRedirect('/cliente/baja/{{cliente.0}}')">Dar de baja</button>
                {% endif %}
                {% if botonVerDatos %}
                    <button onclick="redirect('/cliente/{{cliente.0}}')">Ver datos</button>
                {% endif %}
            </td>
            {% for x in cliente %}
            {% if x == None %}
            <td></td>
            {% else %}
            <td>{{x}}</td>
            {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    {% if responsables %}
    <table>
        <tr>
            <td>Nombre</td>
            <td>Puesto</td>
            <td>Telefono</td>
            <td>Correo electronico</td>
        </tr>
        {% for responsable in responsables %}
        <tr>
            {% for x in responsable %}
            {% if x == None %}
            <td></td>
            {% else %}
            <td>{{x}}</td>
            {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
    <button onclick="redirect('/clientes/nuevo_responsable/','{{idCliente}}')">Agregar responsable</button>
    {% endif %}
</div>
{% endblock %}
