{% extends "index.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block content %}
<body>
    <ul>
    <li><a href="/registro">Nuevo usuario Web</a></li>
    <li><a href="/nuevo_cliente">Nuevo cliente</a></li>
    <li><a href="/nuevo_empleado">Nuevo empleado</a></li>
    </ul>

    <form class="ingreso" action="/registro" method="POST">
        
        <label>NickName</label><br>
        <input type="text" name="nickname" placeholder="Ingrese el nombre de usuario que va a utilizar"><BR>

        <LABEl>Contraseña</LABEl><br>
        
        <input type="password" name="password" alt="strongPass" placeholder="Ingrese su contraseña" required><BR><BR>
        <select name="tipo_usuario">
            <option value="Admin">Admin</option>
            <option value="Administracion">Administracion</option>
            <option value="Logistica">Logistica</option>
            <option value="Cliente">Cliente</option>
            <option value="Chofer">Chofer</option>
        </select>
        <input type="submit" value="Confirmar">
        </form>
</body>
    
        

{% endblock %}