{% extends "index.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block content %}


<body>
    <style>
        @media only screen and (max-width: 600px) {
        #formulario_NOML{
            width: 80%;
            float:right;
            position: relative;
            display: flex;
            align-items: left;
            justify-content: center;
            right: 25px;
        
        }
        }
        
        form{
            text-align: left;
        }

    </style>    
<div id="formulario_NOML">
    <form class="" action="/carga_noml" method="POST">
        {% if nro_envio %}
        <br>
        <h1>El envio {{nro_envio}} fue cargado exitosamente</h1>
        {%endif%}
        {%if mensaje_error %}
        <br><br>
        <h1>{{mensaje_error}}</h1>
        {%endif%}
        <table>
        {% if auth != "Cliente" %}
        <br><br>
        <tr>
            <td>Zona</td>
            <td><select name="zona"">
                <option></option>
                <option value="C 01/2">C 01</option>
                <option value="C 02/2">C 02</option>
                <option value="C 03/2">C 03</option>
                <option value="C 04/2">C 04</option>
                <option value="C 05/2">C 05</option>
                <option value="C 06/2">C 06</option>
                <option value="C 07/2">C 07</option>
                <option value="C 08/2">C 08</option>
                <option value="C 09/2">C 09</option>
                <option value="C 10/2">C 10</option>
                <option value="C 11/2">C 11</option>
                <option value="C 12/2">C 12</option>
                <option value="C 13/2">C 13</option>
                <option value="C 14/2">C 14</option>
                <option value="C 15/2">C 15</option>
                <option value="N 01/2">N 01</option>
                <option value="N 02/2">N 02</option>
                <option value="N 03/2">N 03</option>
                <option value="N 04/2">N 04</option>
                <option value="N 05/2">N 05</option>
                <option value="N 06/2">N 06</option>
                <option value="N 07/2">N 07</option>
                <option value="N 08/2">N 08</option>
                <option value="N 09/2">N 09</option>
                <option value="N 10/2">N 10</option>
                <option value="N 11/2">N 11</option>
                <option value="N 12/2">N 12</option>
                <option value="N 13/2">N 13</option>
                <option value="N 14/2">N 14</option>
                <option value="N 15/2">N 15</option>
                <option value="O 01/2">O 01</option>
                <option value="O 02/2">O 02</option>
                <option value="O 03/2">O 03</option>
                <option value="O 04/2">O 04</option>
                <option value="O 05/2">O 05</option>
                <option value="O 06/2">O 06</option>
                <option value="O 07/2">O 07</option>
                <option value="O 08/2">O 08</option>
                <option value="O 09/2">O 09</option>
                <option value="O 10/2">O 10</option>
                <option value="O 11/2">O 11</option>
                <option value="O 12/2">O 12</option>
                <option value="O 13/2">O 13</option>
                <option value="O 14/2">O 14</option>
                <option value="O 15/2">O 15</option>
                <option value="S 01/2">S 01</option>
                <option value="S 02/2">S 02</option>
                <option value="S 03/2">S 03</option>
                <option value="S 04/2">S 04</option>
                <option value="S 05/2">S 05</option>
                <option value="S 06/2">S 06</option>
                <option value="S 07/2">S 07</option>
                <option value="S 08/2">S 08</option>
                <option value="S 09/2">S 09</option>
                <option value="S 10/2">S 10</option>
                <option value="S 11/2">S 11</option>
                <option value="S 12/2">S 12</option>
                <option value="S 13/2">S 13</option>
                <option value="S 14/2">S 14</option>
                <option value="S 15/2">S 15</option>
            </select></td>
        </tr>
        <tr>
            <td>Vendedor</td>
            <td>
                <select name="nombre_cliente" required>
                    <option value="">Vendedor</option>
                    {% for cliente in clientes %}
                    <option value="{{cliente}}">{{cliente}}</option>
                    {% endfor %}
                </select><br>
            </td>
        </tr>
        <tr>
            <td>Numero de envio</td>
            <td><input type="text" name="nro_envio" placeholder="Identificador del paquete" value="{{numeroEnvio}}" required></td>
        </tr>
        

        {% endif %}

        {% if auth == "Cliente"%}
            <tr>
                <td>Nombre/s</td>
                <td><input type="text" name="nombre" placeholder="Nombre" required></td>
            </tr>
            <tr>
                <td>Apellido/s</td>
                <td><input type="text" name="apellido" placeholder="Apellido"></td>
            </tr>
            <tr>
                <td>Telefono</td>
                <td><input type="number" name="telefono" placeholder="Telefono"></td>
            </tr>
            {% endif %}
            <tr>
                <td>Direccion</td>
                <td><input type="text" name="direccion" placeholder="direccion" required></td></tr><tr>
                <td>Localidad</td>
                <td><input type="text" name="localidad" placeholder="Localidad" required></td></tr>
            {% if auth == "Cliente"%}<tr>
                <td>piso</td>
                <td><input type="text" name="piso" placeholder="Piso"></td></tr><tr>
                <td>Departamento</td>
                <td> <input type="text" name="dpto" placeholder="Departamento"></td></tr><tr>
                <td>Entre calles</td>
                <td><input type="text" name="e/1" placeholder="Entre calle 1"><br></td></tr><tr>
                <td></td>
                <td><input type="text" name="e/2" placeholder="Entre calle 2"><br></td></tr><tr>
                <td>CP</td>
                <td><input type="text" name="cp" placeholder="Codigo Postal"></td></tr>
                <tr><td>Referencia</td>
                <td><input type="text" name="referencia" placeholder="Referencia"></td>
                <tr><td>Producto</td>
                <td><input type="text" name="producto" placeholder="Producto"></td>
            </tr>
            {% endif %}
            <tr>
                <td>Monto a cobrar</td>
                <td><input type="text" name="cobrar" placeholder="$"></td>
            </tr>
        </table>      
        <input type="submit" value="Confirmar">
    </form>
</div>
</body>

{% endblock %}