{% extends "index.html" %}
{% block content %}

    <script>
        function imprimir() {
            var ficha = document.getElementById("printableArea");
            var ventimp = window.open(' ', 'popimpr');
            ventimp.document.write( ficha.innerHTML );
            ventimp.document.close();
            ventimp.print( );
            ventimp.close();
        }
    </script>
    <br><br><br>
    <p><input type="button" value="Imprimir" id="printButton" onclick="imprimir()"></p>
    <div id="printableArea" style="border: 1px solid #000000; height: 550px; width: 300px;">
        <p>Número de envío: {{nro_envio}}</p>
        <img src="https://www.mmspack.com.ar/images/logo1.svg" alt="Logo" id="codigoQR">
        <p>{{vendedor}}</p>
        <img src='https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl={"id":"{{nro_envio}}","sender_id":000000}' alt="Código QR" id="">
        <p>Comprador {{comprador}}</p>
        <p>Telefono {{telefono}}</p>
        <p>Dirección {{direccion}}</p>
        <p>{{dpt}}</p>
        {%if cobrar%}<h6>se debe cobrar ${{cobrar}}</h6>{%endif%}
        </div>
        <style>
        img{
            padding: 0%;
        }
        p{
            margin: 4px;
        }
        </style>
{% endblock %}