{% extends "index.html" %}

{% block content %}
<script>
    function enviar() {
        var chofer = document.getElementById('chofer').value;
        var foto = document.getElementById('foto').files[0];
        
        var datos = {
            'chofer': chofer,
            'image': foto
        };
    
        var xhr = new XMLHttpRequest();
        xhr.open('POST', '/foto_rendicion');
        xhr.setRequestHeader('Content-Type', 'application/json');
        xhr.onload = function() {
            if (xhr.status === 200) {
                console.log(xhr.responseText);
            } else {
                console.log('Error: ' + xhr.statusText);
            }
        };
        xhr.send(JSON.stringify(datos));
    }
    
    function confirmar(id){
    if(confirm("¿Seguro?")){
        //document.getElementById("fila"+id).outerHTML = "";
        window.location.href = "/logistica/historial/anular/"+id;
    }   
}
function imprimir() {
	  var ficha = document.getElementById("printableArea");
	  var ventimp = window.open(' ', 'popimpr');
	  ventimp.document.write( ficha.innerHTML );
	  ventimp.document.close();
	  ventimp.print( );
	  ventimp.close();
	}
</script>
<input type="button" value="Imprimir" id="printButton" onclick="imprimir()">
<!-- <a href="javascript:void(0);" id="printButton">Print</a>   -->
<div id="printableArea" class="table-responsive">
<style>
    td{
        border-left: solid;
        border-top: solid ; 
        border-color: #afafaf;
    }
</style>
<script src="{{url_for('static', filename='buscadorEnTablas.js')}}"></script>
<input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Buscar...">


<table style="width: 100%; margin-top: 30px;" class="table" id="myTable">
    {% if contador %}
        <tr><h3>{{contador}} {{mensajeLogistica}}</h3></tr>
    {% endif %}
    {% if cobra %}
        <h3>{{cobra}} a pagar</h3>
    {% endif %}

    {% if tablas %}
    <a href="/logistica/historial/{{listaBotones[0]}}"><input type="button" value="{{listaBotones[0]}}"></a>
    <a href="/logistica/historial/{{listaBotones[1]}}"><input type="button" value="{{listaBotones[1]}}"></a>
    <a href="/logistica/historial/{{listaBotones[2]}}"><input type="button" value="{{listaBotones[2]}}"></a>
    <a href="/logistica/historial/{{listaBotones[3]}}"><input type="button" value="{{listaBotones[3]}}"></a>
    <a href="/logistica/historial/{{listaBotones[4]}}"><input type="button" value="{{listaBotones[4]}}"></a>
    <a href="/logistica/historial/{{listaBotones[5]}}"><input type="button" value="{{listaBotones[5]}}"></a>
    <a href="/logistica/historial/{{listaBotones[6]}}"><input type="button" value="{{listaBotones[6]}}"></a>
    <a href="/logistica/historial/{{listaBotones[7]}}"><input type="button" value="{{listaBotones[7]}}"></a>
    <a href="/logistica/historial/{{listaBotones[8]}}"><input type="button" value="{{listaBotones[8]}}"></a>
    <a href="/logistica/historial/{{listaBotones[9]}}"><input type="button" value="{{listaBotones[9]}}"></a>
    <a href="/logistica/historial/{{listaBotones[10]}}"><input type="button" value="{{listaBotones[10]}}"></a>
    <a href="/logistica/historial/{{listaBotones[11]}}"><input type="button" value="{{listaBotones[11]}}"></a>
    <a href="/logistica/historial/{{listaBotones[12]}}"><input type="button" value="{{listaBotones[12]}}"></a>
    <a href="/logistica/historial/{{listaBotones[13]}}"><input type="button" value="{{listaBotones[13]}}"></a>
    <a href="/logistica/historial/{{listaBotones[14]}}"><input type="button" value="{{listaBotones[14]}}"></a>
    <a href="/logistica/historial/{{listaBotones[15]}}"><input type="button" value="{{listaBotones[15]}}"></a>
    {% endif %}

    <h4>{{mensaje_tabla}}</h4>
    {% if rendicion %}
    <br><h3>Cargar rendicion</h3>
    <form>
        <input type="text" id="chofer" placeholder="Chofer">
        <input type="file" id="foto">
        <button type="button" onclick="enviar()">Enviar</button>
    </form>
    
    {% endif %}
    <tr>
    {% for columna in columnas %}
        <td>{{columna}}</td>
    {% endfor %}
    </tr>

    {% for viaje in viajes %}
        <tr id="fila{{viaje.2}}">
            {% if historial %}
                <td>
                    <input type="submit" value="anular" onclick="confirmar('{{viaje.2}}')">
                    {% if viaje.17 != None and viaje.17 != "" %}
                    <form action="/image" method="post">
                        <input type="hidden" name="idFoto" value="{{viaje.17}}">
                        <input type="submit" name="Ver Foto" value="Ver Foto">
                    </form>
                    {% endif %}
                    {% if viaje.15 != None %}
                    <button onclick="window.open('https://www.google.com.ar/maps/place/{{viaje.15}}', '_blank')">Ver ubicacion</button>
                    {% endif %}
                </td>
            {% endif %}
            {% for x in viaje %}
            <td>{{x}}</td>
            {% endfor %}
            {% if rendicion %}
            <td>
                <form action="/historial/verrendicion" method="post">
                    <input type="hidden" name="idRendicion" value="{{viaje.0}}">
                    <input type="submit" value="Ver">
                </form>
            </td>
            {% endif %}
        </tr>
    {% endfor %}
    </table>
    {% if cobra %}
    <h4>A cobrar: {{cobra}}</h4>
    {% endif %}
</div>
{% endblock %}
