/*happiest store*/
#happiest-store {
  background-image: url(/static/img/happiest-store.png);
  background-size: cover;
  width: 100%;
  height: 35.625vw;
}

.happiest-text{
  padding-top: 4.688vw;
}

.text-container {
  text-align: center;
  position: relative;
  width: 50%;
  top: 0.625vw;
  left: 1.25vw;
  font-family: "Readex Pro";
  font-weight: medium;
  font-size: 3.125vw;
  color: #000000;
}

.text-subheader{
  color: #F26D36;
  text-align: center;
  font-family: Readex Pro;
  font-size: 1.25vw;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5vw; /* 200% */
  letter-spacing: -0.024vw;
}

.text-content {
  margin-top: 2%;
  margin-bottom: 2%;
  color: #000;
  text-align: center;
  font-family: Mukta;
  font-size: 1.875vw;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 2.813vw */
  letter-spacing: -0.041vw;
  width: 43.047vw;
  margin-left: auto;
  margin-right: auto;
}


/*sustainable styles*/
.sustainable-styles {
  background-color: #ffffff;
  display: flex;
  padding-top: 3.125vw;
  padding-bottom: 6.25vw;
}

.sustainableimg {
  margin: 2%;
  /*display: inline-block;*/
  float: left;
  height:58.594vw;
  width: 51.484vw;
}

.our-story {
  height:58.594vw;
  margin: 2%;
  border-radius: 0.469vw;
  /*float: right;*/
  /*display: inline-block;*/
  background-color: #C0E08E80;
}

.story-h1 {
  margin: 2%;
  margin-top: 5%;
  margin-left: 5%;
  color: #f26c34;
  font-family: "Arimo";
  font-size: 1.563vw;
  font-weight: 700;
  line-height: 150%; /* 30px */
  letter-spacing: -0.034vw;

}

.story-h2 {
  margin: 2%;
  margin-left: 5%;
  color: #000000;
  font-family: "Readex Pro";
  font-size: 3.125vw;
}

.story-content {
  margin: 2%;
  margin-left: 5%;
  margin-top: 5%;
  color: #000000;
  font-family: "Mukta";
  font-size: 1.875vw;
}

.story-btn {
  position: relative;
  margin-left: 4%;
  margin-top: 2%;
  margin-bottom: 4%;
  background-color: #f26c34;
  border-radius: 4.844vw;
  height: 4.063vw;
  width: 31.25vw;
  border: none;
  color: #FAF9F5;;
  font-family: "Arimo";
  font-weight: 700;
  font-size: 1.406vw;
  padding: 0.625vw 2.5vw;
  cursor: pointer;
  letter-spacing: -0.027vw;
  @media (max-width:720px) {
    font-weight: 500;
}
}

/*what we believe in*/
.values {
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 5%;
}

.valueheader1 {
  color: #79955f;
  font-family: "Arimo";
  font-weight: bold;
  font-size: 1.563vw;
  margin: 2%;
}

.valueheader2 {
  color: #000000;
  font-family: "Readex Pro";
  font-size: 3.125vw;
  margin: 2%;
}

.content-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 2%;
  column-gap: 7.813vw;
}

.item-container {
  font-family: "Readex Pro";
  color: #000000;
  font-weight: bold;
  font-size: 2.344vw;
}

.item-image {
  align-self: center;

}

.item-content {
  font-family: "Mukta";
  font-size: 1.875vw;
  color: #585858;
  font-weight: 400;
}

/*Boheme's stylish staff*/
h5 {
  color: #79955f;
  text-align: center;
  font-family: "Arimo";
  font-size: 1.563vw;
  font-style: normal;
  font-weight: 700;
  margin: 0vw 0vw 1.25vw 0vw;
  text-transform: uppercase;
}

h2 {
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: "Readex Pro";
  font-size: 3.125vw;
  font-style: normal;
  font-weight: 500;
  margin: 0vw;
}

.staff-title {
  margin-bottom: 5vw;
}

.staff-array {
  padding: 2.344vw 0vw;
  justify-content: center;
  display: flex;
  flex-direction: row;
  gap: 3vw;
  width: 100%;
  height: 40vw;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 5vw;
}

.staff-picture {
  width: auto;
  height: 100%;
  flex-shrink: 0;
  border-radius: 1.328vw;
}

/* yelp start */

.yelp-reviews-flex {
  display: flex;
  flex-direction: row;
  gap: 2vw;
  margin-top: 1vw;
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 2vw;
  padding: 2.344vw;
}

.yelp-review {
  display: flex;
  width: 20vw;
  padding: 1.875vw 2.5vw;
  flex-direction: column;
  gap: 0.391vw;
  border-radius: 1.563vw;
  border: black;
  border-width: 1;
  background: #f6f0e8;
}

.yelp-img {
  width: 7.813vw;
  height: 3.159vw;
  margin-left: 60%;
}

.yelp-content {
  overflow: hidden;
  color: #878787;
  text-overflow: ellipsis;
  font-family: "Seravek", sans-serif;
  font-size: 1.875vw;
  font-style: normal;
  font-weight: 400;
}

.yelp-content p {
  margin: 1.25vw 0;
}
/* yelp end */