html,body
{
  width: 100%;
  height: 100%;
  margin: 0vw;
  padding: 0vw;
  overflow-x: hidden; 
}

/*announcement starts*/
.bold-font{
  font-weight: 700;
}

#announcement{
  width: 100%;
  background-color: #FAF6F5;
  text-align: center;
  font-size:1.25vw;
  font-family: Arimo;
  font-size: 1.406vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5vw;
  color: #192126;
  padding-top: 1.25vw;
  padding-bottom: 1.25vw;
}

#announcement p{
  font-weight: 400;
  color: #192126;
}

#a-icon{
  margin-right: 0.938vw;
}

#underline{
  font-weight: 400;
  margin-left: 1.875vw;
  cursor: pointer;
  text-decoration: underline;
}

/*announcement ends*/

/*nav bar start*/
#nav-container {
  height: 6.25vw;
  width: 100%;
  background-color: #F26C34;
  color:#FAF6F5;
  padding-left: 3.75vw;
  padding-top: 1.25vw;
  z-index: 1000;
}

#nav-grid {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

#boheme-logo img{
  width: 9.609vw;
  height: auto;
  margin-right: 3.75vw;
}


.nav-item {
  font-family: "Arimo", sans-serif;
  font-size: 1.25vw;
  padding-top: 0.938vw;
  margin-right: 2.813vw;
  font-weight:700;
}

.nav-button {
  padding: 0.625vw 2.5vw;
  border-radius: 4.844vw;
  font-family: "Arimo", sans-serif;
  font-size: 1.25vw;
  cursor: pointer;
  font-weight: 700;
  margin-bottom: 0.938vw;
  outline: none;

}

#get-in-touch {
  background-color: #F26C34;
  border-color: #FAF6F5;
  color: #FAF6F5;
  margin-right: 1.25vw;
  border-style: solid;
}

#visit-store {
  background-color: #FAF6F5;
  color: #192126;
  display: flex;
  transition: all .3s ease;
  align-items: center;
  text-align: center;
  border: none;
  padding: 0.625vw 2.5vw;
  border-radius: 4.844vw;
  font-family: "Arimo", sans-serif;
  font-size: 1.25vw;
  border-color: #FAF6F5;
  cursor: pointer;
  font-weight: 700;
  margin-bottom: 0.938vw;
}


#visit-store > #arrow {
  width: 0.625vw;
  height: 0.625vw;
  border-right: 0.156vw solid #192126;
  border-bottom: 0.156vw solid #192126;
  position: relative;
  transform: rotate(-45deg);
  margin: 0 0.469vw;
  transition: all .3s ease;
}

#visit-store > #arrow::before {
  display: block;
  background-color: currentColor;
  width: 0.234vw;
  transform-origin: bottom right;
  height: 0.156vw;
  position: absolute;
  opacity: 0;
  bottom: calc(-0.156vw / 2);
  transform: rotate(45deg);
  transition: all .3s ease;
  content: "";
  right: 0;
}

#visit-store:hover > #arrow {
  transform: rotate(-45deg) translate(0.391vw, 0.391vw);
  border-color: text-hover-color;
}

#dropdown {
  overflow: visible;
}

#dropdown #dropbtn {
  font-family: "Arimo", sans-serif;
  font-size: 16px;
  padding-top: 4px;
  margin-right: 40px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.304px;
  border: none;
  outline: none;
  color: #faf6f5;
  background-color: inherit;
}

#arrow-down {
  border: solid #faf6f5;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
  margin-bottom: 3px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  margin-top: 4px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.304px;
}

#dropdown-content a {
  font-family: "Arimo", sans-serif;
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 1000;
  display: flex;
  height: 70px;
  padding: 0px 24px;
  align-items: center;
  gap: 10px;
}

#dropdown-content a:hover {
  background-color: #fdf5eb;
}

#dropdown:hover #dropdown-content {
  display: block;
  width: 330px;
  z-index: 1000;
}

/*nav bar end*/
/*happiest store*/
#happiest-store {
  background-image: url(/static/img/happiest-store.png);
  background-size: cover;
  width: 100%;
  height: 35.625vw;
}

.happiest-text{
  padding-top: 4.688vw;
}

.text-container {
  text-align: center;
  position: relative;
  width: 50%;
  top: 0.625vw;
  left: 1.25vw;
  font-family: "Readex Pro";
  font-weight: medium;
  font-size: 3.125vw;
  color: #000000;
}

.text-subheader{
  color: #F26D36;
  text-align: center;
  font-family: Readex Pro;
  font-size: 1.25vw;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5vw; /* 200% */
  letter-spacing: -0.024vw;
}

.text-content {
  margin-top: 2%;
  margin-bottom: 2%;
  color: #000;
  text-align: center;
  font-family: Mukta;
  font-size: 1.875vw;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 2.813vw */
  letter-spacing: -0.041vw;
  width: 43.047vw;
  margin-left: auto;
  margin-right: auto;
}


/*sustainable styles*/
.sustainable-styles {
  background-color: #ffffff;
  display: flex;
}

.sustainableimg {
  margin: 2%;
  /*display: inline-block;*/
  float: left;
}

.our-story {
  margin: 2%;
  border-radius: 0.469vw;
  /*float: right;*/
  /*display: inline-block;*/
  background-color: #C0E08E80;
}

.story-h1 {
  margin: 2%;
  margin-top: 5%;
  margin-left: 5%;
  color: #f26c34;
  font-family: "Arimo";
  font-size: 1.563vw;
  font-weight: 700;
  line-height: 150%; /* 30px */
  letter-spacing: -0.034vw;

}

.story-h2 {
  margin: 2%;
  margin-left: 5%;
  color: #000000;
  font-family: "Readex Pro";
  font-size: 3.125vw;
}

.story-content {
  margin: 2%;
  margin-left: 5%;
  margin-top: 5%;
  color: #000000;
  font-family: "Mukta";
  font-size: 1.875vw;
}

.story-btn {
  position: relative;
  margin-left: 4%;
  margin-top: 5%;
  background-color: #f26c34;
  border-radius: 4.844vw;
  height: 3.75vw;
  width: 27.188vw;
  border: none;
  color: #FAF9F5;;
  font-family: "Arimo";
  font-weight: 700;
  font-size: 1.406vw;
  padding: 0.625vw 2.5vw;
  cursor: pointer;
  letter-spacing: -0.027vw;
}

/*what we believe in*/
.values {
  background-color: #ffffff;
  text-align: center;
  margin-bottom: 5%;
}

.valueheader1 {
  color: #79955f;
  font-family: "Arimo";
  font-weight: bold;
  font-size: 1.563vw;
  margin: 2%;
}

.valueheader2 {
  color: #000000;
  font-family: "Readex Pro";
  font-size: 3.125vw;
  margin: 2%;
}

.content-container {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  padding: 2%;
  column-gap: 7.813vw;
}

.item-container {
  font-family: "Readex Pro";
  color: #000000;
  font-weight: bold;
  font-size: 2.344vw;
}

.item-image {
  align-self: center;

}

.item-content {
  font-family: "Mukta";
  font-size: 1.875vw;
  color: #585858;
  font-weight: 400;
}

/*Boheme's stylish staff*/
h5 {
  color: #79955f;
  text-align: center;
  font-family: "Arimo";
  font-size: 1.563vw;
  font-style: normal;
  font-weight: 700;
  margin: 0vw 0vw 1.25vw 0vw;
  text-transform: uppercase;
}

h2 {
  color: rgba(0, 0, 0, 0.8);
  text-align: center;
  font-family: "Readex Pro";
  font-size: 3.125vw;
  font-style: normal;
  font-weight: 500;
  margin: 0vw;
}

.staff-title {
  margin-bottom: 5vw;
}

.staff-array {
  padding: 2.344vw 0vw;
  display: flex;
  flex-direction: row;
  gap: 0.625vw;
  width: 100%;
  height: 23.438vw;
  overflow: auto;
  white-space: nowrap;
  margin-bottom: 5vw;
}

.staff-picture {
  width: 23.438vw;
  height: 23.438vw;
  flex-shrink: 0;
  background: #c0e08e;
  border-radius: 1.328vw;
}

/* yelp start */
.yelp-reviews-flex {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin: auto 80px;
}

.yelp-review {
  display: flex;
  width: 350px;
  padding: 24px 32px;
  flex-direction: column;
  gap: 5px;
  border-radius: 20px;
  border: black;
  border-width: 1;
  background: #f6f0e8;
}

.yelp-img {
  width: 100px;
  height: 40.43px;
  margin-left: 71%;
}

.yelp-content {
  overflow: hidden;
  color: #878787;
  text-overflow: ellipsis;
  font-family: "Seravek", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

.yelp-content p {
  margin: 16px 0;
}
/* yelp end */

/*footer start*/
#footer {
  background: #f26c34;
  color: #ffffff;
  padding-left: 3.75vw;
  padding-top: 1.25vw;
  padding-bottom: 1.25vw;
  width: 100%;
}

#footer-top {
  padding-left: 1.875vw;
  padding-bottom: 2.5vw;
  padding-top: 1.875vw;
  /* padding-top: 1.875vw; new change */
  width: 92.5vw;
  display: flex;
  flex-direction: row;
  border-bottom: 0.156vw solid white;
}

#footer-info {
  width: 50%;
  height: 8.125vw;
}

a:hover {
  color: white;
}

/*changed font*/
.bold-text-footer {
  color: #ffffff;
  font-family: Arimo, sans-serif;
  font-style: normal;
  font-size: 1.875vw;
  font-weight: 700;
  line-height: 2.5vw;
  letter-spacing: -0.036vw;
}

.text-footer {
  font-family: "Mukta";
  color: #ffffff;
  font-size: 1.563vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5vw;
  letter-spacing: -0.03vw;
}

.text-footer-right {
  padding-bottom: 1.875vw;
  cursor: pointer;
}

.title-text-footer {
  font-family: "Mukta";
  font-size: 2.5vw;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5vw;
  letter-spacing: -0.03vw;
  margin-bottom: 0;
  color: white;
}

#email-footer {
  width: 50%;
  height: 8.125vw;
  align-items: center;
  padding-top: 2.031vw;
}

#email-input {
  background-color: #f26c34;
  color: white;
  border: none;
  border-bottom: 0.156vw solid white;
  width: 27.578vw;
  height: 2.578vw;
  margin-left: 3.125vw;
  margin-right: 1.563vw;
}

::placeholder {
  color: #fff;
  font-family: "Mukta";
  font-size: 1.563vw;
  font-style: normal;
}

#email-button {
  color: #f26c34;
  font-family: "Mukta";
  font-weight: bold;
  font-size: 1.563vw;
  width: 11.484vw;
  height: 3.75vw;
  border-radius: 4.844vw;
  border-color: #f26c34;
  border-style: solid;
  background: #fff;
  font-size: 1.25vw;
  cursor: pointer;
  border: none;
  font-weight: 500;
  line-height: 2.5vw;
  letter-spacing: -0.03vw;
}

#footer-bottom {
  margin-top: 2.5vw;
  display: flex;
  flex-direction: row;
  padding-bottom: 2.5vw;
  /* padding-bottom: 2.5vw;  new change */
}

#footer-logo-container {
  color: #fafafa;
  font-family: "Readex Pro", sans-serif;
  font-size: 2.5vw;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  margin-right: 7.813vw;
  align-items: center;
  height: 7.031vw;
}

#footer-logo {
  width: 14.375vw;
  height: auto;
  margin-right: 1.25vw;
  filter: brightness(0) invert(1);
}

#footer-location-hours {
  margin-right: 9.766vw;
}

#footer-boheme {
  margin-right: 3.125vw;
}

#footer-services {
  margin-right: 3.125vw;
}

#footer-media {
  margin-right: 3.125vw;
}

.footer-follow-us {
  display: flex;
  flex-direction: row;
}

.footer-icon {
  width: 3.906vw;
  height: auto;
}

/* new change */
#copyright-footer {
  text-align: center;
  font-family: "Mukta";
  font-size: 1.406vw;
  padding-bottom: 1.25vw;
  letter-spacing: -0.024vw;
  text-transform: capitalize;
}
/* footer end */
