html,body
{
  width: 100%;
  height: 100%;
  margin: 0vw;
  padding: 0vw;
  overflow-x: hidden; 
}

/*announcement starts*/
.bold-font{
  font-weight: 700;
}

#announcement{
  height: 5vw;
  font-weight: 400;
  width: 100%;
  background-color: #FAF6F5;
  color: #192126;
  text-align: center;
  padding-top: 1.250vw;
}

#a-icon{
  margin-right: 0.938vw;
}

#underline{
  font-weight: 400;
  margin-left: 1.875vw;
  cursor: pointer;
  text-decoration: underline;
}

/*announcement ends*/

/*nav bar start*/
#nav-container {
  height: 6.250vw;
  width: 100%;
  background-color: #F26C34;
  color:#FAF6F5;
  padding-left: 3.750vw;
  padding-top: 1.250vw;
  z-index: 1000;
}

#nav-grid {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}

#boheme-logo img{
  width: 9.609vw;
  height: auto;
  margin-right: 3.750vw;
}


.nav-item {
  font-family: "Arimo", sans-serif;
  font-size: 1.250vw;
  padding-top: 0.938vw;
  margin-right: 2.813vw;
  font-weight:700;
}

.nav-button {
  padding: 0.625vw 2.500vw;
  border-radius: 4.844vw;
  font-family: "Arimo", sans-serif;
  font-size: 1.250vw;
  cursor: pointer;
  font-weight: 700;
  margin-bottom: 0.938vw;
  outline: none;

}

#get-in-touch {
  background-color: #F26C34;
  border-color: #FAF6F5;
  color: #FAF6F5;
  margin-right: 1.25vw;
  border-style: solid;
}

#visit-store {
  background-color: #FAF6F5;
  color: #192126;
  display: flex;
  transition: all .3s ease;
  align-items: center;
  text-align: center;
  border: none;
  padding: 0.625vw 2.5vw;
  border-radius: 4.844vw;
  font-family: "Arimo", sans-serif;
  font-size: 1.25vw;
  border-color: #FAF6F5;
  cursor: pointer;
  font-weight: 700;
  margin-bottom: 0.938vw;
}


#visit-store > #arrow {
  width: 0.625vw;
  height: 0.625vw;
  border-right: 0.156vw solid #192126;
  border-bottom: 0.156vw solid #192126;
  position: relative;
  transform: rotate(-45deg);
  margin: 0 0.469vw;
  transition: all .3s ease;
}

#visit-store > #arrow::before {
  display: block;
  background-color: currentColor;
  width: 0.234vw;
  transform-origin: bottom right;
  height: 0.156vw;
  position: absolute;
  opacity: 0;
  bottom: calc(-0.156vw / 2);
  transform: rotate(45deg);
  transition: all .3s ease;
  content: "";
  right: 0;
}

#visit-store:hover > #arrow {
  transform: rotate(-45deg) translate(0.391vw, 0.391vw);
  border-color: text-hover-color;
}

.dropdown{
  overflow: visible;
  padding-top: 2px;
  margin-left: -10px;
  margin-right: 24px;
  background-color: transparent;
}

#dropdownMenuButton1{
  font-family: "Arimo", sans-serif;
  font-size: 1.250vw;
  font-weight:700;
  line-height: 2.500vw;
  letter-spacing: -0.024vw;
  border: none;
  outline: none;
  color: #FAF6F5;
  background-color: inherit;
}

.dropdown-item{
  font-family: "Arimo", sans-serif;
  font-size: 1.250vw;
  font-weight:700;
  line-height: 2.500vw;
  letter-spacing: -0.024vw;
  color: black;
}


.dropdown-menu>li>a {
  float: none;
  color: black;
  text-decoration: none;
  display: block;
  text-align: left;
  z-index: 1000;
  display: flex;
  height: 5.469vw;
  align-items: center;
  gap: 0.781vw;
}

.dropdown-menu > li > a:hover {
  background-image: none;
  background-color: #FDF5EB;
  
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu {
  padding-top: 0;
  padding-bottom: 0;
}
#arrow-down{
  border: solid #FAF6F5;
  border-width: 0 0.234vw 0.234vw 0;
  display: inline-block;
  padding: 0.234vw;
  margin-left:0.781vw;
  margin-bottom: 0.234vw;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: -10px;
  width: 25.781vw;
  z-index: 1000;
}

/*nav bar end*/

#contact-img-containter img {
  width: 100%;
  height: 23.438vw;
}

/*Stop By Start*/
#stop-by-title {
  margin-top: 6.25vw;
  margin-bottom: 4.375vw;
  margin-left: 6.25vw;
  width: 100%;
}

h1 {
  color: #545859;
  font-family: "Readex Pro", sans-serif;
  font-size: 3.125vw;
  font-weight: 500;
  margin-bottom: 3.75vw;
}

h2 {
  color: #545859;
  font-family: "Arimo", sans-serif;
  font-size: 1.875vw;
  font-weight: 700;
}

p {
  color: #878787;
  font-family: "Mukta", sans-serif;
  font-size: 1.875vw;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0.781vw;
}

#stop-by-info-container {
  display: flex;
  flex-direction: row;
  margin: 0vw 6.25vw;
}

#stop-by-left {
  margin-right: 5vw;
  text-align: center;
  position: relative;
}

.directions {
  position: absolute;
  top: 19.531vw;
  left: 18vw;
  color: #fafafa;
  font-family: "Arimo", sans-serif;
  font-size: 1.25vw;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "seravekmedium";
  font-weight: bold;
  width: 15.391vw;
  height: 3.75vw;
  border-radius: 4.844vw;
  border-color: #f26c34;
  border-style: solid;
  background: #f26c34;
  font-size: 1.25vw;
  cursor: pointer;
  border: none;
  margin-top: 2.5vw;
  padding: 0.625vw 2.5vw;
}

#stop-by-left iframe {
  width: 50.047vw;
  height: 28.828vw;
  border-radius: 1.563vw;
  margin-bottom: 1.875vw;
}

.stop-by {
  margin-bottom: 1.953vw;
}

#icon-c {
  height: 4.564vw;
  width: 4.564vw;
  margin-right: 2.5vw;
}
/*Stop By End*/

/* Get in Touch Start */
#get-in-touch-container {
  margin: 6.875vw 6.25vw;
}

#get-in-touch-container p {
  margin-bottom: 3.75vw;
}

h4 {
  color: #545859;
  font-family: "Readex Pro", sans-serif;
  font-size: 3.125vw;
  font-weight: 500;
  margin-bottom: 1.25vw;
}

.input-div {
  margin-bottom: 2.5vw;
}

.input-div h2 {
  margin-bottom: 1.406vw;
}

.input-div input {
  padding: 1.406vw;
  border-radius: 1.563vw;
  border: 0.234vw solid #dedede;
  width: 100%;
  height: 5.313vw;
  color: #878787;
  font-family: "seravekregular";
  font-size: 1.875vw;
  font-weight: 400;
  text-align: left;
}

.input-div textarea {
  padding: 1.406vw;
  border-radius: 1.563vw;
  border: 0.234vw solid #dedede;
  width: 100%;
  height: 11.719vw;
  color: #878787;
  font-family: "seravekregular";
  font-size: 1.875vw;
  font-weight: 400;
  text-align: left;
}

.subscribe {
  display: flex;
  flex-direction: row;
}

input[type="checkbox"] {
  width: 1.875vw;
  height: 1.875vw;
  border-radius: 0.625vw;
  border: 0.234vw solid #545859;
  margin: 0.469vw 0.195vw 0vw 0vw;
}

.g-recaptcha {
  transform: scale(1.5);
  transform-origin: 0 0;
}

.grecaptcha-badge {
  display: none !important;
}

#submit-button {
  color: #fafafa;
  font-family: "Arimo", sans-serif;
  font-size: 1.25vw;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-family: "seravekmedium";
  font-weight: bold;
  width: 9.688vw;
  height: 3.75vw;
  border-radius: 4.844vw;
  border-color: #f26c34;
  border-style: solid;
  background: #f26c34;
  font-size: 1.25vw;
  cursor: pointer;
  border: none;
  margin-top: 2.5vw;
  padding: 0.625vw 2.5vw;
}

/* Get in Touch End */
/* FAQ Start */
#faq {
  background-color: #ffffff;
  margin: 6%;
  width: 90%;
}
.faqh {
  font-family: "Readex Pro";
  font-size: 3.125vw;
  color: #545859;
  margin-bottom: 0;
}
.collapsible {
  background-color: #ffffff;
  color: #545859;
  cursor: pointer;
  padding: 3.906vw;
  width: 100%;
  border: none;
  text-align: left;
  padding-left: 0;
  outline: none;
  font-size: 1.875vw;
  font-family: "Readex Pro";
}

.active,
.collapsible:hover {
  background-color: #ffffff;
}

.collapsible::after {
  content: "\002B";
  color: #f26c34;
  float: right;
  font-family: "Readex Pro";
  margin-left: 0.391vw;
}

.active::after {
  content: "\2212";
}

.content {
  margin-left: 0;
  border-bottom: 0.078vw solid #545859;
  padding: 0 1.406vw;
  padding-left: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #ffffff;
  font-family: "Readex Pro";
  color: #878787;
  font-size: 1.875vw;
}
/* hyperlink styling */
a:link {
  color: #545859;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #545859;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #545859;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #545859;
  background-color: transparent;
  text-decoration: underline;
}
/*FAQ End */

/*footer start*/
#footer {
  background: #F26C34;    
  color: #ffffff;
  padding-left:3.750vw;
  padding-top: 1.250vw;
  padding-bottom: 1.250vw;
  width: 100%;
}

#footer-top {
  padding-left: 1.875vw;
  padding-bottom:2.500vw;
  padding-top: 1.875vw;
  /* padding-top: 1.875vw; new change */
  width:92.500vw;
  display: flex;
  flex-direction: row;
  border-bottom:0.156vw solid white;
}

#footer-info {
  width: 50%;
  height:8.125vw;
}

a:hover {color:white}

/*changed font*/
.bold-text-footer {
  color: #FFF;
  font-family: "Arimo", sans-serif;
  font-style: normal;
  font-size: 1.875vw;
  font-weight: 700;
  line-height:2.500vw;
  letter-spacing: -0.036vw;
}

.text-footer {
  font-family: "Mukta", sans-serif;
  font-size: 1.563vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5vw; /* 160% */
  letter-spacing: -0.03vw;
  color: white;
}

.text-footer-right {
  padding-bottom: 1.875vw;
  cursor: pointer;
}


#email-footer {
  width: 50%;
  height:8.125vw;
  align-items: center;
  padding-top: 2.031vw;
}

#email-input {
  background-color: #F26C34;
  color: white;
  border: none;
  border-bottom:0.156vw solid white;
  width: 27.578vw;
  height: 2.578vw;
  margin-left:3.125vw;
  margin-right: 1.563vw;
}

::placeholder {
  color: #FFF;
  font-family: "Mukta", sans-serif;
  font-size: 1.563vw;
  font-style: normal;
  font-weight: 400;
  line-height: 142.523%; /* 28.505px */
}

#email-button {
  color: #F26C34;
  font-family: "Mukta", sans-serif;
  font-size: 1.563vw;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5vw; /* 160% */
  letter-spacing: -0.03vw;
  width:11.484vw;
  height:3.750vw;
  border-radius:4.844vw;
  border-color: #F26C34;
  border-style: solid;
  background: #FFF;
  cursor: pointer;
  border: none;
 
}

#footer-bottom {
  margin-top:2.500vw;
  display: flex;
  flex-direction: row;
  padding-bottom:2.500vw;
  /* padding-bottom:2.500vw;  new change */
}

#footer-logo-container {
  color: #FAFAFA;
  font-family: "Readex Pro", sans-serif;
  font-size:2.500vw;
  font-weight: 400;
  display: flex;
  flex-direction: row;
  margin-right:7.813vw;
  align-items: center;
  height: 7.031vw;
}

#footer-logo {
  width: 14.375vw;
  height: auto;
  margin-right: 1.250vw;
  filter: brightness(0) invert(1);
}

#footer-location-hours {
  margin-right: 9.766vw;
}

#footer-boheme {
  margin-right:3.125vw;
}

#footer-services {
  margin-right:3.125vw;
}

#footer-media {
  margin-right:3.125vw;
}

.footer-follow-us {
  display: flex;
  flex-direction: row;
}

.footer-icon {
  width:3.906vw;
  height: auto;
}

/* new change */
#copyright-footer{
  text-align: center;
  font-family: "Mukta",sans-serif;
  font-size: 1.406vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5vw; /* 200% */
  letter-spacing: -0.024vw;
  padding-bottom: 1.250vw;
  text-transform: capitalize;
}


/*footer end*/