#contact-img-containter img {
  width: 100%;
  height: 23.438vw;
}

/*Stop By Start*/
#stop-by-title {
  margin-top: 6.25vw;
  margin-bottom: 4.375vw;
  margin-left: 6.25vw;
  width: 100%;
}

h1 {
  color: #545859;
  font-family: "Readex Pro", sans-serif;
  font-size: 3.125vw;
  font-weight: 500;
  margin-bottom: 3.75vw;
}

h2 {
  color: #545859;
  font-family: "Arimo", sans-serif;
  font-size: 1.875vw;
  font-weight: 700;
}

p {
  color: #878787;
  font-family: "Mukta", sans-serif;
  font-size: 1.875vw;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 0.781vw;
}

#stop-by-info-container {
  display: flex;
  flex-direction: row;
  margin: 0vw 6.25vw;
}

#stop-by-left {
  margin-right: 5vw;
  text-align: center;
  position: relative;
}

.directions {
  position: absolute;
  top: 19.531vw;
  left: 18vw;
  color: #fafafa;
  font-family: "Arimo", sans-serif;
  font-size: 1.25vw;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-weight: bold;
  width: 15.391vw;
  height: 3.75vw;
  border-radius: 4.844vw;
  border-color: #f26c34;
  border-style: solid;
  background: #f26c34;
  font-size: 1.25vw;
  cursor: pointer;
  border: none;
  margin-top: 2.5vw;
  @media (max-width:720px) {
    font-weight: 500;
}
}

#stop-by-left iframe {
  width: 50.047vw;
  height: 28.828vw;
  border-radius: 1.563vw;
  margin-bottom: 1.875vw;
}

.stop-by {
  margin-bottom: 1.953vw;
}

#icon-c {
  height: 4.564vw;
  width: 4.564vw;
  margin-right: 2.5vw;
  cursor: pointer;
}
/*Stop By End*/

/* Get in Touch Start */
#get-in-touch-container {
  margin: 6.875vw 6.25vw;
}

#get-in-touch-container p {
  margin-bottom: 3.75vw;
}

h4 {
  color: #545859;
  font-family: "Readex Pro", sans-serif;
  font-size: 3.125vw;
  font-weight: 500;
  margin-bottom: 1.25vw;
}

.input-div {
  margin-bottom: 2.5vw;
}

.input-div h2 {
  margin-bottom: 1.406vw;
}

.input-div input {
  padding: 1.406vw;
  border-radius: 1.563vw;
  border: 0.234vw solid #dedede;
  width: 100%;
  height: 5.313vw;
  color: #878787;
  font-family: "seravekregular";
  font-size: 1.875vw;
  font-weight: 400;
  text-align: left;
}

.input-div textarea {
  padding: 1.406vw;
  border-radius: 1.563vw;
  border: 0.234vw solid #dedede;
  width: 100%;
  height: 11.719vw;
  color: #878787;
  font-family: "seravekregular";
  font-size: 1.875vw;
  font-weight: 400;
  text-align: left;
}

.subscribe {
  display: flex;
  flex-direction: row;
}

input[type="checkbox"] {
  width: 1.875vw;
  height: 1.875vw;
  border-radius: 0.625vw;
  border: 0.234vw solid #545859;
  margin: 0.469vw 0.195vw 0vw 0vw;
}

.g-recaptcha {
  transform: scale(1.5);
  transform-origin: 0 0;
}

.grecaptcha-badge {
  display: none !important;
}

.captcha-submit {
  margin-top: 1vw;
  margin-bottom: 1vw;
}

#submit-button {
  color: #fafafa;
  font-family: "Arimo", sans-serif;
  font-size: 1.25vw;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  font-weight: bold;
  width: 9.688vw;
  height: 3.75vw;
  border-radius: 4.844vw;
  border-color: #f26c34;
  border-style: solid;
  background: #f26c34;
  font-size: 1.25vw;
  cursor: pointer;
  border: none;
  padding: 0.625vw 2.5vw;
  @media (max-width:720px) {
    font-weight: 500;
}
}

/* Get in Touch End */
/* FAQ Start */
#faq {
  background-color: #ffffff;
  margin: 6%;
  width: 90%;
}
.faqh {
  font-family: "Readex Pro";
  font-size: 3.125vw;
  color: #545859;
  margin-bottom: 0;
}
.collapsible {
  background-color: #ffffff;
  color: #545859;
  cursor: pointer;
  padding: 3.906vw;
  width: 100%;
  border: none;
  text-align: left;
  padding-left: 0;
  outline: none;
  font-size: 1.875vw;
  font-family: "Readex Pro";
}

.active,
.collapsible:hover {
  background-color: #ffffff;
}

.collapsible::after {
  content: "\002B";
  color: #f26c34;
  float: right;
  font-family: "Readex Pro";
  margin-left: 0.391vw;
}

.active::after {
  content: "\2212";
}

.content {
  margin-left: 0;
  border-bottom: 0.078vw solid #545859;
  padding: 0 1.406vw;
  padding-left: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #ffffff;
  font-family: "Readex Pro";
  color: #878787;
  font-size: 1.875vw;
}
/* hyperlink styling */
a:link {
  color: #545859;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color: #545859;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: #545859;
  background-color: transparent;
  text-decoration: underline;
}
a:active {
  color: #545859;
  background-color: transparent;
  text-decoration: underline;
}
/*FAQ End */