/*carousel start*/
.carousel-body{
    max-height: 37.500vw;
    overflow:hidden;
    z-index: -100;
}

.carousel-inner {
    background-color: #1e3722;
    max-height: 37.500vw;
    width: 100%;
    overflow: hidden;
    z-index: -100;
 }
 
 .carousel-inner > .item > img {
     margin: 0 auto;
     z-index: -100;
 }

 #indicators{
    width: 0.938vw;
    height: 0.938vw;
    border-radius: 78.047vw;
    margin: 95vh 0.469vw 0 0.469vw;
    overflow: hidden;
    z-index: -100;
 } 

 .carousel-control-prev {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 5vw;
    background-color: white;
    border: none;
    width: 2.5vw;
    font-size: 3.75vw;
    padding: 0;
    opacity: 0.5;
    transition: opacity 100ms;
    left: 0;
    padding-left: 0.938vw;
    border-radius: 0 2.5vw 2.5vw 0;
    overflow: hidden;
    z-index: -100;
}

#prev-arrow{
    border: solid black;
    border-width: 0 0.234vw 0.234vw 0;
    display: inline-block;
    padding: 0.234vw;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    overflow: hidden;
    z-index: -100;
}

#next-arrow{
    border: solid black;
    border-width: 0 0.234vw 0.234vw 0;
    display: inline-block;
    padding: 0.234vw;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 0.469vw;
    overflow: hidden;
    z-index: -100;
}

.carousel-control-next{
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 5vw;
    background-color: white;
    border: none;
    width: 2.5vw;
    font-size: 3.75vw;
    padding: 0;
    opacity: 0.5;
    transition: opacity 100ms;
    right: 0;
    padding-left: 0.938vw;
    border-radius: 2.5vw 0 0 2.5vw;
    overflow: hidden;
    z-index: -100;
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,.carousel-control-next:hover,.carousel-control-next:focus {
  opacity: 1;
}


/*carousel end*/

/* minibar start */
.minibar-container {
    width:100vw;
    padding: 1.250vw 0vw;
    background-color: #EDEDED;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
  
.minibar-scroll {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    margin-left: 0.625vw;
    margin-right: 0.625vw;
}

.minibar-scroll div {
    display: flex;
    gap: 1.250vw;
}
  
.left-to-right {
    animation: left-to-right 20s infinite linear;
    margin-left: 0.625vw;
}

@keyframes left-to-right {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

.minibar-text {
    color: #192126;
    font-family: "Arimo", sans-serif;
    font-size: 1.563vw;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

.img-minibar {
    height: 1.875vw;
    width: 1.875vw;
}

/* minibar end */

/* store title start */
#store-container{
    width: 100%;
    height: 46.953vw;
    background-image: url("/static/img/davisstore.png");
    background-size: cover;

}
#store-title{
    display: flex;
    gap: 1.875vw;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    background: rgba(255, 255, 255, 0.85);
    height: 11.484vw;
}
#title-container{
    display: flex;
    width: 51.172vw;
    height: 6.250vw;
    padding: 1.875vw 0vw;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#title-container h2{
    color: #878787;
    text-align: center;
    font-family: "Arimo";
    font-size: 1.563vw;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    justify-content: center;
}

#title-container h1{
    color:#545859;
    text-align: center;
    font-family: "Readex Pro";
    font-size:3.125vw;
    font-style: normal;
    font-weight: 500;
}
#readerchoice{
    display:flex;
    width: 9.609vw;
    height: 9.609vw;
    align-items: flex-start;
    gap: 0.469vw;
    object-fit: contain;
    filter: grayscale(100%);
}

#store-subheader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding-top: 1.875vw;
    padding-bottom: 1.875vw;
    background: rgba(255, 255, 255, 0.85);
}

#store-subheader p{
    color: #545859;
    font-family: "Arimo";
    font-size: 1.875vw;
    font-style: normal;
    font-weight: 400;
}

#store-bttn{
display: flex;
justify-content: center;
align-items: center;
gap: 1.250vw;
}

#store-hr{
    display: flex;
    padding:0.625vw 2.500vw;
    justify-content: center;
    align-items: center;
    gap:0.781vw;
    color: #191919;
    border-radius:4.844vw;
    border:0.078vw solid #191919;
    background-color: transparent;
    font-family: "Arimo";
    font-size: 1.250vw;
    font-weight: 700;
    line-height: 2.500vw; /* 200% */
    letter-spacing: -0.024vw;
    cursor: pointer;
}

#visitbttn{
    display: flex;
    padding:0.625vw 2.500vw;
    justify-content: center;
    align-items: center;
    gap: 0.781vw;
    color: #FAFAFA;
    border-radius:4.844vw;
    border:0.078vw solid #014337;
    background: #192126;    
    font-family: "Arimo";
    font-size: 1.250vw;
    font-weight: 700;
    line-height:2.500vw; /* 200% */
    letter-spacing: -0.024vw;
    cursor: pointer;
}
/* store title end */

/* buy sell trade start */
#new-inventory {
    color: #ffffff;
  }
  .header1 {
    font-size: 1.563vw;
    font-family: "Arimo", sans-serif;
    color: #79955F;
    text-align: center;
    padding-top:2.813vw;
    font-weight: 700;
  }
  .header2 {
    font-size:3.125vw;
    font-family: "Readex Pro", sans-serif;
    color: #545859;
    text-align: center;
    padding-bottom: 1.875vw;
    font-weight: 500;
  }
  .grid-container {
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto auto;
  }
  .grid-header {
    font-family: "Readex Pro", sans-serif;
    font-size:2.344vw;
    color: #000000;
  }
  .grid-desc{
    margin-top: 1.172vw;
    margin-bottom:1.172vw;
  }
  .grid-item {
    font-family: "Mukta", sans-serif;
    font-size: 1.875vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 2.813vw */
    letter-spacing: 0.028vw;
    color: #545859;
  }

  .icon {
    width:11.719vw;
    height: auto;
  }
  .grid2-container {
    column-gap:1.953vw;
    display: grid;
    grid-template-columns: auto auto;
  }
  .left-grid-item {
    font-family: "Mukta", sans-serif;
    font-size: 1.875vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5vw; /* 133.333% */
    letter-spacing: -0.009vw;
    color: #545859;
    text-align: left;
  }
  .right-grid-item {
    font-family: "Mukta", sans-serif;
    font-size: 1.875vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5vw; /* 133.333% */
    letter-spacing: -0.028vw;
    color: #545859;
    text-align: right;
  }
  .orangead {
    font-family: "Mukta", sans-serif;
    font-size: 1.875vw;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5vw;
    letter-spacing: -0.009vw;
    color: #F26C34;
    display: inline-block;
  }
  .linktext {
    font-family: "Arimo", sans-serif;
    color: #F26C34;
  }
  .invbutton {
    display: flex;
    padding:0.625vw 2.500vw;
    justify-content: center;
    align-items: center;
    border-radius:4.844vw;
    border:0.078vw solid #000000;
    background: #ffffff;
    color: #000000;
    font-family: "Arimo", sans-serif;
    font-size: 1.250vw;
    font-weight: 700;
    line-height:2.500vw; /* 177.778% */
    letter-spacing: -0.024vw;
    cursor: pointer;

  }
  .buttonpos {
    display: flex;
    padding-top: 1.875vw;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding-bottom:3.750vw;
  }

/* buy sell trade end*/
/*gift guide start*/
#gift-guide{
    width: 100%;
    height:23.438vw;
    background-color: #FFF5BF;
}

#box-row{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#box1{
    background-color: #FFB524;
    width:15.625vw;
    height:23.438vw;
    border-radius: 0vw 0vw 39.063vw 0vw;
    top:0;
    left: 0;
    position: relative;
}

#gift-call{
    margin-left: 1.875vw;
    margin-right: 1.875vw;
    margin-top:5.234vw;
    height:12.969vw;
    width:65vw;
}

#bold-call{
    font-family: "Readex Pro", sans-serif;
    font-size:3.125vw;
    line-height:2.500vw;
    letter-spacing: -0.059vw;
    text-align: center;
    color: #545859;
    margin-bottom: 1.875vw;
}

#lower-call{
    font-family: "Arimo", sans-serif;
    font-size: 1.875vw;
    color: #878787;
    line-height:2.500vw;
    letter-spacing: -0.036vw;
    text-align: center;
    margin-bottom:2.344vw;
}

#guide-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.781vw;
    align-self: stretch;
}

#guide-button{
    display: flex;
    padding:0.625vw 2.500vw;
    justify-content: center;
    align-items: center;
    gap:0.781vw;
    border-radius:4.844vw;
    border:0.078vw solid #014337;
    background: #192126;
    color:white;
    font-family: "Arimo", sans-serif;
    font-size:1.406vw;
    line-height:2.500vw;
    letter-spacing: -0.027vw;
    cursor: pointer;

}

#box2{
    background-color: #FFB524;
    width:15.625vw;
    height:23.438vw;
    border-radius: 39.063vw 0vw 0vw 0vw;
    top:0;
    right: 0;
    position: relative;
}


/*gift guide end*/

/* sustainability start */
#sustainability-container{
    width: 100%;
    flex-direction: row;
    height:63.75vw;
    padding-left: 6.25vw;
    padding-right: 6.25vw;
}

#sustain-1{
    float:left;
    width:50%;
    flex-direction:row;
    width: 46.875vw;
    display: flex;
    flex-wrap: wrap;
}

#block-image{
    height:22.266vw;
    width:22.109vw;
    margin-right: 1.25vw;
    margin-bottom: 1.25vw;
    border-radius: 0.469vw;
}

#sustain-2{
    float:left;
    width:50%;
    width: 35.156vw;
    margin-left: 1.875vw;
}

#sustain-box{
    justify-content: center;
    align-items: center;
    width: 39.453vw;
    margin-bottom: 1.875vw;
    margin-top: 6.563vw;
}

#sustain-icon{
    background-image: url("/static/img/sustain-icon.png");
    background-size: cover;
    width: 10.547vw;
    height: 10.547vw;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#sustainability {
    padding:3.750vw 0vw;
    flex-direction: column;
    width: 100%;
}

#sustainability h2{
    color: #79955F;
    text-align: center;
    font-family: "Arimo", sans-serif;
    font-size: 1.563vw;
    font-weight: 700;
    line-height:2.500vw;
    letter-spacing: -0.03vw;
    text-transform: uppercase;
    padding-bottom:0.625vw;
}

#sustainability h1{
    color: #545859;
    text-align: center;
    font-family: "Readex Pro", sans-serif;
    font-size:3.125vw;
    font-weight: 500;
    line-height:2.500vw;
    letter-spacing: -0.059vw;
}

#sustainability-passage{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.875vw;
    width: 100%;
    height:11.719vw;
    width: 39.453vw;
}

#sustainability-passage p{
    color: #545859;
    text-align: center;
    font-family: "Mukta", sans-serif;
    font-size: 1.563vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: -0.023vw;
    word-wrap: break-word;
}

#sustain-call{
    display: flex;
    padding-top: 1.875vw;
    justify-content: center;
    align-items: center;
    gap: 1.250vw;
    align-self: stretch;
    padding-bottom:3.750vw;
    color: #79955F;
    text-align: center;
    font-family: "Mukta", sans-serif;
    font-size: 1.563vw;
    font-style: italic;
    font-weight: 400;
    line-height: 150%; /* 2.344vw */
    letter-spacing: -0.03vw;
    width: 39.453vw;

}

#side1{
display: flex;
    padding-right:0.625vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1 0 0;
}

#side2{
    display: flex;
    padding-left:0.625vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
}

#get-in-touch-button{
    display: flex;
    padding:0.625vw 2.500vw;
    justify-content: center;
    align-items: center;
    border-radius:4.844vw;
    border:0.078vw solid #545859;
    color: #545859;
    background-color: #FFF;
    font-family: "Arimo", sans-serif;
    font-size: 1.250vw;
    font-weight: 700;
    line-height:2.500vw; /* 200% */
    letter-spacing: -0.024vw;
    cursor: pointer;
}

#donate-button{
    display: flex;
    padding:0.625vw 2.500vw;
    justify-content: center;
    align-items: center;
    border-radius:4.844vw;
    border:0.078vw solid #F26C34;
    background: #F26C34;
    color: #FFF;
    font-family: "Arimo", sans-serif;
    font-size:1.406vw;
    font-weight: 700;
    line-height:2.500vw; /* 177.778% */
    letter-spacing: -0.027vw;
    cursor: pointer;
}
/* sustainability end */

/* community section start */
#community-container {
    background-color: white;
    text-align: center;
}

#community-title {
    padding:3.750vw 0vw;
}

#community-title h2 {
    color: #79955F;
    font-family: "Arimo", sans-serif;
    font-size: 1.563vw;
    font-weight: 700;
}

#community-title h1 {
    color: #545859;
    font-family: "Readex Pro", sans-serif;
    font-size:3.125vw;
    font-weight: 500;
}

.community-img {
    gap: 1.250vw;
    display: flex;
    flex-direction: row;
    border-radius: 0.469vw;
    width:24.219vw;
    height:24.219vw;
}

#community-social {
    padding:3.750vw 0vw;
}

#community-social h3 {
    font-family: "Mukta", sans-serif;
    font-size: 1.875vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5vw; /* 133.333% */
    letter-spacing: -0.028vw;
    padding-bottom:1.406vw;
    color: #878787;
}

#community-social img {
    padding: 0vw 0.625vw;
}


/* community section end */


/* trade/background section start */
#trade-background {
    background-image: url("/static/img/background-trade.png");
    background-size: cover;
    width:100vw;
    height:23.438vw;
}

#trade-text-align {
    text-align: center;
    float: left;
    width:62.734vw;
    margin-top:4.297vw;
}

#trade-h1 {
    color: var(--nav-text, #545859);
    font-family: "Readex Pro", sans-serif;
    font-size:3.125vw;
    font-style: normal;
    font-weight: 500;
    line-height:2.500vw;
    letter-spacing: -0.059vw;
    margin-bottom: 1.875vw;
}

#trade-h2 {
    color: #878787;
    font-family: "Arimo", sans-serif;
    font-size: 1.563vw;
    font-style: normal;
    font-weight: 700;
    line-height:2.500vw;
    letter-spacing: -0.03vw;
    text-transform: uppercase;
    margin-bottom: 1.250vw;
}

#trade-h3 {
    color: #878787;
    text-align: center;
    font-family: "Arimo", sans-serif;
    font-size: 1.875vw;
    font-style: normal;
    font-weight: 400;
    line-height:2.500vw;
    letter-spacing: -0.036vw;
}
/* trade/background section end */