html,body
  {
    width: 100%;
    height: 100%;
    margin: 0vw;
    padding: 0vw;
    overflow-x: hidden; 
  }
  
  /*announcement starts*/
  .bold-font{
    font-weight: 700;
  }
  
  #announcement{
    height: 5vw;
    width: 100%;
    background-color: #FAF6F5;
    text-align: center;
    padding-top: 1.250vw;
    font-size:1.25vw;
  }

  #announcement p{
    font-weight: 400;
    color: #192126;
  }
  
  #a-icon{
    margin-right: 0.938vw;
  }
  
  #underline{
    font-weight: 400;
    margin-left: 1.875vw;
    cursor: pointer;
    text-decoration: underline;
  }
  
  /*announcement ends*/
  
  /*nav bar start*/
  #nav-container {
    height: 6.250vw;
    width: 100%;
    background-color: #F26C34;
    color:#FAF6F5;
    padding-left: 3.750vw;
    padding-top: 1.250vw;
    z-index: 1000;
  }
  
  #nav-grid {
    display: flex;
    flex-direction: row;
    cursor: pointer;
  }
  
  #boheme-logo img{
    width: 9.609vw;
    height: auto;
    margin-right: 3.750vw;
  }
  
  
  .nav-item {
    font-family: "Arimo", sans-serif;
    font-size: 1.250vw;
    padding-top: 0.938vw;
    margin-right: 2.813vw;
    font-weight:700;
  }
  
  .nav-button {
    padding: 0.625vw 2.500vw;
    border-radius: 4.844vw;
    font-family: "Arimo", sans-serif;
    font-size: 1.250vw;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 0.938vw;
    outline: none;
  
  }
  
  #get-in-touch {
    background-color: #F26C34;
    border-color: #FAF6F5;
    color: #FAF6F5;
    margin-right: 1.25vw;
    border-style: solid;
  }
  
  #visit-store {
    background-color: #FAF6F5;
    color: #192126;
    display: flex;
    transition: all .3s ease;
    align-items: center;
    text-align: center;
    border: none;
    padding: 0.625vw 2.5vw;
    border-radius: 4.844vw;
    font-family: "Arimo", sans-serif;
    font-size: 1.25vw;
    border-color: #FAF6F5;
    cursor: pointer;
    font-weight: 700;
    margin-bottom: 0.938vw;
  }
  
  
  #visit-store > #arrow {
    width: 0.625vw;
    height: 0.625vw;
    border-right: 0.156vw solid #192126;
    border-bottom: 0.156vw solid #192126;
    position: relative;
    transform: rotate(-45deg);
    margin: 0 0.469vw;
    transition: all .3s ease;
  }
  
  #visit-store > #arrow::before {
    display: block;
    background-color: currentColor;
    width: 0.234vw;
    transform-origin: bottom right;
    height: 0.156vw;
    position: absolute;
    opacity: 0;
    bottom: calc(-0.156vw / 2);
    transform: rotate(45deg);
    transition: all .3s ease;
    content: "";
    right: 0;
  }
  
  #visit-store:hover > #arrow {
    transform: rotate(-45deg) translate(0.391vw, 0.391vw);
    border-color: text-hover-color;
  }
  
  .dropdown{
    overflow: visible;
    padding-top: 2px;
    margin-left: -10px;
    margin-right: 24px;
    background-color: transparent;
  }

  #dropdownMenuButton1{
    font-family: "Arimo", sans-serif;
    font-size: 1.250vw;
    font-weight:700;
    line-height: 2.500vw;
    letter-spacing: -0.024vw;
    border: none;
    outline: none;
    color: #FAF6F5;
    background-color: inherit;
  }
  
  .dropdown-item{
    font-family: "Arimo", sans-serif;
    font-size: 1.250vw;
    font-weight:700;
    line-height: 2.500vw;
    letter-spacing: -0.024vw;
    color: black;
  }


  .dropdown-menu>li>a {
    float: none;
    color: black;
    text-decoration: none;
    display: block;
    text-align: left;
    z-index: 1000;
    display: flex;
    height: 5.469vw;
    align-items: center;
    gap: 0.781vw;
  }
  
  .dropdown-menu > li > a:hover {
    background-image: none;
    background-color: #FDF5EB;
    
}
.dropdown-toggle::after {
    display: none;
}
.dropdown-menu {
    padding-top: 0;
    padding-bottom: 0;
 }
#arrow-down{
    border: solid #FAF6F5;
    border-width: 0 0.234vw 0.234vw 0;
    display: inline-block;
    padding: 0.234vw;
    margin-left:0.781vw;
    margin-bottom: 0.234vw;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: -10px;
    width: 25.781vw;
    z-index: 1000;
  }
  
  /*nav bar end*/

/*carousel start*/

.carousel-body{
    max-height: 37.500vw;
    overflow: hidden;
    z-index: -1000;
}

.carousel-inner {
    background-color: #1e3722;
    max-height: 37.500vw;
    width: 100%;
    overflow: hidden;
 }
 
 .carousel-inner > .item > img {
     margin: 0 auto;
 }

 #indicators{
    width: 0.938vw;
    height: 0.938vw;
    border-radius: 78.047vw;
    margin: 95vh 0.469vw 0 0.469vw;
 } 

.carousel-control-prev {
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    opacity: 0.5;
    transition: opacity 100ms;
    left: 0;
    padding-left: 0.25rem;
    border-radius: 0 2rem 2rem 0;
}

#prev-arrow{
    border: solid black;
    border-width: 0 0.234vw 0.234vw 0;
    display: inline-block;
    padding: 0.234vw;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    margin-left: 0.469vw;
}

#next-arrow{
    border: solid black;
    border-width: 0 0.234vw 0.234vw 0;
    display: inline-block;
    padding: 0.234vw;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    margin-right: 0.469vw;
}

.carousel-control-next{
    position: absolute;
    display: flex;
    top: 0;
    bottom: 0;
    margin: auto;
    height: 4rem;
    background-color: white;
    border: none;
    width: 2rem;
    font-size: 3rem;
    padding: 0;
    opacity: 0.5;
    transition: opacity 100ms;
    right: 0;
    padding-left: 0.75rem;
    border-radius: 2rem 0 0 2rem;
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,.carousel-control-next:hover,.carousel-control-next:focus {
  opacity: 1;
}

/*carousel end*/

/* minibar start */
.minibar-container {
    width:100vw;
    padding: 1.250vw 0vw;
    background-color: #EDEDED;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
  
.minibar-scroll {
    display: flex;
    flex-direction: row;
    white-space: nowrap;
    margin-left: 0.625vw;
    margin-right: 0.625vw;
}

.minibar-scroll div {
    display: flex;
    gap: 1.250vw;
}
  
.left-to-right {
    animation: left-to-right 20s infinite linear;
    margin-left: 0.625vw;
}

@keyframes left-to-right {
    0% {
        transform: translate(0, 0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

.minibar-text {
    color: #192126;
    font-family: "Arimo", sans-serif;
    font-size: 1.563vw;
    font-style: normal;
    font-weight: 700;
    margin: 0;
}

.img-minibar {
    height: 1.875vw;
    width: 1.875vw;
}

/* minibar end */

/* store title start */
#store-container{
    width: 100%;
    height: 46.953vw;
    background-image: url("/static/img/davisstore.png");

}
#store-title{
    display: flex;
    gap: 1.875vw;
    align-items: center;
    justify-content: center;
    align-self: stretch;
    background: rgba(255, 255, 255, 0.85);
    height: 11.484vw;
}
#title-container{
    display: flex;
    width: 51.172vw;
    height: 6.250vw;
    padding: 1.875vw 0vw;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
#title-container h2{
    color: #878787;
    text-align: center;
    font-family: "Arimo";
    font-size: 1.563vw;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    justify-content: center;
}

#title-container h1{
    color:#545859;
    text-align: center;
    font-family: "Readex Pro";
    font-size:3.125vw;
    font-style: normal;
    font-weight: 500;
}
#readerchoice{
    display:flex;
    width: 9.609vw;
    height: 9.609vw;
    align-items: flex-start;
    gap: 0.469vw;
    object-fit: contain;
    filter: grayscale(100%);
}

#store-subheader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding-top: 1.875vw;
    padding-bottom: 1.875vw;
    background: rgba(255, 255, 255, 0.85);
}

#store-subheader p{
    color: #545859;
    font-family: "Arimo";
    font-size: 1.875vw;
    font-style: normal;
    font-weight: 400;
}

#store-bttn{
display: flex;
justify-content: center;
align-items: center;
gap: 1.250vw;
}

#store-hr{
    display: flex;
    padding:0.625vw 2.500vw;
    justify-content: center;
    align-items: center;
    gap:0.781vw;
    color: #191919;
    border-radius:4.844vw;
    border:0.078vw solid #191919;
    background-color: transparent;
    font-family: "Arimo";
    font-size: 1.250vw;
    font-weight: 700;
    line-height: 2.500vw; /* 200% */
    letter-spacing: -0.024vw;
    cursor: pointer;
}

#visitbttn{
    display: flex;
    padding:0.625vw 2.500vw;
    justify-content: center;
    align-items: center;
    gap: 0.781vw;
    color: #FAFAFA;
    border-radius:4.844vw;
    border:0.078vw solid #014337;
    background: #192126;    
    font-family: "Arimo";
    font-size: 1.250vw;
    font-weight: 700;
    line-height:2.500vw; /* 200% */
    letter-spacing: -0.024vw;
    cursor: pointer;
}
/* store title end */

/* buy sell trade start */
#new-inventory {
    color: #ffffff;
  }
  .header1 {
    font-size: 1.563vw;
    font-family: "Arimo", sans-serif;
    color: #79955F;
    text-align: center;
    padding-top:2.813vw;
    font-weight: 700;
  }
  .header2 {
    font-size:3.125vw;
    font-family: "Readex Pro", sans-serif;
    color: #545859;
    text-align: center;
    padding-bottom: 1.875vw;
    font-weight: 500;
  }
  .grid-container {
    display: grid;
    text-align: center;
    grid-template-columns: auto auto auto auto;
  }
  .grid-header {
    font-family: "Readex Pro", sans-serif;
    font-size:2.344vw;
    color: #000000;
  }
  .grid-item {
    font-family: "Mukta", sans-serif;
    font-size: 1.875vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 2.813vw */
    letter-spacing: 0.028vw;
    color: #545859;
  }

  .icon {
    width:11.719vw;
    height: auto;
  }
  .grid2-container {
    column-gap:1.953vw;
    display: grid;
    grid-template-columns: auto auto;
  }
  .left-grid-item {
    font-family: "Mukta", sans-serif;
    font-size: 1.875vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5vw; /* 133.333% */
    letter-spacing: -0.009vw;
    color: #545859;
    text-align: left;
  }
  .right-grid-item {
    font-family: "Mukta", sans-serif;
    font-size: 1.875vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5vw; /* 133.333% */
    letter-spacing: -0.028vw;
    color: #545859;
    text-align: right;
  }
  .orangead {
    font-family: "Mukta", sans-serif;
    font-size: 1.875vw;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5vw;
    letter-spacing: -0.009vw;
    color: #F26C34;
    display: inline-block;
  }
  .linktext {
    font-family: "Arimo", sans-serif;
    color: #F26C34;
  }
  .invbutton {
    display: flex;
    padding:0.625vw 2.500vw;
    justify-content: center;
    align-items: center;
    border-radius:4.844vw;
    border:0.078vw solid #000000;
    background: #ffffff;
    color: #000000;
    font-family: "Arimo", sans-serif;
    font-size: 1.250vw;
    font-weight: 700;
    line-height:2.500vw; /* 177.778% */
    letter-spacing: -0.024vw;
    cursor: pointer;

  }
  .buttonpos {
    display: flex;
    padding-top: 1.875vw;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    padding-bottom:3.750vw;
  }

/* buy sell trade end*/
/*gift guide start*/
#gift-guide{
    width: 100%;
    height:23.438vw;
    background-color: #FFF5BF;
}

#box-row{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

#box1{
    background-color: #FFB524;
    width:15.625vw;
    height:23.438vw;
    border-radius: 0vw 0vw 39.063vw 0vw;
    top:0;
    left: 0;
    position: relative;
}

#gift-call{
    margin-left: 1.875vw;
    margin-right: 1.875vw;
    margin-top:5.234vw;
    height:12.969vw;
    width:65vw;
}

#bold-call{
    font-family: "Readex Pro", sans-serif;
    font-size:3.125vw;
    line-height:2.500vw;
    letter-spacing: -0.059vw;
    text-align: center;
    color: #545859;
    margin-bottom: 1.875vw;
}

#lower-call{
    font-family: "Arimo", sans-serif;
    font-size: 1.875vw;
    color: #878787;
    line-height:2.500vw;
    letter-spacing: -0.036vw;
    text-align: center;
    margin-bottom:2.344vw;
}

#guide-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.781vw;
    align-self: stretch;
}

#guide-button{
    display: flex;
    padding:0.625vw 2.500vw;
    justify-content: center;
    align-items: center;
    gap:0.781vw;
    border-radius:4.844vw;
    border:0.078vw solid #014337;
    background: #192126;
    color:white;
    font-family: "Arimo", sans-serif;
    font-size:1.406vw;
    line-height:2.500vw;
    letter-spacing: -0.027vw;
    cursor: pointer;

}

#box2{
    background-color: #FFB524;
    width:15.625vw;
    height:23.438vw;
    border-radius: 39.063vw 0vw 0vw 0vw;
    top:0;
    right: 0;
    position: relative;
}


/*gift guide end*/

/* sustainability start */
#sustainability-container{
    width: 100%;
    flex-direction: row;
    height:63.75vw;
    padding-left: 6.25vw;
    padding-right: 6.25vw;
}

#sustain-1{
    float:left;
    width:50%;
    flex-direction:row;
    width: 46.875vw;
    display: flex;
    flex-wrap: wrap;
}


#block-image{
    height:22.266vw;
    width:22.109vw;
    border: 0.078vw solid black;
    margin-right: 1.25vw;
    margin-bottom: 1.25vw;
    border-radius: 0.469vw;
}

#sustain-2{
    float:left;
    width:50%;
    width: 35.156vw;
    margin-left: 1.875vw;
}

#sustain-box{
    justify-content: center;
    align-items: center;
    width: 39.453vw;
    margin-bottom: 1.875vw;
    margin-top: 6.563vw;
}

#sustain-icon{
    background-image: url("/static/img/sustain-icon.png");
    background-size: cover;
    width: 10.547vw;
    height: 10.547vw;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#sustainability {
    padding:3.750vw 0vw;
    flex-direction: column;
    width: 100%;
}

#sustainability h2{
    color: #79955F;
    text-align: center;
    font-family: "Arimo", sans-serif;
    font-size: 1.563vw;
    font-weight: 700;
    line-height:2.500vw;
    letter-spacing: -0.03vw;
    text-transform: uppercase;
    padding-bottom:0.625vw;
}

#sustainability h1{
    color: #545859;
    text-align: center;
    font-family: "Readex Pro", sans-serif;
    font-size:3.125vw;
    font-weight: 500;
    line-height:2.500vw;
    letter-spacing: -0.059vw;
}

#sustainability-passage{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.875vw;
    width: 100%;
    height:11.719vw;
    width: 39.453vw;
}

#sustainability-passage p{
    color: #545859;
    text-align: center;
    font-family: "Mukta", sans-serif;
    font-size: 1.563vw;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 30px */
    letter-spacing: -0.023vw;
    word-wrap: break-word;
}

#sustain-call{
    display: flex;
    padding-top: 1.875vw;
    justify-content: center;
    align-items: center;
    gap: 1.250vw;
    align-self: stretch;
    padding-bottom:3.750vw;
    color: #79955F;
    text-align: center;
    font-family: "Mukta", sans-serif;
    font-size: 1.563vw;
    font-style: italic;
    font-weight: 400;
    line-height: 150%; /* 2.344vw */
    letter-spacing: -0.03vw;
    width: 39.453vw;

}

#side1{
display: flex;
    padding-right:0.625vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    flex: 1 0 0;
}

#side2{
    display: flex;
    padding-left:0.625vw;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
}

#get-in-touch-button{
    display: flex;
    padding:0.625vw 2.500vw;
    justify-content: center;
    align-items: center;
    border-radius:4.844vw;
    border:0.078vw solid #545859;
    color: #545859;
    background-color: #FFF;
    font-family: "Arimo", sans-serif;
    font-size: 1.250vw;
    font-weight: 700;
    line-height:2.500vw; /* 200% */
    letter-spacing: -0.024vw;
    cursor: pointer;
}

#donate-button{
    display: flex;
    padding:0.625vw 2.500vw;
    justify-content: center;
    align-items: center;
    border-radius:4.844vw;
    border:0.078vw solid #F26C34;
    background: #F26C34;
    color: #FFF;
    font-family: "Arimo", sans-serif;
    font-size:1.406vw;
    font-weight: 700;
    line-height:2.500vw; /* 177.778% */
    letter-spacing: -0.027vw;
    cursor: pointer;
}
/* sustainability end */

/* community section start */
#community-container {
    background-color: white;
    text-align: center;
}

#community-title {
    padding:3.750vw 0vw;
}

#community-title h2 {
    color: #79955F;
    font-family: "Arimo", sans-serif;
    font-size: 1.563vw;
    font-weight: 700;
}

#community-title h1 {
    color: #545859;
    font-family: "Readex Pro", sans-serif;
    font-size:3.125vw;
    font-weight: 500;
}

.community-img {
    gap: 1.250vw;
    display: flex;
    flex-direction: row;
    border-radius: 0.469vw;
    width:24.219vw;
    height:24.219vw;
}

#community-social {
    padding:3.750vw 0vw;
}

#community-social h3 {
    font-family: "Mukta", sans-serif;
    font-size: 1.875vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5vw; /* 133.333% */
    letter-spacing: -0.028vw;
    padding-bottom:1.406vw;
    color: #878787;
}

#community-social img {
    padding: 0vw 0.625vw;
}


/* community section end */


/* trade/background section start */
#trade-background {
    background-image: url("/static/img/background-trade.png");
    background-size: cover;
    width:100vw;
    height:23.438vw;
}

#trade-text-align {
    text-align: center;
    float: left;
    width:62.734vw;
    margin-top:4.297vw;
}

#trade-h1 {
    color: var(--nav-text, #545859);
    font-family: "Readex Pro", sans-serif;
    font-size:3.125vw;
    font-style: normal;
    font-weight: 500;
    line-height:2.500vw;
    letter-spacing: -0.059vw;
    margin-bottom: 1.875vw;
}

#trade-h2 {
    color: #878787;
    font-family: "Arimo", sans-serif;
    font-size: 1.563vw;
    font-style: normal;
    font-weight: 700;
    line-height:2.500vw;
    letter-spacing: -0.03vw;
    text-transform: uppercase;
    margin-bottom: 1.250vw;
}

#trade-h3 {
    color: #878787;
    text-align: center;
    font-family: "Arimo", sans-serif;
    font-size: 1.875vw;
    font-style: normal;
    font-weight: 400;
    line-height:2.500vw;
    letter-spacing: -0.036vw;
}
/* trade/background section end */


/*footer start*/
#footer {
    background: #F26C34;    
    color: #ffffff;
    padding-left:3.750vw;
    padding-top: 1.250vw;
    padding-bottom: 1.250vw;
    width: 100%;
}

#footer-top {
    padding-left: 1.875vw;
    padding-bottom:2.500vw;
    padding-top: 1.875vw;
    /* padding-top: 1.875vw; new change */
    width:92.500vw;
    display: flex;
    flex-direction: row;
    border-bottom:0.156vw solid white;
}

#footer-info {
    width: 50%;
    height:8.125vw;
}

a:hover {color:white}

/*changed font*/
.bold-text-footer {
    color: #FFF;
    font-family: "Arimo", sans-serif;
    font-style: normal;
    font-size: 1.875vw;
    font-weight: 700;
    line-height:2.500vw;
    letter-spacing: -0.036vw;
}

.text-footer {
    font-family: "Mukta", sans-serif;
    font-size: 1.563vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5vw; /* 160% */
    letter-spacing: -0.03vw;
    color: white;
}

.text-footer-right {
    padding-bottom: 1.875vw;
    cursor: pointer;
}


#email-footer {
    width: 50%;
    height:8.125vw;
    align-items: center;
    padding-top: 2.031vw;
}

#email-input {
    background-color: #F26C34;
    color: white;
    border: none;
    border-bottom:0.156vw solid white;
    width: 27.578vw;
    height: 2.578vw;
    margin-left:3.125vw;
    margin-right: 1.563vw;
}

::placeholder {
    color: #FFF;
    font-family: "Mukta", sans-serif;
    font-size: 1.563vw;
    font-style: normal;
    font-weight: 400;
    line-height: 142.523%; /* 28.505px */
}

#email-button {
    color: #F26C34;
    font-family: "Mukta", sans-serif;
    font-size: 1.563vw;
    font-style: normal;
    font-weight: 700;
    line-height: 2.5vw; /* 160% */
    letter-spacing: -0.03vw;
    width:11.484vw;
    height:3.750vw;
    border-radius:4.844vw;
    border-color: #F26C34;
    border-style: solid;
    background: #FFF;
    cursor: pointer;
    border: none;
   
}

#footer-bottom {
    margin-top:2.500vw;
    display: flex;
    flex-direction: row;
    padding-bottom:2.500vw;
    /* padding-bottom:2.500vw;  new change */
}

#footer-logo-container {
    color: #FAFAFA;
    font-family: "Readex Pro", sans-serif;
    font-size:2.500vw;
    font-weight: 400;
    display: flex;
    flex-direction: row;
    margin-right:7.813vw;
    align-items: center;
    height: 7.031vw;
}

#footer-logo {
    width: 14.375vw;
    height: auto;
    margin-right: 1.250vw;
    filter: brightness(0) invert(1);
}

#footer-location-hours {
    margin-right: 9.766vw;
}

#footer-boheme {
    margin-right:3.125vw;
}

#footer-services {
    margin-right:3.125vw;
}

#footer-media {
    margin-right:3.125vw;
}

.footer-follow-us {
    display: flex;
    flex-direction: row;
}

.footer-icon {
    width:3.906vw;
    height: auto;
}
 
/* new change */
#copyright-footer{
    text-align: center;
    font-family: "Mukta",sans-serif;
    font-size: 1.406vw;
    font-style: normal;
    font-weight: 400;
    line-height: 2.5vw; /* 200% */
    letter-spacing: -0.024vw;
    padding-bottom: 1.250vw;
    text-transform: capitalize;
}


/*footer end*/
