
/* community header starts */
#community-background{
  display: flex;
  padding: 3.125vw;
  flex-direction: column;
  background: #FFF9EF;
  height: 12.5vw;
}

#community-header{
  height: 6.25vw;
  margin: none;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
}

#community-background h8{
  color: #F26C34;
  text-align: center;
  font-family: Arimo;
  font-size: 1.563vw;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5vw; /* 160% */
  letter-spacing: -0.03vw;
  text-transform: uppercase;
}

#community-background h7{
  color: #545859;
  text-align: center;
  font-family: Readex Pro;
  font-size: 3.125vw;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5vw; /* 80% */
  letter-spacing: -0.059vw;
}

/* community header ends */

/* featured starts */
#featured-background{
  padding: 6.25vw 6.25vw;
  flex-direction: row;
  display: flex;
  
}

#feature-image{
  background-image: url(/static/img/feature-image.png);
  background-size: contain;
  width: 42.5vw;
  height: 27.578vw;
  border-radius: 1.563vw;
  margin-right: 2.5vw;

}

#featured-button{
  border-radius: 4.844vw;
  border: 0.078vw solid #F26C34;
  background: #F26C34;
  padding: 0.625vw 1.563vw 0.625vw 1.563vw;
  float: left;
  justify-content: center;
  align-items: center;  
  display: block;
  margin-left: 1.563vw;
  margin-top: 1.563vw;
  display:inline; 
  white-space:nowrap;
}

#featured-button p{
  color: #FAFAFA;
  font-family: Arimo;
  font-size: 1.25vw;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5vw; /* 200% */
  letter-spacing: -0.024vw;
  text-transform: uppercase;
  margin-bottom: 0vw;
  justify-content: center;
  align-items: center; 
}

#feature-icon{
  background-image: url(/static/img/featured-icon.png);
  width: 2.083vw;
  height: 1.979vw;
  margin-right: 0.781vw;
}

#feature-section{
  width: 40vw;
}

#feature-header{
  flex-direction: row;
  display: flex;
  margin-bottom: 1.563vw;
  width: 40vw;
  height: 2.5vw;
}

#header-1{
  display: flex;
  width: 32.188vw;
  margin-right: 0.625vw;
  flex: 1 0 0;
}

#header-2{
  width: 7.188vw;
}

/* featured ends */

/** news starts **/
#news{
  height: 54.688vw;
}
#news-background{
  height: 49.141vw;
  padding: 0vw 6.25vw;
}
/** news ends **/

/*get in touch start*/

.line{
  width: 100%;
  height: 0.078vw;
  background: #D0D0D0;
}

#get-in-touch-frame-bot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.75vw;
  margin-bottom: 3.125vw;
  background-color: none;
}

#get-in-touch-bot {
  display: flex;
  padding: 0vw 6.25vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

#contact-bold {
  color: #f26d34;
  font-family: "Mukta";
  font-size: 1.875vw;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5vw;
  letter-spacing: -0.036vw;
  text-decoration: none;

}

/*typography*/

#get-in-touch-bot p{
color: rgb(135, 135, 135);
text-align: center;
font-family: 'Mukta';
font-size: 1.875vw;
font-style: normal;
font-weight: 400;
line-height: 2.5vw; /* 133.333% */
letter-spacing: -0.036vw;
}

#feature-section h2{
  color: #F26D36;
  font-family: "Mukta";
  font-size: 1.875vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5vw; /* 133.333% */
  letter-spacing: -0.036vw;
}

#feature-section h3{
  color: #878787;
  font-family: "Mukta";
  font-size: 1.875vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5vw; /* 133.333% */
  letter-spacing: -0.036vw;
}

#feature-section h1{
  color:  #545859;
  font-family: "Mukta";
  font-size: 2.813vw;
  font-style: normal;
  font-weight: 700;
  line-height: 3.438vw; 
}


#line-section p, #feature-section p{
  color: #545859;
  font-family: "Mukta";
  font-size: 1.563vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.758vw; /* 112.5% */
  letter-spacing: -0.03vw;
}

.tab-all{
padding: 1.875vw 0vw 3.125vw 0vw;
display: flex;
height: 2.5vw;
/* justify-content: center;
align-items: center; */
}

.product-tabs {
flex-grow: 1 !important;
}
.nav{
flex-grow: 1 !important;
height: 2.5vw;
}

.nav>li>a{
display: flex;
}


.nav-tabs > li {
float: none;
display: inline-block;
margin-bottom: -0.234vw;

}

.nav-tabs>.border{
color: #878787;
text-align: center;
font-family: Arimo;
font-size: 1.563vw;
font-style: normal;
font-weight: 700;
line-height: 2.5vw; /* 160% */
letter-spacing: -0.03vw;
text-transform: uppercase;
text-decoration: none;
border: none;
border-bottom: none;
}

.nav-tabs>li>a, .tab-all>.tab-control>a{
color: #878787;
text-decoration: none;
font-family: Arimo;
font-size: 1.563vw;
font-style: normal;
font-weight: 700;
line-height: 2.5vw; /* 160% */
letter-spacing: -0.03vw;
text-transform: uppercase;
cursor: pointer;
}

.nav-tabs>li>a:hover, .tab-all>.tab-control>a:hover{
text-decoration: none;
color: #545859;
font-family: Arimo;
font-size: 1.563vw;
font-style: normal;
font-weight: 700;
line-height: 2.5vw; /* 160% */
letter-spacing: -0.03vw;
text-transform: uppercase;
cursor: pointer;
}

.nav-tabs>li>a {
border-radius: none;
}

.nav-tabs>li>.override, .nav-tabs>li.override:focus, .nav-tabs>li.override:hover{
border: none;
border-bottom-color: none;
border-color: none;
padding: 0vw;
padding-left: 1.172vw;
padding-right: 1.172vw;
}

.nav-tabs>li.active>.override, .nav-tabs>li.active>.override:focus, .nav-tabs>li.active>.override:hover{
border: none;
border-bottom-color: none;
border-color: none;
padding: 0vw;
padding-left: 1.172vw;
padding-right: 1.172vw;
}

.tab-pane{
padding: 0.781vw;
}

/* .tab-control .previous-button, .tab-control .next-button{
position: absolute;
top: 49.997px;;
} */

.tab-control{
flex-grow: 1 !important;
height: 2.5vw;
}

.previous-button{
text-align: left;

}

.next-button{
text-align: right;

}

.grid {
display: flex;
width: 100% !important;
justify-content: space-evenly;
}

.grid__item {
display: flex;
cursor: pointer;
transition: 0.2s;
height: 36.641vw;
margin-right: 1.25vw;
margin-top: 1.875vw;
margin-bottom: 1.875vw;
border: none;
float: left;
width: 100%;
}

.container{
justify-content: center !important;
width: 100% !important;
}

.tab-content>.active{
display: flex !important;
}

.card{
border: none;
}

.card__img {
display: block;
height: 17.422vw;
object-fit: cover;
margin-bottom: 1.875vw;
border-radius: 1.25vw;
}
.card__content {
float: left;
height: 17.969vw;
width: 25.313vw;
}

.card__btn {
display: block;
width: 100%;
padding: 1.5rem;
font-size: 2rem;
text-align: center;
color: #3363ff;
background-color: #e6ecff;
border: none;
border-radius: 0.4rem;
transition: 0.2s;
cursor: pointer;
}
.card__btn span {
margin-left: 1rem;
transition: 0.2s;
}
.card__btn:hover, .card__btn:active {
background-color: #dce4ff;
}
.card__btn:hover span, .card__btn:active span {
margin-left: 1.5rem;
}

#news-header{
flex-direction: row;
display: flex;
margin-bottom: 1.25vw;
width: 25.391vw;
text-align: center;
}

#title-wrap{
border-radius: 4.844vw;
background: #FDF5EB;
text-align: center;
padding: 0.313vw 0.625vw;
justify-content: center;
align-items: center;
display: flex;
}

#g-header-1{
display: flex;
width: 14.219vw;
text-align: center;
justify-content: center;
align-items: center;
}

#g-header-2{
width: 10.391vw;
}

.row{
border: 0.078vw solid black;
}

.grid__item h1{
overflow: hidden;
color: var(--nav-text, #545859);
text-overflow: ellipsis;
font-family: Mukta;
font-size: 1.875vw;
font-style: normal;
font-weight: 700;
line-height: 2.344vw;

}

.grid__item h2{
color: var(--boheme-main, #F26C34);
font-family: Arimo;
font-size: 1.25vw;
font-style: normal;
font-weight: 700;
line-height: 2.5vw; /* 200% */
letter-spacing: -0.024vw;
text-transform: uppercase;
margin: 0vw;
}

.grid__item h3{
color: #878787;
text-align: right;
font-family: Mukta;
font-size: 1.563vw;
font-style: normal;
font-weight: 400;
line-height: 2.5vw; /* 160% */
letter-spacing: -0.03vw;
margin: 0vw;

}

.grid__item p{
color:  #878787;
font-family: Mukta;
font-size: 1.563vw;
font-style: normal;
font-weight: 400;
line-height: 1.758vw; /* 112.5% */
letter-spacing: -0.03vw;
text-align: left;;
}

h2{
margin-top: none;
}

@media (max-width: 600px) {
.tab-content{
  width: 100%;
}

.card{
  flex-direction: row;
}

.card__content{
  width: 100% !important;
  padding: 10px;
}

.grid__item{
  height: 100% !important;
}

.grid {
  flex-direction: column;
  align-items: center;
}
.product-tabs{
  justify-content: center;
}

#news{
  height: 450px;
}

.container, #news-background, .product-tabs, .tab-content>.active{
  height: 400px;
  justify-content: center;
  align-items: center;
}
}