/* trade/background section start */
#trade-background {
  background-image: url("/static/img/background-trade.png");
  width: 100vw;
  height: 23.438vw;
  background-size: cover;
}

#trade-text-align {
  text-align: center;
  float: left;
  width: 59.734vw;
  margin-top: 4.297vw;
}

#trade-background h1,
#look-sell h1,
#earn-titles h1,
#work-side1 h1 {
  color: var(--nav-text, #545859);
  font-family: "Readex Pro", sans-serif;
  font-size: 3.125vw;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5vw;
  letter-spacing: -0.059vw;
  margin-bottom: 1.875vw;
}

#trade-text-align h2 {
  color: #878787;
  font-family: "Arimo", sans-serif;
  font-size: 1.563vw;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5vw;
  letter-spacing: -0.03vw;
  text-transform: uppercase;
  margin-bottom: 1.25vw;
}

p {
  color: #878787;
  text-align: center;
  font-family: "Mukta", sans-serif;
  font-size: 1.875vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5vw;
  letter-spacing: -0.036vw;
}
/* trade/background section end */

/* condition */
#condition {
  padding: 3.125vw 6.25vw 0vw 6.25vw;
}

h2 {
  color: var(--nav-text, #545859);
  font-family: "Readex Pro", sans-serif;
  font-size: 2.055vw;
  font-weight: 700;
  margin-bottom: 1.25vw;
  text-transform: lowercase;
}

.dropdown-sub {
  padding: 2.5vw;
  background: #fff8ea;
  width: 33.359vw;
}

.dropdown-sub h3 {
  text-transform: uppercase;
  font-size: 1.875vw;
}

.dropdown-sub p {
  font-size: 1.406vw;
  text-align: left;
}

.year-round {
  background: #f9fafb;
  width: 56.25vw;
}

.sell-dropdown-title {
  margin: 0vw 0vw 1.25vw 0vw;
  text-align: left;
}

.p-dropdown p {
  color: #5b6278;
  text-align: center;
  font-family: "Mukta", sans-serif;
  font-size: 1.172vw;
  margin-left: 1.25vw;
  letter-spacing: -0.022vw;
}

.list {
  padding: 0;
  margin: 0;
  margin-left: 1.25vw;
  list-style-type: none;
}
.check {
  list-style-image: url("../img/check.png");
  height: 1.148vw;
  width: auto;
  padding-left: 1.25vw;
  color: #5b6278;
  font-family: "Mukta", sans-serif;
  font-size: 1.406vw;
  font-style: normal;
  font-weight: 400;
  line-height: 2.5vw; /* 177.778% */
  margin-bottom: 1.25vw;
}

#condition {
  background-color: #ffffff;
}

.flex-dropdown {
  display: flex;
  flex-direction: row;
}

#schedule-div {
  margin: 2.5vw 0vw;
}

.schedule-button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4.844vw;
  background: #f26d34;
  color: white;
  color: #fff;
  font-family: "Arimo", sans-serif;
  font-size: 1.875vw;
  font-weight: 700;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 2.5vw;
  border: none;
  padding: 1.406vw 2.5vw;
  margin-top: 6.25vw;
}

/* looking to sell */
#look-sell {
  text-align: center;
  padding: 0vw 6.25vw;
}

.collapsiblegrey {
  background-color: #ffffff;
  color: #545859;
  cursor: pointer;
  padding: 3.906vw;
  width: 90%;
  /*width: 100%;*/
  border: none;
  text-align: left;
  padding-left: 0;
  outline: none;
  font-size: 1.875vw;
  font-family: "Readex Pro";
}

.actives,
.collapsiblegrey:hover {
  background-color: #ffffff;
}

.collapsiblegrey::after {
  content: "\002B";
  color: #f26c34;
  float: right;
  font-family: "Readex Pro";
  margin-left: 0.391vw;
}

.actives::after {
  content: "\2212";
}

#sell-icon {
  height: 4.844vw;
  width: 4.844vw;
  margin-right: 2.031vw;
}

#sell-subheader {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 73.359vw;
}

#sell-subheader-drop {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 80.234vw;
}

#sell-collapse {
  display: flex;
  padding: 3.527vw 2.055vw;
}

#sell-subheader h1,
#sell-subheader-drop h1 {
  color: #545859;
  font-family: "Readex Pro", sans-serif;
  font-size: 2.055vw;
  font-style: normal;
  font-weight: 700;
  margin-top: 0.234vw;
  margin-bottom: 0.625vw;
}

#sell-subheader h2 {
  color: #878787;
  text-align: center;
  font-family: "Arimo", sans-serif;
  font-size: 1.563vw;
  font-style: normal;
  font-weight: 700;
  letter-spacing: -0.03vw;
  text-transform: uppercase;
  margin: 0vw;
}

#schedule1 {
  justify-content: center;
  align-items: center;
}

/* how does it work start */
#how-does-it-work {
  height: 62.813vw;
  display: flex;
  padding: 3.75vw 6.25vw;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  background: #faf9f5;
}

#work-side1 {
  display: flex;
  width: 35.469vw;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 3.125vw;
}

#work-side2 {
  width: 46.484vw;
  margin-top: 2.5vw;
  height: 39.063vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#work-side2 h1 {
  font-size: 2.055vw;
  font-weight: 500;
  text-transform: none;
  color: #545859;
  font-family: "Readex Pro", medium, sans-serif;
}

#store-bttn {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 1.25vw;
}

#store-hr,
#store-hr1 {
  display: flex;
  padding: 0.625vw 1.875vw;
  justify-content: center;
  align-items: center;
  gap: 0.781vw;
  color: #191919;
  border-radius: 4.844vw;
  border: 0.078vw solid #191919;
  background-color: transparent;
  font-family: "Arimo", bold, sans-serif;
  font-size: 1.25vw;
  font-weight: 700;
  line-height: 2.5vw;
  letter-spacing: -0.024vw;
  cursor: pointer;
  margin-top: 1.875vw;
}

#modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 19.531vw;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

#modal-content {
  border-radius: 2.344vw;
  height: 75%;
  width: 95.469vw;
  display: inline-flex;
  margin-left: 1.875vw;
}

#modal-content p {
  color: #5b6278;
}

#selling-frame {
  width: 27.5vw;
  /* height: 33.125vh; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 2.344vw 0vw 0vw 2.344vw;
  padding: 3.75vw 2.5vw;
}

#accept-frame {
  flex-direction: column;
  background: #e4f9eb;
  width: 27.344vw;
  /* height: 33.125vw; */
  padding: 3.75vw 2.5vw;
}

#accept {
  background-image: url(/static/img/accept.png), no-repeat;
  height: 0.938vw;
  width: 1.328vw;
  margin-right: 1.25vw;
}

#deny {
  background-image: url(/static/img/deny.png), no-repeat;
  height: 1.563vw;
  width: 1.563vw;
  margin-right: 1.25vw;
}

#deny-frame {
  background: #f9e4e4;
  flex-direction: column;
  padding: 3.75vw 2.5vw;
  width: 40.625vw;
  /* height: 33.125vh; */
  border-radius: 0vw 2.344vw 2.344vw 0vw;
  align-items: flex-start;
  gap: 2.188vw;
}

#frame-a {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}

#frame-a1,
#frame-a2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#schedule-button {
  display: flex;
  padding: 0.625vw 1.875vw;
  justify-content: center;
  align-items: center;
  border-radius: 4.844vw;
  border: 0.078vw solid #f26d34;
  background: #f26c34;
  color: #fff;
  font-family: "Arimo", bold, sans-serif;
  font-size: 1.406vw;
  font-weight: 700;
  line-height: 2.5vw;
  letter-spacing: -0.027vw;
  margin-top: 1.875vw;
  cursor: pointer;
}

#number-work h1 {
  font-family: "Mukta";
  font-weight: bold;
  font-size: 3.75vw;
  display: inline-block;
  margin-right: 2.031vw;
  color: #f26d34;
}

#panel-group {
  padding: 1.563vw;
  width: 45.313vw;
  border-radius: 1.563vw;
  background: #fff;
  border: none;
  cursor: pointer;
  margin-bottom: 1.875vw;
}

#panel-th1 {
  margin-top: 0vw;
  margin-bottom: 0vw;
}

/* how does it work end */

/* What you earn start */
#earn-titles {
  text-align: center;
  margin: 3.125vw 0vw;
}

#look-sell h3,
#earn-titles h3 {
  color: #79955f;
  text-align: center;
  font-family: "Arimo", sans-serif;
  font-size: 1.563vw;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 1.25vw;
}

#earn-details {
  margin: 2.5vw auto;
  width: 71.094vw;
  height: 5vw;
}

#deals-container {
  display: flex;
  flex-direction: row;
  gap: 6.25vw;
  width: 79.531vw;
  margin: 0vw auto;
}

.deal {
  width: 22.344vw;
}

.deal p {
  font-style: italic;
}

.deal-sub {
  height: 23.906vw;
  text-align: center;
  border-radius: 1.284vw;
  margin-bottom: 3.75vw;
  /* shadow */
  box-shadow: 0vw 0.949vw 2.372vw -0.474vw rgba(0, 0, 0, 0.1),
    0vw 0.474vw 2.372vw 0vw rgba(0, 0, 0, 0.1),
    0vw 4.743vw 23.717vw -9.487vw rgba(0, 0, 0, 0.2);
}

.deal-sub h2 {
  color: #545859;
  text-transform: uppercase;
  font-size: 1.563vw;
}

.deal-sub h4{
  padding-top: 3.125vw;
  padding-bottom: 2.5vw;
  color: #000;
  text-align: center;
  font-family: Readex Pro;
  font-size: 4.688vw;
  font-style: normal;
  font-weight: 700;
  line-height: 3.274vw; /* 69.837% */
  text-transform: lowercase;
}

.deal-sub h5{
  color: #878787;
text-align: center;
font-family: Mukta;
font-size: 1.406vw;
font-style: normal;
font-weight: 400;
line-height: 2.5vw; /* 177.778% */
letter-spacing: -0.027vw;
}

.deal-sub img {
  width: 6.484vw;
  height: 5.938vw;
  margin-top: 1.25vw;
}

#most-popular {
  display: flex;
  padding: 0.625vw 2.5vw;
  justify-content: center;
  align-items: center;
  gap: 2.5vw;
  align-self: stretch;
  border-radius: 0vw 0vw 1.563vw 1.563vw;
  background: #f26c34;
  width: 17.344vw;
  margin: 0vw auto;
  margin-bottom: 1.875vw;
}

#most-popular h2 {
  color: #fff;
  text-transform: uppercase;
  margin: 0vw;
}

h4 {
  color: #000;
  font-family: "Readex Pro", sans-serif;
  font-size: 4.688vw;
  font-weight: 700;
  margin-top: 1.875vw;
  margin-bottom: 1.25vw;
}

h5 {
  color: #878787;
  text-align: center;
  font-family: "Mukta";
  font-size: 1.406vw;
  font-weight: 400;
}

strong {
  color: #f26c34;
  font-family: "Mukta";
  font-size: 1.875vw;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5vw;
  letter-spacing: -0.036vw;
}

/* What you earn end */

/* FAQ Start */
#faq {
  background-color: #ffffff;
  margin-top: 7.5vw;
  padding: 1.25vw 6.25vw 0vw 6.25vw;
  width: 100%;
}

#faq p {
  text-align: left;
}

.faqh {
  font-family: "Readex Pro";
  font-size: 3.125vw;
  color: #545859;
}
.collapsible {
  background-color: #ffffff;
  color: #545859;
  cursor: pointer;
  padding: 3.906vw;
  width: 100%;
  border: none;
  text-align: left;
  padding-left: 0;
  outline: none;
  font-size: 1.875vw;
  font-family: "Readex Pro";
}

.active,
.collapsible:hover {
  background-color: #ffffff;
}

.collapsible::after {
  content: "\002B";
  color: #f26c34;
  float: right;
  font-family: "Readex Pro";
  margin-left: 0.391vw;
}

.active::after {
  content: "\2212";
}

.content {
  margin-left: 0;
  border-bottom: 0.078vw solid #545859;
  padding: 0 1.406vw;
  padding-left: 0;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #ffffff;
  font-family: "Readex Pro";
  color: #878787;
  font-size: 1.875vw;
}
/*FAQ End */

/*get in touch start*/

#get-in-touch-frame-bot {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 3.75vw;
  margin-bottom: 3.125vw;
  background-color: none;
}

#get-in-touch-bot {
  display: flex;
  padding: 0vw 6.25vw;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: stretch;
}

#contact-bold {
  color: #f26d34;
  font-family: "Mukta";
  font-size: 1.875vw;
  font-style: normal;
  font-weight: 500;
  line-height: 2.5vw;
  letter-spacing: -0.036vw;
  text-decoration: none;
}

@media (max-width:720px){
  #how-does-it-work{
    height: 500px;
  }
  h2 {
    margin-top: 0px !important;
  }
}