{% extends "index.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block content %}
<br><br><br>
<h3>{{repetido}} Numero de envío ya se encuentra registrado</h3>
<h3>Se agregaron {{agregados}} envios con exito</h3>



<table style="width: 100%; border: solid ;">
    <tr>
        {% if titulo_columna %}
        {% for x in titulo_columna %}
        <td>{{x}}</td>
        {% endfor %}
        {% else %}
        <td>Estado</td>
        <td>Comprador</td>
        <td># Venta</td>
        <td>direccion</td>    
        <td>Localidad</td>
        <td>ciudad</td>
        <td>CP</td>
        <td>Referencia</td>
        <td>Pais</td>
        <td>fecha1</td>
        <td>Fecha2</td>
        <td>Transportista</td>
        <td>Nº de envio</td>
        <td>Tipo de envio</td>
        {% endif %}
    </tr>

    {% for viaje in data %}

        <tr>
        {% for x in viaje %}
        <td>
            {{x}}
        </td>
        {% endfor %}
            <!-- <td>{{viaje.0}}</td>
            <td>{{viaje.1}}</td>
            <td>{{viaje.2}}</td>
            <td>{{viaje.3}}</td>
            <td>{{viaje.4}}</td>
            <td>{{viaje.5}}</td>
            <td>{{viaje.6}}</td>
            <td>{{viaje.7}}</td>
            <td>{{viaje.8}}</td>
            <td>{{viaje.9}}</td>
            <td>{{viaje.10}}</td>
            <td>{{viaje.11}}</td>
            <td>{{viaje.12}}</td>
            <td>{{viaje.13}}</td>
            <td>{{viaje.14}}</td>
            <td>{{viaje.15}}</td> -->
                
        </tr>

    {% endfor %}
{% endblock %}