{% extends "index.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block content %}

    <form action="/facturacion_{{tipo_facturacion}}" method="GET" style="position: initial; width: 30%;">
        <label>Desde</label><br>
        <input type="date" name="desde" value="{{desde}}"><br>
        <label>Hasta</label><br>
        <input type="date" name="hasta" value="{{hasta}}"><br>
        <select name="cliente" value="{{cliente}}">
            {% for cliente in clientes %}
            <option value="{{cliente}}">{{cliente}}</option>
            {% endfor %}
          </select>
        <input type="submit" value="Buscar">
    </form>
    {% if total %}
    <h4>Total: {{total}}</h4>
    {% endif %}
    <a href="/facturacion/descarga" download="/facturacion/descarga"><input type="button" name="descarga" id="descarga" value="Descarga exel cliente"></a>
    <a href=""><input type="button" name="descarga" id="descarga" value="Descarga exel chofer"></a>
    <h3>{{mensaje_error}}</h3>
    <br><br>
    <table style="width: 100%; border: solid ;">
        <tr>
            {%for x in cabezeras%}
            <td>{{x}}</td>
            {%endfor%}
            <!-- <td>Fecha</td>
            <td>Remito</td>
            <td>Direccion</td>    
            <td>Localidad</td>
            <td>Precio</td>
            <TD>Cuenta</TD> -->

        </tr>
    
        {% for viaje in viajes %}
            <tr>
            <td>{{viaje.0}}</td>
            <td>{{viaje.1}}</td>
            <td>{{viaje.2}}</td>
            <td>{{viaje.3}}</td>
            <td>{{viaje.4}}</td>
            <td>{{viaje.5}}</td>
            <td>{{viaje.6}}</td>
            <td>{{viaje.7}}</td>
            <td>{{viaje.8}}</td>
            <td>{{viaje.9}}</td>
            <td>{{viaje.10}}</td>
            <td>{{viaje.11}}</td>
            <td>{{viaje.12}}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}