{% extends "index.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block content %}
<script>
    function filterOptions() {
  // Obtiene el valor del input de búsqueda
  var input, filter, options, texto;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  
  // Obtiene las opciones del select
  options = document.getElementById("mySelect").options;
  
  // Recorre las opciones y las oculta si no contienen la palabra buscada
  for (var i = 0; i < options.length; i++) {
    texto = options[i].textContent.toUpperCase();
    if (texto.indexOf(filter) > -1) {
      options[i].style.display = "";
    } else {
      options[i].style.display = "none";
    }
  }
    }

    function showOptions() {
    var select = document.getElementById("mySelect");
    select.style.display = "block";
    }

    function hideOptions() {
    var select = document.getElementById("mySelect");
    select.style.display = "none";
    }

    document.addEventListener("click", function(event) {
    var select = document.getElementById("mySelect");
    var input = document.getElementById("myInput");
    if (!select.contains(event.target) && !input.contains(event.target)) {
        hideOptions();
    }
    });
</script>
    <form action="/facturacion/facturar" method="post" style="position: initial; width: 30%;">
        <label>Desde</label><br>
        <input type="date" name="desde" value="{{desde}}"><br>
        <label>Hasta</label><br>
        <input type="date" name="hasta" value="{{hasta}}"><br>
        <select name="cliente" id="mySelect">
            <option value="{{cliente}}">{{cliente}}</option>
            {% for cliente in clientes %}
            <option value="{{cliente}}">{{cliente}}</option>
            {% endfor %}
          </select>
        <input type="text" id="myInput" onkeyup="filterOptions()" onclick="showOptions()" placeholder="Buscar cliente...">
        <select name="estrategiaFacturacion">
            <option value="strategyEnCamino">En Camino</option>
            <option value="strategyPorDireccion">Por Direccion</option>
            <option value="strategyEntregado">Entregado</option>
            <option value="strategyPorVisita">segunda vuelta 70%</option>
        </select>
        <select name="sobreEscribir" id="">
            <option value="True">Si</option>
            <option value="False">No</option>
        </select>
        <input type="submit" value="Ver">
    </form>
    {% if ruta_archivo %}
    <a href="/descargaresumen/{{ruta_archivo}}"><input type="button" value="Descargar {{cliente}}"></a>
    {% endif %}
    {% if total %}
    <h4>Total: {{total}}</h4>
    {% endif %}
    <h3>{{mensaje_error}}</h3>
    <br><br>
    <table style="width: 100%; border: solid ;">
        <tr>
            {%for x in cabeceras%}
            <td>{{x}}</td>
            {%endfor%}
        </tr>
    
        {% for viaje in viajes %}
            <form action="/facturacion/arreglolocalidad" method="post">
                <tr>
                    <input type="hidden" name="idReporte" value="{{viaje.0}}">
                    <input type="hidden" name="numeroEnvio" value="{{viaje.2}}">
                    {% for Y in viaje %}
                    <td>{{Y}}</td>
                    {% endfor %}
                    {% if localidades %}
                    <td><select name="localidad" id="localidad">
                        <option value=""></option>
                        {% for loc in localidades %}
                        <option value="{{loc}}">{{loc}}</option>
                        {% endfor %}
                    </select></td>
                    <td><input type="submit"value="Cambiar"></td>
                    {% endif %}
                </tr>
            </form>
        {% endfor %}
    </table>
{% endblock %}