{% extends "index.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block content %}

    <form action="/facturacion/facturar" method="post" style="position: initial; width: 30%;">
        <!-- <a href="/facturacion/borrar_repetido"><input type="button" value="Borrar repetidos"></a><br> -->
        <label>Desde</label><br>
        <input type="date" name="desde" value="{{desde}}"><br>
        <label>Hasta</label><br>
        <input type="date" name="hasta" value="{{hasta}}"><br>
        <select name="cliente">
            <option value="{{cliente}}">{{cliente}}</option>
            {% for cliente in clientes %}
            <option value="{{cliente}}">{{cliente}}</option>
            {% endfor %}
          </select>
        <select name="estrategiaFacturacion">
            <option value="strategyEnCamino">En Camino</option>
            <option value="strategyPorDireccion">Por Direccion</option>
            <option value="strategyEntregado">Entregado</option>
        </select>
        <select name="sobreEscribir" id=""></select>
        <option value="True">Si</option>
        <option value="False">No</option>
        <input type="submit" value="Buscar">
    </form>
    {% if total %}
    <h4>Total: {{total}}</h4>
    {% endif %}
    <a href="/descargaresumen"><input type="button" name="descarga" id="descarga" value="Descarga exel cliente"></a>
    <h3>{{mensaje_error}}</h3>
    <br><br>
    <table style="width: 100%; border: solid ;">
        <tr>
            {%for x in cabeceras%}
            <td>{{x}}</td>
            {%endfor%}
        </tr>
    
        {% for viaje in viajes %}
            <form action="/facturacion/arreglolocalidad" method="post">
                <tr>
                    <input type="hidden" name="idReporte" value="{{viaje.0}}">
                    <input type="hidden" name="numeroEnvio" value="{{viaje.2}}">
                    {% for Y in viaje %}
                    <td>{{Y}}</td>
                    {% endfor %}
                    {% if localidades %}
                    <td><select name="localidad" id="localidad">
                        <option value=""></option>
                        {% for loc in localidades %}
                        <option value="{{loc}}">{{loc}}</option>
                        {% endfor %}
                    </select></td>
                    <td><input type="submit"value="Cambiar"></td>
                    {% endif %}
                </tr>
            </form>
        {% endfor %}
    </table>
{% endblock %}