{% extends "index.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block content %}
    <style>
    .containerlv {
        display : flex;
        flex-direction : row;
        
    }

    .containerlv .box1 {
        text-align:justify
    }

    .containerlv .box2 {
        text-align:justify
    }

    </style>
<body><br><br><br><br><div class="containerlv">
    
    
    <div class="box1">
        <form action="/facturacion/nuevatarifa" method="post">
            <tr>
                <td>
                    Nombre de tarifa
                </td>
                <td>
                    <input type="text" name="nombreTarifa" required>
                </td>
            </tr>
            <input type="submit" value="Agregar">
        </form><br><br>
        <form action="/facturacion/verprecio" method="POST">
            Tarifa: <select name="tarifa">
                {% if tarifa%}
                <option value="{{tarifa}}">{{tarifa}}</option>
                {% endif %}
                {%for tar in tarifas%}
                <option value="{{tar.0}}">{{tar.1}}</option>
                {%endfor%}
            </select>
            <input type="submit">
        </form>
        
        <table style="width: 50%; text-align: center;">
            <tr> 
                <td style="text-align: justify;">Zona</td>
                <td style="text-align: center;">Precio actual</td>
                <td style="text-align: center;">Precio nuevo</td>
            </tr>
        {% for x in precios %}
        <form action="/facturacion/cambioprecio" method="POST">
        <tr style="border: solid;">
            <input type="hidden" name="tarifa" value="{{tarifa}}">
            <input type="hidden" name="zona" value="{{x.3}}">
            <td>{{x.0}}</td>
            <td>{{x.1}}</td>
            <td><input type="text" name="nuevoprecio"></td>
            <td><input type="submit" value="Modificar"></td>
        </tr>
        </form>
        {% endfor %}    
        </table>
        <table>
            <tr style="border: solid;">
                <td>Cliente</td>
                <td>Tarifa</td>
            </tr>
        {% for x in clientes %}
            <tr style="border: solid;">
                <td>{{x.0}}</td>
                <td>{{x.1}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    <div class="box2">

        <form action="/facturacion/nuevalocalidad" method="post">
            <tr>
                <td>
                    Localidad
                </td>
                <td>
                    <input type="text" name="nombreLocalidad" required>
                </td>
            </tr>
            <tr>
                <td>
                    Partido
                </td>
                <td>
                    <select name="nombrePartido" required>
                        <option value=""></option>
                        <option value="Adolfo Alsina">Adolfo Alsina<option>
                        <option value="Adolfo Gonzales Chaves">Adolfo Gonzales Chaves<option>
                        <option value="Alberti">Alberti<option>
                        <option value="Almirante Brown">Almirante Brown<option>
                        <option value="Arrecifes">Arrecifes<option>
                        <option value="Avellaneda">Avellaneda<option>
                        <option value="Ayacucho">Ayacucho<option>
                        <option value="Azul">Azul<option>
                        <option value="Bahía Blanca">Bahía Blanca<option>
                        <option value="Balcarce">Balcarce<option>
                        <option value="Baradero">Baradero<option>
                        <option value="Benito Juárez">Benito Juárez<option>
                        <option value="Berazategui">Berazategui<option>
                        <option value="Berisso">Berisso<option>
                        <option value="Bolívar">Bolívar<option>
                        <option value="Bragado">Bragado<option>
                        <option value="Brandsen">Brandsen<option>
                        <option value="Campana">Campana<option>
                        <option value="Cañuelas">Cañuelas<option>
                        <option value="Capitán Sarmiento">Capitán Sarmiento<option>
                        <option value="Carlos Casares">Carlos Casares<option>
                        <option value="Carlos Tejedor">Carlos Tejedor<option>
                        <option value="Carmen de Areco">Carmen de Areco<option>
                        <option value="Castelli">Castelli<option>
                        <option value="Chacabuco">Chacabuco<option>
                        <option value="Chascomús">Chascomús<option>
                        <option value="Chivilcoy">Chivilcoy<option>
                        <option value="Colón">Colón<option>
                        <option value="Coronel de Marina Leonardo Rosales">Coronel de Marina Leonardo Rosales<option>
                        <option value="Coronel Dorrego">Coronel Dorrego<option>
                        <option value="Coronel Pringles">Coronel Pringles<option>
                        <option value="Coronel Suárez">Coronel Suárez<option>
                        <option value="Daireaux">Daireaux<option>
                        <option value="Dolores">Dolores<option>
                        <option value="Escudo de Ensenada.GIF">Escudo de Ensenada.GIF</option>
                        <option value="Ensenada">Ensenada<option>
                        <option value="Escobar">Escobar<option>
                        <option value="Esteban Echeverría">Esteban Echeverría<option>
                        <option value="Exaltación de la Cruz">Exaltación de la Cruz<option>
                        <option value="Ezeiza">Ezeiza<option>
                        <option value="Florencio Varela">Florencio Varela<option>
                        <option value="Florentino Ameghino">Florentino Ameghino<option>
                        <option value="General Alvarado">General Alvarado<option>
                        <option value="General Alvear">General Alvear<option>
                        <option value="General Arenales">General Arenales<option>
                        <option value="General Belgrano">General Belgrano<option>
                        <option value="General Guido">General Guido<option>
                        <option value="General Juan Madariaga">General Juan Madariaga<option>
                        <option value="General La Madrid">General La Madrid<option>
                        <option value="General Las Heras">General Las Heras<option>
                        <option value="General Lavalle">General Lavalle<option>
                        <option value="General Paz">General Paz<option>
                        <option value="General Pinto">General Pinto<option>
                        <option value="General Pueyrredón">General Pueyrredón<option>
                        <option value="General Rodríguez">General Rodríguez<option>
                        <option value="General San Martín">General San Martín<option>
                        <option value="General Viamonte">General Viamonte<option>
                        <option value="General Villegas">General Villegas<option>
                        <option value="Guaminí">Guaminí<option>
                        <option value="Hipólito Yrigoyen">Hipólito Yrigoyen<option>
                        <option value="Hurlingham">Hurlingham<option>
                        <option value="Ituzaingó">Ituzaingó<option>
                        <option value="José C. Paz">José C. Paz<option>
                        <option value="Junín">Junín<option>
                        <option value="La Costa">La Costa<option>
                        <option value="La Matanza">La Matanza<option>
                        <option value="La Plata">La Plata<option>
                        <option value="Lanús">Lanús<option>
                        <option value="Laprida">Laprida<option>
                        <option value="Las Flores">Las Flores<option>
                        <option value="Leandro N. Alem">Leandro N. Alem<option>
                        <option value="Lezama">Lezama<option>
                        <option value="Lincoln">Lincoln<option>
                        <option value="Lobería">Lobería<option>
                        <option value="Lobos">Lobos<option>
                        <option value="Lomas de Zamora">Lomas de Zamora<option>
                        <option value="Luján">Luján<option>
                        <option value="Magdalena">Magdalena<option>
                        <option value="Maipú">Maipú<option>
                        <option value="Malvinas Argentinas">Malvinas Argentinas<option>
                        <option value="Mar Chiquita">Mar Chiquita<option>
                        <option value="Marcos Paz">Marcos Paz<option>
                        <option value="Mercedes">Mercedes<option>
                        <option value="Merlo">Merlo<option>
                        <option value="Monte">Monte<option>
                        <option value="Monte Hermoso">Monte Hermoso<option>
                        <option value="Moreno">Moreno<option>
                        <option value="Morón">Morón<option>
                        <option value="Navarro">Navarro<option>
                        <option value="Necochea">Necochea<option>
                        <option value="Nueve de Julio">Nueve de Julio<option>
                        <option value="Olavarría">Olavarría<option>
                        <option value="Patagones">Patagones<option>
                        <option value="Pehuajó">Pehuajó<option>
                        <option value="Pellegrini">Pellegrini<option>
                        <option value="Pergamino">Pergamino<option>
                        <option value="Pila">Pila<option>
                        <option value="Pilar">Pilar<option>
                        <option value="Pinamar">Pinamar<option>
                        <option value="Presidente Perón">Presidente Perón<option>
                        <option value="Puan">Puan<option>
                        <option value="Punta Indio">Punta Indio<option>
                        <option value="Quilmes">Quilmes<option>
                        <option value="Ramallo">Ramallo<option>
                        <option value="Rauch">Rauch<option>
                        <option value="Rivadavia">Rivadavia<option>
                        <option value="Rojas">Rojas<option>
                        <option value="Roque Pérez">Roque Pérez<option>
                        <option value="Saavedra">Saavedra<option>
                        <option value="Saladillo">Saladillo<option>
                        <option value="Salliqueló">Salliqueló<option>
                        <option value="Salto">Salto<option>
                        <option value="San Andrés de Giles">San Andrés de Giles<option>
                        <option value="San Antonio de Areco">San Antonio de Areco<option>
                        <option value="San Cayetano">San Cayetano<option>
                        <option value="San Fernando">San Fernando<option>
                        <option value="San Isidro">San Isidro<option>
                        <option value="San Miguel">San Miguel<option>
                        <option value="San Nicolás">San Nicolás<option>
                        <option value="San Pedro">San Pedro<option>
                        <option value="San Vicente">San Vicente<option>
                        <option value="Suipacha">Suipacha<option>
                        <option value="Tandil">Tandil<option>
                        <option value="Tapalqué">Tapalqué<option>
                        <option value="Tigre">Tigre<option>
                        <option value="Tordillo">Tordillo<option>
                        <option value="Tornquist">Tornquist<option>
                        <option value="Trenque Lauquen">Trenque Lauquen<option>
                        <option value="Tres Arroyos">Tres Arroyos<option>
                        <option value="Tres de Febrero">Tres de Febrero<option>
                        <option value="Tres Lomas">Tres Lomas<option>
                        <option value="Veinticinco de Mayo">Veinticinco de Mayo<option>
                        <option value="Vicente López">Vicente López<option>
                        <option value="Villa Gesell">Villa Gesell<option>
                        <option value="Villarino">Villarino<option>
                        <option value="Zárate">Zárate<option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    CP
                </td>
                <td>
                    <input type="number" name="CP" required>
                </td>
            </tr>
            <input type="submit" value="Agregar">
        </form><br><br>
            <input type="hidden" name="tarifa" value="{{tarifa}}">
            <table>
                <tr>
                    <td>Localidad</td>
                    <td>Partido</td>
                    <td>Zona</td>
                    <td>Nueva Zona</td>
                </tr>
                {%for localidad in localidades %}
                <tr style="border: solid;">
                    <form action="/facturacion/cambiolocalidadzona", method="POST">
                        <input type="hidden" value="{{tarifa}}" name="tarifa">
                        <input type="hidden" value="{{localidad.2}}" name="localidad">
                        <td>{{localidad.0}}</td>
                        <td>{{localidad.3}}</td>
                        <td>{{localidad.1}}</td>
                        <td><select name="zona">
                            <option value="{{localidad.1}}">{{localidad.1}}</option>
                            {% for x in zonas %}
                            <option value="{{x.0}}">{{x.1}}</option>
                            {%endfor%}
                        </select></td>
                        <td><input type="submit" name="" id=""></td></tr>
                    </form>
                </tr>
                {%endfor%}
            </table>
    </div>
</div>
</body>
    
        

{% endblock %}