{% extends "index.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block content %}
    <style>
    .containerlv {
        display : flex;
        flex-direction : row;
        
    }

    .containerlv .box1 {
        text-align:justify
    }

    .containerlv .box2 {
        text-align:justify
    }

    </style>
<body><div class="containerlv">
    
    <br><br>
    <div class="box1">
        <form action="/facturacion/verprecio" method="POST">
            Tarifa: <select name="tarifa">
                {% if tarifa%}
                <option value="{{tarifa}}">{{tarifa}}</option>
                {% endif %}
                {%for tar in tarifas%}
                <option value="{{tar}}">{{tar}}</option>
                {%endfor%}
            </select>
            <input type="submit">
        </form>
        
        <form action="/facturacion/cambioprecio" method="POST">
        <table style="width: 50%; text-align: center;">
            <tr> 
                <td style="text-align: justify;">Zona</td>
                <td style="text-align: center;">Precio actual</td>
                <td style="text-align: center;">Precio nuevo</td>
            </tr>
        {% for x in precios %}
        <tr style="border: solid;">
            <input type="hidden" name="tarifa" value="{{tarifa}}">
            <input type="hidden" name="zona" value="{{x.3}}">
            <td>{{x.0}}</td>
            <td>{{x.1}}</td>
            <td><input type="text" name="nuevoprecio"></td>
            <td><input type="submit" value="Modificar"></td>
        </tr>
        </form>
        {% endfor %}    
        </table>
        </form>
        <table>
            <tr style="border: solid;">
                <td>Cliente</td>
                <td>Tarifa</td>
            </tr>
        {% for x in clientes %}
            <tr style="border: solid;">
                <td>{{x.0}}</td>
                <td>{{x.1}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    <div class="box2">
        <form action="/facturacion/cambioLocalidadZona", method="POST">
            <input type="hidden" name="tarifa" value="{{tarifa}}">
            <table>
                <tr>
                    <td>Localidad</td>
                    <td>Zona</td>
                    <td>Nueva Zona</td>
                </tr>
                {%for localidad in localidades %}
                <tr style="border: solid;">
                    <td>{{localidad.0}}</td>
                    <td>{{localidad.1}}</td>
                    <td><select name="{{localidad.0}}">
                        <option value="{{localidad.1}}">{{localidad.1}}</option>
                        {% for x in zonas %}
                        <option value="{{x.1}}">{{x.1}}</option>
                        {%endfor%}
                    </select></td>
                </tr>
                {%endfor%}
                <tr><td></td>
                <td></td>
            <td><input type="submit" name="" id=""></td></tr>
            </table>
        </form>
    </div>
</div>
</body>
    
        

{% endblock %}