{% extends "index.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block content %}
    <style>
    .containerlv {
        display : flex;
        flex-direction : row;
        
    }

    .containerlv .box1 {
        text-align:justify
    }

    .containerlv .box2 {
        text-align:justify
    }

    </style>
<body><br><br><br><br><div class="containerlv">
    
    
    <div class="box1">
        <form action="/facturacion/nuevatarifa" method="post">
            <tr>
                <td>
                    Nombre de tarifa
                </td>
                <td>
                    <input type="text" name="nombreTarifa" required>
                </td>
            </tr>
            <input type="submit" value="Agregar">
        </form><br><br>
        <form action="/facturacion/verprecio" method="POST">
            Tarifa: <select name="tarifa">
                {% if tarifa%}
                <option value="{{tarifa}}">{{tarifa}}</option>
                {% endif %}
                {%for tar in tarifas%}
                <option value="{{tar.0}}">{{tar.1}}</option>
                {%endfor%}
            </select>
            <input type="submit">
        </form>
        
        <table style="width: 50%; text-align: center;">
            <tr> 
                <td style="text-align: justify;">Zona</td>
                <td style="text-align: center;">Precio actual</td>
                <td style="text-align: center;">Precio nuevo</td>
            </tr>
        {% for x in precios %}
        <form action="/facturacion/cambioprecio" method="POST">
        <tr style="border: solid;">
            <input type="hidden" name="tarifa" value="{{tarifa}}">
            <input type="hidden" name="zona" value="{{x.3}}">
            <td>{{x.0}}</td>
            <td>{{x.1}}</td>
            <td><input type="text" name="nuevoprecio"></td>
            <td><input type="submit" value="Modificar"></td>
        </tr>
        </form>
        {% endfor %}    
        </table>
        <table>
            <tr style="border: solid;">
                <td>Cliente</td>
                <td>Tarifa</td>
            </tr>
        {% for x in clientes %}
            <tr style="border: solid;">
                <td>{{x.0}}</td>
                <td>{{x.1}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
    <div class="box2">

        <form action="/facturacion/nuevalocalidad" method="post">
            <tr>
                <td>
                    Localidad
                </td>
                <td>
                    <input type="text" name="nombreLocalidad" required>
                </td>
            </tr>
            <tr>
                <td>
                    Partido
                </td>
                <td>
                    <input type="text" name="nombrePartido" required>
                </td>
            </tr>
            <tr>
                <td>
                    CP
                </td>
                <td>
                    <input type="number" name="CP" required>
                </td>
            </tr>
            <input type="submit" value="Agregar">
        </form><br><br>
            <input type="hidden" name="tarifa" value="{{tarifa}}">
            <table>
                <tr>
                    <td>Localidad</td>
                    <td>Partido</td>
                    <td>Zona</td>
                    <td>Nueva Zona</td>
                </tr>
                {%for localidad in localidades %}
                <tr style="border: solid;">
                    <form action="/facturacion/cambiolocalidadzona", method="POST">
                        <input type="hidden" value="{{tarifa}}" name="tarifa">
                        <input type="hidden" value="{{localidad.2}}" name="localidad">
                        <td>{{localidad.0}}</td>
                        <td>{{localidad.3}}</td>
                        <td>{{localidad.1}}</td>
                        <td><select name="zona">
                            <option value="{{localidad.1}}">{{localidad.1}}</option>
                            {% for x in zonas %}
                            <option value="{{x.0}}">{{x.1}}</option>
                            {%endfor%}
                        </select></td>
                        <td><input type="submit" name="" id=""></td></tr>
                    </form>
                </tr>
                {%endfor%}
            </table>
    </div>
</div>
</body>
    
        

{% endblock %}