<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asignar zonas</title>
</head>
<body>
<style>
    tr{
        border: solid;
    }
    td{
        text-align: center;
    }
</style>
<form action="/choferesAsignados" method="GET">
    <table style="border: solid;">
        <tr>
            <td>Zona</td>
            <td>Chofer</td>
            <td>Cantidad</td>
        </tr>
    {% for zona in zonas %}
        <tr>
            <td>{{zona.0}}</td>
            <td><select name="{{zona.0}}" id="{{zona.0}}">
                <option value="{{asignados[zona[0]]}}">{{asignados[zona[0]]}}</option>
                {% for chofer in choferes %}
                <option value="{{chofer}}">{{chofer}}</option>
                {% endfor %}</select>
            </td>
            <td>{{zona.1}}</td>
        </tr>
    {% endfor %}
    </table>
    <input type="submit" value="Enviar">
</form>
<form action="/logistica/limpiarzonas">
    <input type="submit" value="Limpiar choferes">
</form>
</body>
</html>