{% extends "logistica/navegadorLogistica.html" %}
{% block listaViajes %}
<style>
    table
    { 
        display: inline; 
    }
</style>

<form action="/logistica/asignar/{{ruta}}" method="post">
    <input type="date" name="fecha" value="{{fecha}}"><br>

    <table>
        <tr>
            <td>Vendedor</td>
            <td>Chofer</td>
        </tr>
        {% for vendedor in vendedores1 %}
            {% if vendedor in vendedoresHoy %}
                <tr style="color: aqua; background-color: black;" ><td>{{vendedor}}</td>
            {% else %}
                <tr><td>{{vendedor}}</td>
            {% endif %}
                <td><select name="{{vendedor}}" id="{{vendedor}}">
                    <option value="{{asignados[vendedor]}}">{{asignados[vendedor]}}</option>
                    <option value="null">Limpiar</option>
                    {% for chofer in choferes %}
                    <option value="{{chofer}}">{{chofer}}</option>
                    {% endfor %}</select>
                </td></tr>
        {% endfor %}
    </table>
    <table>
        <tr>
            <td>Vendedor</td>
            <td>Chofer</td>
        </tr>
        {% for vendedor in vendedores2 %}
            {% if vendedor in vendedoresHoy %}
                <tr style="color: aqua; background-color: black;" ><td>{{vendedor}}</td>
            {% else %}
                <tr><td>{{vendedor}}</td>
            {% endif %}
                <td><select name="{{vendedor}}" id="{{vendedor}}">
                    <option value="{{asignados[vendedor]}}">{{asignados[vendedor]}}</option>
                    <option value="null">Limpiar</option>
                    {% for chofer in choferes %}
                    <option value="{{chofer}}">{{chofer}}</option>
                    {% endfor %}</select>
                </td></tr>
        {% endfor %}
    </table><br><br><br><br><br>
    <input type="submit" Value="{{boton}}"><br><br>
    <a href="/logistica/asignar/limpiarchoferes"><input type="button" value="Limpiar tabla temporal"></a>
</form>
{% endblock %}