{% extends "logistica/navegadorLogistica.html" %}

{% block listaViajes %}
<style>
    .boton{
        width: 150px;
        height: 35px;
    }
    .selector{
        width: 304px;
        height: 35px;
        font-size: medium;
    }
</style>
<div>
<form action='/logistica/cambiozonamasivo' id="formzona" method="GET" name="formzona">
    <select name = "zonamasiva" id='zonamasiva' class="selector">
        <option value='null'>Limpiar zona</option>
        {% for zn in zonas %}
        <option value='{{zn}}'>{{zn}}</option>
        {% endfor %}
    </select>
    <input type="button" value="Asignar" onclick="zonificar()" class="boton">
    <input type="hidden" name="enviosAzonificar" id="enviosAzonificar">
</form>

<input type="button" value="Actualizar mapa" onclick="initMap()" class="boton">
<input type="button" value="Reset poligono" onclick="clearPolygon()" class="boton">
<input type="button" value="Geolocalizar faltantes" onclick="geolocalizarFaltantes()" class="boton">

<input type="checkbox" checked name="listaParaRetirar" id="listaParaRetirar" value="True" >Lista para retirar.
<input type="checkbox" checked name="retirado" id="retirado" value="True">Retirado
<input type="checkbox" checked name="enDeposito" id="enDeposito" value="True">En deposito
<input type="text" id="search" placeholder="Busqueda">
</div>
<div>
  <div id="mensaje"></div>
</div>
<form action="/logistica/jsonPendientes" method="post">
<select name="tipoEnvio">
    <option value="2">Flexs</option>
    <option value="13">Recorrido</option>
    <option value="15">Chips</option>
    <option value=20>Robados/Extraviados</option>
</select>
<input type="submit" value="Filtrar" value="True">
</form>
<div id="contadores" style="position: static; left: 25px;"></div>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <style>
/* Establezca siempre la altura del mapa explícitamente para definir el tamaño del div
       * elemento que contiene el mapa. */
       #map {
        height: 80%;
        z-index: 0;
        position: relative;
}

/* Opcional: Hace que la página de muestra llene la ventana.*/
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
    </style>
    <script src="{{url_for('static', filename='estados.js')}}"></script>
    <script src="{{url_for('static', filename='mapa.js')}}"></script>
    <script src="{{url_for('static', filename='filtros.js')}}"></script>
    <div id="map"></div>
    <!-- El script asíncrono se ejecuta inmediatamente y debe estar después de cualquier elemento DOM utilizado en la devolución de llamada.  -->
    <script async
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD3CqHvT0eiesSF0kuzId-bNHfsw7RChXg&callback=initMap">
</script>
{% endblock %}

