{% extends "index.html" %}

{% block content %}
<br><br>
<form action="/logistica/reasignar" method="post">
<table>
    <tr>
        <td>Fecha</td>
        <td>Numero de envío</td>
        <td>Chofer</td>
        <td>Entreado?</td>
    </tr>
    <tr>
        <td><input type="date" name="fecha" value="{{fecha}}"></td>
        <td><input type="text" name="numeroEnvio"></td>
        <td><select name="chofer" id="chofer" required>
            <option value="{{chofer}}">{{chofer}}</option>
            {%for chofer in choferes%}
            <option value="{{chofer}}">{{chofer}}</option>
            {%endfor%}
        </select></td>
        <td><input type="checkbox" name="entregado"></td>
    </tr>
    <tr><td><input type="submit" Value="Registrar"></td></tr>
</table>
</form>
<br><br>
{%if envio %}<h3>El envio {{envio}} fue asignado a {{chofer}}</h3>{%endif%}
{%endblock%}