{% extends "index.html" %}

{% block content %}
<div id="printableArea" class="table-responsive">
<style>
    td{
        border-left: solid;
        border-top: solid ; 
        border-color: #afafaf;
    }
</style>
<br>
<form action="/logistica/pendientes" method="post">
<select name="filtro">
    <option value="retirado">Retirado/Sectirizado</option>
    <option value="EnCamino">En Camino</option>
    <option value="NoEntregado">No Entregado</option>
</select>
<input type="submit" value="Filtrar">
</form>
<table style="width: 100%; margin-top: 30px;" class="table">


    <h4>{{cantidad}} pendientes</h4>
    <tr>
    {% for columna in columnas %}
        <td>{{columna}}</td>
    {% endfor %}
    
    </tr>

    {% for viaje in viajes %}
        <tr>
            <td>{{viaje.0}}</td>
            <td>{{viaje.1}}</td>
            <td>{{viaje.2}}</td>
            <td>{{viaje.3}}</td>
            <td>{{viaje.4}}</td>
            <td>{{viaje.5}}</td>
            <td>{{viaje.6}}</td>
            <td>{{viaje.7}}</td>
            <td>{{viaje.8}}</td>
            {% if viaje.9 != None %}
            <td><img src='https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl={{viaje.9}}' alt="Código QR" id=""></td>
            {%else%}
            <td>QR no disponible</td>
            {% endif %}
            <form action="/logistica/almapa/{{viaje.2}}" method="post">
                <td><input type="submit" value="Tirar al mapa" name="alMapa"></td>
            </form>
        </tr>
    {% endfor %}
    </table>
    {% if cobra %}
    <h4>A cobrar: {{cobra}}</h4>
    {% endif %}
</div>
{% endblock %}
