{% extends "index.html" %}

{% block content %}
<script src="{{url_for('static', filename='estados.js')}}"></script>
<script>
    function confirmar(id){
    if(confirm("¿Seguro?")){
        // document.getElementById("fila"+id).outerHTML = "";
        window.location.href = "/logistica/historial/anular/"+id;
    }   
}
function imprimir() {
	  var ficha = document.getElementById("printableArea");
	  var ventimp = window.open(' ', 'popimpr');
	  ventimp.document.write( ficha.innerHTML );
	  ventimp.document.close();
	  ventimp.print( );
	  ventimp.close();
	}
</script>
<input type="button" value="Imprimir" id="printButton" onclick="imprimir()">
<!-- <a href="javascript:void(0);" id="printButton">Print</a>   -->
<div id="printableArea" class="table-responsive">
<style>
    td{
        border-left: solid;
        border-top: solid ; 
        border-color: #afafaf;
    }
</style>
<script src="{{url_for('static', filename='buscadorEnTablas.js')}}"></script>
<script src="{{url_for('static', filename='mapa.js')}}"></script>
<input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Buscar...">
<table style="width: 100%; margin-top: 30px;" class="table" id="myTable">
    <tr>
        {%for x in columnas%}
        <td><input type="text" placeholder="{{x}}" id="{{x}}" oninput="searchColumn({{ loop.index - 1}},'{{x}}')"></td>
        {%endfor%}
    </tr>
    {% for viaje in viajes %}
        <tr id="fila{{viaje.2}}">
            {% if acciones %}
            <td>
                <input type="button" value="Fuera de Zona" onclick="fueraDeZona('{{viaje.2}}')">
                <input type="button" value="Cancelado" onclick="cancelado('{{viaje.2}}')">
                <input type="button" value="Zona Peligrosa" onclick="zonaPeligrosa('{{viaje.2}}')">
                <a href="/logistica/reprogramar/{{viaje.2}}"><input type="button" value="Reprogramar"></a>
                {% if viaje.9 == "Lista Para Retirar" %}
                <input type="button" value="No Vino" onclick="noVino('{{viaje.2}}')">
                {% endif %}
                <input type="button" value="Modificar" onclick="modificarDatos('{{viaje.2}}','{{viaje.3}}','{{viaje.4}}','{{viaje.6}}','{{viaje.9}}','{{viaje.7}}')">
            </td>
            {% endif %}
            {% for x in viaje %}
            {% if (viaje.11 != None) and  (x == viaje.11) %}
            <td><img src='https://chart.googleapis.com/chart?chs=250x250&cht=qr&chl={{viaje.9}}' alt="Código QR" id=""></td>
            {% else %}
            <td>{{x}}</td>
            {% endif %} 
            {% endfor %}
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}
