{% extends "index.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block content %}

    <table style="width: 100%; border: solid ;">
        <tr>
            {%for x in cabezeras%}
            <td>{{x}}</td>
            {%endfor%}
        </tr>
    
        {% for viaje in viajes %}
            <tr>
            <td>{{viaje.0}}</td>
            <td>{{viaje.1}}</td>
            <td>{{viaje.2}}</td>
            <td>{{viaje.3}}</td>
            <td>{{viaje.4}}</td>
            <td>{{viaje.5}}</td>
            <td>{{viaje.6}}</td>
            <td><a href="/etiqueta/{{viaje.1}}"><input type="button" value="Generar etiqueta"></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}