{% extends "index.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block content %}
<script src="{{url_for('static', filename='buscadorEnTablas.js')}}"></script>
<form action="/etiquetaspendientes" method="get">
<input type="submit" value="Imprimir todo">
</form>
<form action="/envios" method="POST">
    {% if auth != "Cliente" %}
    <select name="vendedor">
        {% for cliente in vendedores %}
        <option value="{{cliente}}">{{cliente}}</option>
        {% endfor %}
    </select>
    {% endif %}
    <input type="date" name="desde" value="{{desde}}">
    <input type="date" name="hasta" value="{{hasta}}">
    <input type="submit" value="VER">
</form>
<input type="text" id="searchInput" onkeyup="searchTable()" placeholder="Buscar...">
  <H2>{{mensajeCliente}}</H2>
    <table style="width: 100%; border: solid ;" class="table" id="myTable">
        <tr>
            {%for x in cabezeras%}
            <td>{{x}}</td>
            {%endfor%}
        </tr>
        {% for viaje in viajes %}
            <tr>
                {% for x in viaje %}
                    {% if x == None %}
                        <td></td>
                    {% else %}
                        <td>{{x}}</td>
                    {% endif %}
                {% endfor %}
            {% if viaje.6 == "Lista Para Retirar" %}
            <form action="/etiqueta" method="POST">
                <input type="hidden" name="envio" value="{{viaje.1}}">
                <td><input type="submit" value="Generar etiqueta"></td>
            </form>
            <form action="/cancelar" method="POST">
                <input type="hidden" name="envio" value="{{viaje.1}}">
                <td><input type="submit" value="Cancelar" onclick="return confirm('¿Estás seguro de querer cancelar el envio?')"></td>
            </form>
            {% endif %}
            </tr>
        {% endfor %}
    </table>
{% endblock %}