{% extends "index.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block content %}

    <table style="width: 100%; border: solid ;">
        <tr>
            <td>Fecha</td>
            <td>Remito</td>
            <td>Direccion</td>    
            <td>Localidad</td>
            <td>Precio</td>
            <TD>Cuenta</TD>
            <td>Generar etiqueta</td>

        </tr>
    
        {% for viaje in viajes %}
            <tr>
            <td>{{viaje.0}}</td>
            <td>{{viaje.1}}</td>
            <td>{{viaje.2}}</td>
            <td>{{viaje.3}}</td>
            <td>{{viaje.4}}</td>
            <td>{{viaje.5}}</td>
            <td>{{viaje.6}}</td>
            <td><a href="/etiqueta/{{viaje.1}}"><input type="button" value="Generar etiqueta"></a></td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}