* {
    padding: 0px;    
    margin: 0px;
    }

#header {
    margin:auto;
    width:1300px;
    font-family: Arial, Helvetica, sans-serif;
    }

ul, li {
    list-style:none;
    }

nav li a {
    background-color:#000;
    color:#fff;
    text-decoration:none;
    padding:10px 15px;
    display:block;
    }

nav li a :hover {
    background-color:#434343;
    }
nav > li {
    float:left;
    }
nav li ul {
    display:none;
    position:absolute;
    min-width: 260px;
    }

nav li:hover > ul {
    display:block;
    }
nav li ul li {
    position:relative;
    }
nav li ul li ul {
    right:-260px;
    top:0px;
    }

img {
    float: left;
    block-size: initial;
}