<footer>
    <p>Copyright © 2024 Intuitive Mind Labs, LLC</p>
    <p>Except where otherwise noted, some content on this website may be written by, or with the assistance of, Artificial Intelligence. See our <a href="ai-statement.html">Responsible AI Use Statement</a> for more details.</p>
    <nav>
        <ul>
            <li><a href="about.html">About IML</a></li>
	    <li><a href="core-principles.html">Our Principles</a></li>
            <li><a href="contact.html">Contact</a></li>
	</ul>
	<ul>
            <li><a href="ai-statement.html">Responsible AI Use Statement</a></li>
            <li><a href="privacy-policy.html">Privacy Policy</a></li>
            <li><a href="terms-of-service.html">Terms of Service</a></li>
	</ul>
	<ul>
            <li><a href="blog.html">Blog</a></li>
        </ul>
    </nav>
</footer>