<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Arimo"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Epilogue"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="/static/css/about.css" rel="stylesheet" />
    <title>About Boheme</title>
  </head>
  <body>
    <!--header-->
    <!-- announcement-->
    <div id="announcement">
      <span id="a-icon">🏖️ </span>Ownership is on vacation! We are not currently
      conducting trade-ins until
      <span class="bold-font"> August 8th, 2023.</span>
      <a id="underline"> Learn More </a>
    </div>
    <!--nav bar-->
    <!--nav bar-->
    <div id="nav-container">
      <div id="nav-grid">
          <div id="boheme-logo" onClick="location.href='homepage.html'"><img src="/static/img/boheme-white-logo.png"></div>
          <div class="nav-item" onClick="location.href='homepage.html'">HOME</div>
          <div class="nav-item">ABOUT</div>
          <div class="nav-item">BUY-SELL-TRADE</div>
          <div class="nav-item">GIFT GUIDE</div>
          <div id="dropdown">
            <button id="dropbtn">
              MEDIA
              <i id="arrow-down"></i>
            </button>
            <div id="dropdown-content">
              <a href="#">FUN PHOTOS</a>
              <a href="#">VIBIN' VIDEOS</a>
              <a href="#">IN THE NEWS</a>
              <a href="#">BLOG</a>
            </div>
          </div>
          <button class="nav-button" id="get-in-touch">GET IN TOUCH</button>
          <button id="visit-store">VISIT STORE <span id="arrow"></span></button>
      </div>
  </div>
    <!--happiest store-->
    <div id="happiest-store">
      <div class="happiest-text"> 
        <div class="text-container">
          <div class = "text-subheader"> DOWNTOWN DAVIS, CA</div>
          The Happiest Store in Davis.
          <div class="text-content">
            We are a thrift store located in the heart of Downtown 
            Davis and have been serving our community with affordable and
            sustainable clothing since 2012. We are dedicated to providing
            unique and stylish clothing at affordable prices. Stop by and come visit our store
            today to browse our hand picked collection.
          </div>
        </div>
      </div>
      </div>
     
   
    </div>
    <!--sustainable styles-->
    <div class="sustainable-styles">
      <div class="our-story">
        <div class="story-h1">OUR STORY</div>
        <div class="story-h2">Sustainable styles at unbeatable prices</div>
        <div class="story-content">
          In 2012, Boheme's original founder, Dawn <br />
          Donahue realized that there were no sustainable clothing options in
          Davis. <br />
          Being the change she wanted to see, she <br />
          started Boheme Thrift Store.
        </div>
        <div class="story-content">
          Yelena Ivashchenko, a local artisan and a <br />
          big believer in repurposing and recycling <br />
          "life leftovers" resonated with Donahue's <br />
          mission and took over the business in 2015 <br />
          and has run it since.
        </div>
        <!--link will need to be altered-->
        <form action="http://www.bohemethreads.com/">
          <button class="story-btn">SEE WHAT WE'VE BEEN UP TO</button>
        </form>
      </div>
      <div class="sustainableimg">
        <img src="/static/img/sustainable_shopping.png" />
      </div>
    </div>
    <!--what we believe in-->
    <div class="values">
      <div class="valueheader1"> OUR VALUES</div>
      <div class="valueheader2">What We Believe In</div>
      <div class="content-container">
        <div class="item-container">
          <div class="item-image">
            <img style= "width:110px; height:110px" src="/static/img/sustainability.png" />
          </div>
        </div>
        <div class="item-container">
          <div class="item-image">
            <img style= "width:110px; height:110px" src="/static/img/affordability.png" />
          </div>
        </div>
        <div class="item-container">
          <div class="item-image">
            <img style= "width:110px; height:110px" src="/static/img/community.png" />
          </div>
        </div>
        <div class="item-container">
          SUSTAINABILITY
          <div class="item-content">
            Our items come directly <br />
            from the Davis community
          </div>
        </div>
        <div class="item-container">
          AFFORDABILITY
          <div class="item-content">
            Most of our prices range from <br />
            $2 - $12
          </div>
        </div>
        <div class="item-container">
          COMMUNITY
          <div class="item-content">
            Connecting fashion <br />
            enthusiasts together
          </div>
        </div>
      </div>
    </div>
    <!--Boheme's stylish staff-->
    <div class="staff-container">
      <div class="staff-title">
        <h5>Our Team</h5>
        <h2>Boheme's Stylish Staff</h2>
      </div>
      <div class="staff-array">
        <div class="staff-picture"></div>
        <div class="staff-picture"></div>
        <div class="staff-picture"></div>
        <div class="staff-picture"></div>
        <div class="staff-picture"></div>
      </div>
    </div>
    <div class="yelp-review-container">
      <h5>Reviews</h5>
      <h2>Hear What Our Customers Have to Say</h2>
      <div class="yelp-reviews-flex">
        <div class="yelp-review">
          <img class="yelp-img" src="/static/img/yelp-icon.png">
          <div class="yelp-content">
            <p>Me and my friends were heading to the nearby park & saw this place on our way there. We decided to check the place out & I am super </p>
            <a href="https://www.yelp.com"><p>Read more</p></a>
            <p class="reviewer">Nadine D.</p>
          </div>
          <div class="stars">
            <img src="/static/img/star.png"/>
            <img src="/static/img/star.png"/>
            <img src="/static/img/star.png"/>
            <img src="/static/img/star.png"/>
            <img src="/static/img/star.png"/>
          </div>
        </div>
        <div class="yelp-review">
          <img class="yelp-img" src="/static/img/yelp-icon.png">
          <div class="yelp-content">
            <p>Me and my friends were heading to the nearby park & saw this place on our way there. We decided to check the place out & I am super </p>
            <a href="https://www.yelp.com"><p>Read more</p></a>
            <p class="reviewer">Nadine D.</p>
          </div>
          <div class="stars">
            <img src="/static/img/star.png"/>
            <img src="/static/img/star.png"/>
            <img src="/static/img/star.png"/>
            <img src="/static/img/star.png"/>
            <img src="/static/img/star.png"/>
          </div>
        </div>
      </div>
    </div>
    <!--footer-->
    <div id="footer">
      <div id="footer-top">
        <div id="footer-info">
          <p class="bold-text-footer">Sign Up and Save</p>
          <p class="text-footer">
            Be kept up-to-date on our sales, specials, and new product offerings
            by signing up for our newsletter.
          </p>
        </div>
        <div id="email-footer">
          <input id="email-input" type="text" placeholder="Email Address" />
          <button id="email-button">Subscribe</button>
        </div>
      </div>
      <div id="footer-bottom">
        <div id="footer-logo-container">
          <img id="footer-logo" src="/static/img/boheme-logo-full.png" />
        </div>
        <div id="footer-location-hours">
          <p class="bold-text-footer">Location</p>
          <p class="text-footer">409 3RD STREET, DAVIS, CA</p>
          <p class="bold-text-footer">Hours</p>
          <p class="text-footer">SUN - FRI: 11:00 - 6:00</p>
          <p class="text-footer">SAT: 10:30 - 6:00</p>
          <p class="bold-text-footer">Phone Number</p>
          <p class="text-footer">530-341-2004</p>
        </div>
        <div id="footer-boheme">
          <p class="bold-text-footer">Bohème</p>
          <p style="padding-top: 1.875vw" class="text-footer text-footer-right">
            Home
          </p>
          <p class="text-footer text-footer-right">About</p>
          <p style="cursor: pointer" class="text-footer">Contact</p>
        </div>
        <div id="footer-services">
          <p style="cursor: auto" class="bold-text-footer text-footer-right">
            Services
          </p>
          <p class="text-footer text-footer-right">Our Store</p>
          <p style="cursor: pointer" class="text-footer">Buy-Sell-Trade</p>
        </div>
        <div id="footer-media">
          <p style="cursor: auto" class="bold-text-footer text-footer-right">
            Media
          </p>
          <p class="text-footer text-footer-right">Fun Photos</p>
          <p class="text-footer text-footer-right">Vibin' Videos</p>
          <p class="text-footer text-footer-right">In the News</p>
          <p style="cursor: pointer" class="text-footer">Blog</p>
        </div>
        <div id="footer-follow-us">
          <p style="cursor: auto" class="bold-text-footer text-footer-right">
            Follow Us
          </p>
          <a href="https://www.instagram.com/boheme.threads/?hl=en">
            <img
              style="cursor: pointer"
              src="/static/img/footer-instagram.png"
              class="footer-icon"
            />
          </a>
          <a href="https://www.facebook.com/BohemeThreads/">
            <img
              style="cursor: pointer"
              src="/static/img/footer-facebook.png"
              class="footer-icon"
            />
          </a>
        </div>
      </div>
      <div id="copyright-footer">2023. Bohème Used Clothing & Gifts</div>
    </div>
  </body>
</html>
