<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Arimo"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Epilogue"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">  
    <link href="/static/css/about.css" rel="stylesheet" />
    <link rel="stylesheet" href="/static/css/shared.css">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <title>About Boheme</title>
  </head>
  <body>
<!--nav bar-->
  <div id="nav-container">
    <div id="nav-grid">
        <div id="boheme-logo" onClick="location.href='/'"><img src="/static/img/boheme-white-logo.png"></div>
        <div class="nav-span">
            <div class="dropdowns">
                <button onclick="myFunction()" class="dropbutn"></button>
                <div id="myDropdown" class="dropdown-content">
                  <a href="/">HOME</a>
                  <a href="about.html">ABOUT</a>
                  <a href="trade.html">BUY-SELL-TRADE</a>
                  <a href="gift.html">GIFT GUIDE</a>
                  <a href="photos.html">FUN PHOTOS</a>
                  <a href="videos.html">VIBIN' VIDEOS</a>
                  <a href="news.html">IN THE NEWS</a>
                  <a href="contact.html">CONTACT</a>
                  <a >VISIT STORE</a>
                </div>
              </div>
              
              <script>
              /* When the user clicks on the button, 
              toggle between hiding and showing the dropdown content */
              function myFunction() {
                document.getElementById("myDropdown").classList.toggle("show");
              }
              
              // Close the dropdown if the user clicks outside of it
              window.onclick = function(event) {
                if (!event.target.matches('.dropbutn')) {
                  var dropdowns = document.getElementsByClassName("dropdown-content");
                  var i;
                  for (i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                      openDropdown.classList.remove('show');
                    }
                  }
                }
                var dropdown = document.getElementsByClassName("dropdown-mobile");
                    var i;
                    
                    for (i = 0; i < dropdown.length; i++) {
                      dropdown[i].addEventListener("click", function() {
                        this.classList.toggle("active");
                        var dropdownContent = this.nextElementSibling;
                        if (dropdownContent.style.display === "block") {
                          dropdownContent.style.display = "none";
                        } else {
                          dropdownContent.style.display = "block";
                        }
                      });
                    }
              }
              </script>
        </div>
        <div class="hiddens">
            <div class="nav-item" onClick="location.href='/'">HOME</div>
            <div class="nav-item" onClick="location.href='about.html'">ABOUT</div>
            <div class="nav-item" onClick="location.href='trade.html'">BUY-SELL-TRADE</div>
            <div class="nav-item" onClick="location.href='gift.html'">GIFT GUIDE</div>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    MEDIA
                 <i id="arrow-down"></i>
             </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    <li><a class="dropdown-item" href="#" onClick="location.href='photos.html'">FUN PHOTOS</a></li>
                    <li><a class="dropdown-item" href="#" onClick="location.href='videos.html'">VIBIN' VIDEOS</a></li>
                    <li><a class="dropdown-item" href="#" onClick="location.href='news.html'">IN THE NEWS</a></li>
                 <li><a class="dropdown-item" href="#" >BLOG</a></li>
                </ul>
            </div>
            <button class="nav-button" id="get-in-touch" onClick="location.href='contact.html'">GET IN TOUCH</button>
            <button id="visit-store">VISIT STORE <span id="arrow"></span></button>
        </div>
        
    </div>
  </div>
    <!--happiest store-->
    <div id="happiest-store">
      <div class="happiest-text"> 
        <div class="text-container">
          <div class = "text-subheader"> DOWNTOWN DAVIS, CA</div>
          The Happiest Store in Davis.
          <div class="text-content">
            We are a thrift store located in the heart of Downtown 
            Davis and have been serving our community with affordable and
            sustainable clothing since 2012. We are dedicated to providing
            unique and stylish clothing at affordable prices. Stop by and come visit our store
            today to browse our hand picked collection.
          </div>
        </div>
      </div>
      </div>
     
   
    </div>
    <!--sustainable styles-->
    <div class="sustainable-styles">
      <div class="our-story">
        <div class="story-h1">OUR STORY</div>
        <div class="story-h2">Sustainable styles at unbeatable prices</div>
        <div class="story-content">
          In 2012, Boheme's original founder, Dawn <br />
          Donahue realized that there were no sustainable clothing options in
          Davis. <br />
          Being the change she wanted to see, she <br />
          started Boheme Thrift Store.
        </div>
        <div class="story-content">
          Yelena Ivashchenko, a local artisan and a <br />
          big believer in repurposing and recycling <br />
          "life leftovers" resonated with Donahue's <br />
          mission and took over the business in 2015 <br />
          and has run it since.
        </div>
        <!--link will need to be altered-->
        <button class="story-btn" onClick="location.href='news.html'">SEE WHAT WE'VE BEEN UP TO</button>
      </div>
      <div class="sustainableimg">
        <img style = "height:58.594vw; width: 51.484vw;"src="/static/img/sustainable_shopping.png" />
      </div>
    </div>
    <!--what we believe in-->
    <div class="values">
      <div class="valueheader1"> OUR VALUES</div>
      <div class="valueheader2">What We Believe In</div>
      <div class="content-container">
        <div class="item-container">
          <div class="item-image">
            <img style= "width:8.594vw; height:8.594vw" src="/static/img/sustainability.png" />
          </div>
        </div>
        <div class="item-container">
          <div class="item-image">
            <img style= "width:8.594vw; height:8.594vw" src="/static/img/affordability.png" />
          </div>
        </div>
        <div class="item-container">
          <div class="item-image">
            <img style= "width:8.594vw; height:8.594vw" src="/static/img/community.png" />
          </div>
        </div>
        <div class="item-container">
          SUSTAINABILITY
          <div class="item-content">
            Our items come directly <br />
            from the Davis community
          </div>
        </div>
        <div class="item-container">
          AFFORDABILITY
          <div class="item-content">
            Most of our prices range from <br />
            $2 - $12
          </div>
        </div>
        <div class="item-container">
          COMMUNITY
          <div class="item-content">
            Connecting fashion <br />
            enthusiasts together
          </div>
        </div>
      </div>
    </div>
    <!--Boheme's stylish staff-->
    <div class="staff-container">
      <div class="staff-title">
        <h5>Our Team</h5>
        <h2>Boheme's Stylish Staff</h2>
      </div>
      <div class="staff-array">
        <img class="staff-picture" src="/static/img/staff_img1.JPG"></img>
        <img class="staff-picture" src="/static/img/staff_img2.jpg"></img>
      </div>
    </div>
    <div class="yelp-review-container">
      <h5>Reviews</h5>
      <h2>Hear What Our Customers Have to Say</h2>
      <div class="yelp-reviews-flex">
        <div class="yelp-review">
          <img class="yelp-img" src="/static/img/yelp-icon.png">
          <div class="yelp-content">
            <p class="yelp-p">First time coming here and I've been wanting to visit for a while now. It's a small but cool store for the unique clothing selections you get... </p>
            <a href="https://www.yelp.com/biz/boheme-used-clothing-and-goods-davis-2"><p>Read more</p></a>
            <p class="reviewer">Sandy V.</p>
          </div>
          <div class="stars">
            <img style= "width:2.5vw; height:2.578vw" src="/static/img/star.png"/>
            <img style= "width:2.5vw; height:2.578vw" src="/static/img/star.png"/>
            <img style= "width:2.5vw; height:2.578vw" src="/static/img/star.png"/>
            <img style= "width:2.5vw; height:2.578vw" src="/static/img/star.png"/>
            <img style= "width:2.5vw; height:2.578vw" src="/static/img/star.png"/>
          </div>
        </div>
        <div class="yelp-review">
          <img class="yelp-img" src="/static/img/yelp-icon.png">
          <div class="yelp-content">
            <p class="yelp-p">Me and my friends were heading to the nearby park & saw this place on our way there. We decided to check the place out & I am super... </p>
            <a href="https://www.yelp.com/biz/boheme-used-clothing-and-goods-davis-2"><p>Read more</p></a>
            <p class="reviewer">Nadine D.</p>
          </div>
          <div class="stars">
            <img style= "width:2.5vw; height:2.578vw" src="/static/img/star.png"/>
            <img style= "width:2.5vw; height:2.578vw" src="/static/img/star.png"/>
            <img style= "width:2.5vw; height:2.578vw" src="/static/img/star.png"/>
            <img style= "width:2.5vw; height:2.578vw" src="/static/img/star.png"/>
            <img style= "width:2.5vw; height:2.578vw" src="/static/img/star.png"/>
          </div>
        </div>
        <div class="yelp-review">
          <img class="yelp-img" src="/static/img/yelp-icon.png">
          <div class="yelp-content">
            <p class="yelp-p">I want to share my excellent experience at this store today. I traded in some of my new dresses, gently used clothes and purses...</p>
            <a href="https://www.yelp.com/biz/boheme-used-clothing-and-goods-davis-2"><p>Read more</p></a>
            <p class="reviewer">Cindy S.</p>
          </div>
          <div class="stars">
            <img style= "width:2.5vw; height:2.578vw" src="/static/img/star.png"/>
            <img style= "width:2.5vw; height:2.578vw" src="/static/img/star.png"/>
            <img style= "width:2.5vw; height:2.578vw" src="/static/img/star.png"/>
            <img style= "width:2.5vw; height:2.578vw" src="/static/img/star.png"/>
            <img style= "width:2.5vw; height:2.578vw" src="/static/img/star.png"/>
          </div>
        </div>
        <div class="yelp-review">
          <img class="yelp-img" src="/static/img/yelp-icon.png">
          <div class="yelp-content">
            <p class="yelp-p">Boheme is a quirky thrift store, and they also have new (not used) items as well! When you walk into the store, there are clothes, shoes, socks...</p>
            <a href="https://www.yelp.com/biz/boheme-used-clothing-and-goods-davis-2"><p>Read more</p></a>
            <p class="reviewer">Bonnie N.</p>
          </div>
          <div class="stars">
            <img style= "width:2.5vw; height:2.578vw" src="/static/img/star.png"/>
            <img style= "width:2.5vw; height:2.578vw" src="/static/img/star.png"/>
            <img style= "width:2.5vw; height:2.578vw" src="/static/img/star.png"/>
            <img style= "width:2.5vw; height:2.578vw" src="/static/img/star.png"/>
            <img style= "width:2.5vw; height:2.578vw" src="/static/img/star.png"/>
          </div>
        </div>
      </div>
    </div>
<!--footer-->
<div id="footer">
  <div id="mc_embed_shell">
      <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css"><style type="text/css">
      </style>
  <div id="mc_embed_signup">
      <form action=https://bohemethreads.us17.list-manage.com/subscribe/post?u=4576bddfd57e85a02b69d020f&amp;id=19c9e58137&amp;f_id=005066e0f0 
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <div id="mc_embed_signup_scroll">
          <div id="footer-top">
              <div id="footer-info">
                  <p class="bold-text-footer">Sign Up and Save</p>
                  <p class="text-footer">Be kept up-to-date on our sales, specials, and new product offerings by signing up for our newsletter.</p>
              </div>
              <div id="email-footer">
                  <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address" required="" value="">
                  <input id="email-button" type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                  <div id="mce-responses" class="clear foot">
                      <div class="response" id="mce-error-response" style="display: none;"></div>
                      <div class="response" id="mce-success-response" style="display: none;"></div>
                  </div>
              </div>
          </div>
    <div aria-hidden="true" style="position: absolute; left: -5000px;">
        /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
        <input type="text" name="b_4576bddfd57e85a02b69d020f_19c9e58137" tabindex="-1" value="">
    </div>
        <!-- <div class="optionalParent">
            <div class="clear foot">
                <input id="email-button" type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                <p style="margin: 0px auto;"><a href="http://eepurl.com/iBMPv-" title="Mailchimp - email marketing made easy and fun">
              <span style="display: inline-block; background-color: black; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;">
                  <img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-light.svg" 
                  alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
            </div>
        </div> -->
    </div>
</form>
</div>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';
ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}
(jQuery));var $mcj = jQuery.noConflict(true);</script></div>
<div id="footer-bottom">
    <div id="footer-logo-container">
        <img id="footer-logo" src="/static/img/boheme-logo-full.png">
    </div>
    <div id="footer-location-hours">
        <p class="bold-text-footer">Location</p>
        <p class="text-footer">409 3RD STREET, DAVIS, CA</p>
        <p class="bold-text-footer">Hours</p>
        <p class="text-footer">SUN - FRI: 11:00 - 6:00</p>
        <p class="text-footer">SAT: 10:30 - 6:00</p>
        <p class="bold-text-footer">Phone Number</p>
        <p class="text-footer">530-341-2004</p>
    </div>
    <div id="footer-boheme">
        <p class="bold-text-footer" onClick="location.href='/'">Bohème</p>
        <p style="padding-top:1.875vw;"class="text-footer text-footer-right" onClick="location.href='/'">Home</p>
        <p class="text-footer text-footer-right"  onClick="location.href='about.html'">About</p>
        <p style="cursor: pointer;" class="text-footer"  onClick="location.href='contact.html'">Contact</p>
    </div>
    <div id="footer-services">
        <p style="cursor: auto;" class="bold-text-footer text-footer-right">Services</p>
        <p class="text-footer text-footer-right" >Our Store</p>
        <p class="text-footer text-footer-right"  onClick="location.href='trade.html'">Buy-Sell-Trade</p>
        <p style="cursor: pointer;" class="text-footer"  onClick="location.href='gift.html'">Gift Guide</p>
    </div>
    <div id="footer-media">
        <p style="cursor: auto;"class="bold-text-footer text-footer-right">Media</p>
        <p class="text-footer text-footer-right" onClick="location.href='photos.html'">Fun Photos</p>
        <p class="text-footer text-footer-right"  onClick="location.href='videos.html'">Vibin' Videos</p>
        <p class="text-footer text-footer-right"  onClick="location.href='news.html'">In the News</p>
        <p style="cursor: pointer;" class="text-footer" >Blog</p>
    </div>
    <div id="footer-follow-us">
        <p style="cursor: auto;" class="bold-text-footer text-footer-right">Follow Us</p>
        <a style="margin-right:0.938vw;"href="https://www.instagram.com/boheme.threads/?hl=en">
            <img style="cursor: pointer;" src="/static/img/footer-instagram.png" class="footer-icon">
        </a>
        <a href="https://www.facebook.com/BohemeThreads/">
            <img style="cursor: pointer;" src="/static/img/footer-facebook.png" class="footer-icon">
        </a>
        </br>
        </br style="line-height:0.5em"/>
        <a style="margin-right:0.938vw;" href="https://www.pinterest.com/BohemeThreads/">
            <img style="cursor: pointer;" src="/static/img/footer-pinterest.png" class="footer-icon">
        </a>
        <a href="https://www.youtube.com/@BohemeThreads">
            <img style="cursor: pointer;" src="/static/img/footer-youtube.png" class="footer-icon">
        </a>
    </div>
</div>
<div id="copyright-footer">
    <div style="display:inline-block"> 
        <img id="copyright" src="/static/img/copyright.png"/>
        2023. Bohème Used Clothing & Gifts </div>
</div>
</div>
</html>
