<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Flask + Stripe Checkout</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="https://unpkg.com/credential-handler-polyfill@2.1.1/dist/credential-handler-polyfill.min.js"></script>
  </head>
  <body class="w-screen h-screen items-center justify-center flex">
    {% block content %}{% endblock %}
    <p class="absolute bottom-0 text-center">DIDKit v{{didkit_version}}</p>
  </body>
</html>
