{% extends "index.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block content %}
    
<body>
    <div style="text-align: left; width: 30%;">
        <h1>El envio {{nro_envio}} fue cargado exitosamente</h1>
    </div>
    <form class="" action="/carga_noml" method="POST" style="width: 25%; margin-top: 20px;">
        <fieldset>    
        {% if auth != "Cliente" %}
        <label>Vendedor</label><br>
        <select name="nombre_cliente">
            {% for cliente in clientes %}
            <option value="{{cliente}}">{{cliente}}</option>
            {% endfor %}
        </select><br>
        {% endif %}
        <label>Referencia interna</label><br>
        <input type="text" name="referencia_interna" placeholder="# referencia interna"><BR>
        
        <LABEl>Nombre/s</LABEl><br>
        <input type="text" name="nombre" placeholder="Nombre" required><BR>
        
        <LABEl>Apellido/s</LABEl><br>
        <input type="text" name="apellido" placeholder="Apellido" required><BR>

        <LABEl>Telefono</LABEl><br>
        <input type="number" name="telefono" placeholder="Telefono" required><BR>            
    </fieldset>
    <fieldset>
        
        <LABEl>Calle</LABEl><br>
        <input type="text" name="calle" placeholder="Calle" required><BR>
        <LABEl>Numero</LABEl><br>
        <input type="number" name="altura" placeholder="Altura" required><br>
        <LABEl>Piso</LABEl><br>
        <input type="text" name="piso" placeholder="Piso"><br>
        <LABEl>Depto</LABEl><br>
        <input type="text" name="dpto" placeholder="Departamento"><br>
        <LABEl>Entre calle 1</LABEl><br>
        <input type="text" name="e/1" placeholder="Entre calle 1"><br>
        <LABEl>Entre calle 2</LABEl><br>
        <input type="text" name="e/2" placeholder="Entre calle 2"><br>
        <LABEl>CP</LABEl><br>
        <input type="text" name="cp" placeholder="Codigo Postal"><br>
        <LABEl>Localidad</LABEl><br>
        <input type="text" name="localidad" placeholder="Localidad" required>
        <label>¿Es caba?</label>
        <input type="checkbox" name="caba" id=""><br>
        <LABEl>Referencia</LABEl><br>
        <input type="text" name="referencia" placeholder="Referencia"><br>
        
        <input type="submit" value="Confirmar">
    </fieldset>
    </form>




    
</body>
    
        

{% endblock %}