{% extends "index.html" %}
{% block title %}{{titulo}}{% endblock %}
{% block content %}
<br><br><br>
<form action="/estadistica" method="POST">
    <label>Desde</label><br>
    <input type="date" name="desde"><br>
    <label>Hasta</label><br>
    <input type="date" name="hasta"><br>
    <input type="submit" value="Enviar">
</form>
{%if data%}
<table style="border: solid;">
    <tr>
        <td>Tipo de envio</td>
        <td></td>
        <td>Localidad</td>
        <td></td>
        <td>Cantidad</td>
    </tr>
{% for x in data %}
<tr>
    <td style="text-align: center;">{{x[0]}}</td>
    <td></td>
    <td>{{x[1]}}</td>
    <td></td>
    <td>{{x[2]}}</td>
</tr>
{% endfor %}
</table>
{%endif%}
{% endblock %}