<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Epilogue' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">   
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <link rel="stylesheet" href="/static/css/gift.css">
    <link rel="stylesheet" href="/static/css/shared.css">
</head>
<body>
    <!-- announcement-->
    <div id="announcement">
        <span id="a-icon">🏖️ </span>Ownership is on vacation! We are not currently conducting trade-ins until <span class="bold-font"> August 8th, 2023.</span> <a id ="underline"> Learn More </a>
     </div>
 <!--nav bar-->
 <div id="nav-container">
  <div id="nav-grid">
      <div id="boheme-logo" onClick="location.href='index.html'"><img src="/static/img/boheme-white-logo.png"></div>
      <div class="nav-span">
          <div class="dropdowns">
              <button onclick="myFunction()" class="dropbutn"></button>
              <div id="myDropdown" class="dropdown-content">
                <a href="index.html">HOME</a>
                <a href="about.html">ABOUT</a>
                <a href="trade.html">BUY-SELL-TRADE</a>
                <a href="gift.html">GIFT GUIDE</a>
                <a href="contact.html">CONTACT</a>
                <a >VISIT STORE</a>
              </div>
            </div>
            
            <script>
            /* When the user clicks on the button, 
            toggle between hiding and showing the dropdown content */
            function myFunction() {
              document.getElementById("myDropdown").classList.toggle("show");
            }
            
            // Close the dropdown if the user clicks outside of it
            window.onclick = function(event) {
              if (!event.target.matches('.dropbutn')) {
                var dropdowns = document.getElementsByClassName("dropdown-content");
                var i;
                for (i = 0; i < dropdowns.length; i++) {
                  var openDropdown = dropdowns[i];
                  if (openDropdown.classList.contains('show')) {
                    openDropdown.classList.remove('show');
                  }
                }
              }
              var dropdown = document.getElementsByClassName("dropdown-mobile");
                  var i;
                  
                  for (i = 0; i < dropdown.length; i++) {
                    dropdown[i].addEventListener("click", function() {
                      this.classList.toggle("active");
                      var dropdownContent = this.nextElementSibling;
                      if (dropdownContent.style.display === "block") {
                        dropdownContent.style.display = "none";
                      } else {
                        dropdownContent.style.display = "block";
                      }
                    });
                  }
            }
            </script>
      </div>
      <div class="hiddens">
          <div class="nav-item" onClick="location.href='index.html'">HOME</div>
          <div class="nav-item" onClick="location.href='about.html'">ABOUT</div>
          <div class="nav-item" onClick="location.href='trade.html'">BUY-SELL-TRADE</div>
          <div class="nav-item" onClick="location.href='gift.html'">GIFT GUIDE</div>
          <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                  MEDIA
               <i id="arrow-down"></i>
           </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                  <li><a class="dropdown-item" href="#" onClick="location.href='photos.html'">FUN PHOTOS</a></li>
                  <li><a class="dropdown-item" href="#" onClick="location.href='videos.html'">VIBIN' VIDEOS</a></li>
                  <li><a class="dropdown-item" href="#" onClick="location.href='news.html'">IN THE NEWS</a></li>
               <li><a class="dropdown-item" href="#" >BLOG</a></li>
              </ul>
          </div>
          <button class="nav-button" id="get-in-touch" onClick="location.href='contact.html'">GET IN TOUCH</button>
          <button id="visit-store">VISIT STORE <span id="arrow"></span></button>
      </div>
      
  </div>
</div>
   <!-- gift header -->
   <div id="header-background">
    <div id="header-text-align">
        <h1 style="margin-bottom: 3.125vw">Gift Guide</h1>
        <p>We did the heavy lifting for you. Let’s find the best gift!</p>
        <button id="shopify-button" onclick="window.open('https://squareup.com/gift/EVPSGS0VV8VGR/order', '_blank'); return false;" > LET'S START </button>
    </div>
</div>
  <!-- occassion -->
<div id="occassion-background">
  <div id="occassion-header">
    <h2> red, white, and blue </h2>
    <h1 style="margin-bottom: 1.25vw; font-size: 3.125vw;"> Last-Minute 4th of July Sale </h1>
    <p> We got your fit covered, get the food, and save your seats for the fireworks! </p>
</div>
  <div class="cards-array1">
    <div class="cards-wrapper">
      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div id="card-body">
          <div class="card-title">Card title</div>
          <div class="card-text">$$$</div>
        </div>
      </div>
      <div class="card ">
        <img src="..." class="card-img-top" alt="...">
        <div id="card-body">
          <div class="card-title">Card title</div>
          <div class="card-text">$$$</div>
        </div>
      </div>
      <div class="card ">
        <img src="..." class="card-img-top" alt="...">
        <div id="card-body">
          <div class="card-title">Card title</div>
          <div class="card-text">$$$</div>
        </div>
      </div>

      <div class="card">
        <img src="..." class="card-img-top" alt="...">
        <div id="card-body">
          <div class="card-title">Card title</div>
          <div class="card-text">$$$</div>
        </div>
      </div>
      <div class="card ">
        <img src="..." class="card-img-top" alt="...">
        <div id="card-body">
          <div class="card-title">Card title</div>
          <div class="card-text">$$$</div>
        </div>
      </div>
  </div>
</div>
</div>
<div id="padding"></div>
<!-- every ocassion -->
<div style="margin-bottom:3.125vw;"id="every-occassion">
  <div id="occassion-header">
        <h2> our best sellers </h2>
        <h1 style="margin-bottom: 1.25vw; font-size: 3.125vw;"> For every occassion </h1>
        <p> Find the perfect gift for that special someone at a great price. Most items are $2-$12 each! </p>
    </div>
    <div class="cards-array1">
      <div class="cards-wrapper">
        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div id="card-body">
            <div class="card-title">Card title</div>
            <div class="card-text">$$$</div>
          </div>
        </div>
        <div class="card ">
          <img src="..." class="card-img-top" alt="...">
          <div id="card-body">
            <div class="card-title">Card title</div>
            <div class="card-text">$$$</div>
          </div>
        </div>
        <div class="card ">
          <img src="..." class="card-img-top" alt="...">
          <div id="card-body">
            <div class="card-title">Card title</div>
            <div class="card-text">$$$</div>
          </div>
        </div>

        <div class="card">
          <img src="..." class="card-img-top" alt="...">
          <div id="card-body">
            <div class="card-title">Card title</div>
            <div class="card-text">$$$</div>
          </div>
        </div>
        <div class="card ">
          <img src="..." class="card-img-top" alt="...">
          <div id="card-body">
            <div class="card-title">Card title</div>
            <div class="card-text">$$$</div>
          </div>
        </div>
    </div>
</div>
</div>
<div id="padding"></div>
<!-- gift card -->
<div id="gift-background">
<div id="gift-section1">
    <h2 style="margin-bottom: 1.25vw; text-align: left;"> Not sure what to buy? </h2>
    <h1 style="font-size: 3.125vw;"> Gift Cards </h1>
    <!-- <img id ="g-graphic" src="/static/img/giftcard-graphic.png"/> -->
    <div class="containered">
      <img id="g-graphic" src="/static/img/occasion-1.png">
    </div>
    <div class="info-e visible"> 
      <div id="gift-card-info">
        <h3 style="margin-bottom: 1.875vw;">  eGift Card Includes... </h3>
        <ul class="list">
            <li> <p style="display:inline-block;"> <img id="accept" src="/static/img/accept.png"/> More design options </p> </li>
            <li><p style="display:inline-block;"> <img id="accept" src="/static/img/accept.png"/> Personalized message </p></li>
            <li><p style="display:inline-block;"> <img id="accept" src="/static/img/accept.png"/> Add unlimited contributors </p></li>
            <li> <p style="display:inline-block;"> <img id="accept" src="/static/img/accept.png"/>Instant or scheduled delivery date </p> </li>
            <li><p style="display:inline-block;"> <img id="accept" src="/static/img/accept.png"/> Easy to send via email or print </p></li>
            <li><p style="display:inline-block;"> <img id="accept" src="/static/img/accept.png"/> Compatible with digital wallet </p></li>
            <li> <p style="display:inline-block;"> <img id="accept" src="/static/img/accept.png"/> Works in-store and online </p> </li>
            <li><p style="display:inline-block;"> <img id="accept" src="/static/img/accept.png"/> eGift card amount: $20-$500 </p></li>
        </ul>
    </div>
    </div>
    <div class="info-p hidden">
      <div id="physical-card-info"> 
        <h3 style="margin-bottom: 1.875vw;">  Physical Card Includes... </h3>
        <ul class="list">
          <li> <p style="display:inline-block;"> <img id="accept" src="/static/img/accept.png"/>Purchase in-store only </p> </li>
          <li><p style="display:inline-block;"> <img id="accept" src="/static/img/accept.png"/> Sustainable and reloadable (Saves plastic) </p></li>
          <li><p style="display:inline-block;"> <img id="accept" src="/static/img/accept.png"/> Flexible mail delivery options* </p></li>
          <li> <p style="display:inline-block;"> <img id="accept" src="/static/img/accept.png"/>Tangible and personal gifting experience </p> </li>
          <li><p style="display:inline-block;"> <img id="accept" src="/static/img/accept.png"/> Offline accessibility </p></li>
          <li><p style="display:inline-block;"> <img id="accept" src="/static/img/accept.png"/> Works in-store and online </p></li>
          <li> <p> *Please inquire if interested in physically mailing cards to you or directly to gift recipient.  </p></li>              </ul>
      </div> 
    </div>   
  </div>
  <div id="gift-section2">
    <div id="myDIV"> 
      <button id="btn1" style="border-radius: 0.469vw 0vw 0vw 0.469vw;"  class="btns ">Physical Cards</button>
      <button id="btn2" style="border-radius: 0vw 0.469vw 0.469vw 0vw;" class="btns actives">eGift Cards</button>
    </div>
    <div class="app-div1 hidden">
      <p style="display:inline-block; margin-top: 3.906vw; color: #F26D36;"> <img id="card" src="/static/img/giftcard-icon.png"/> 
        Best for traditional and sentimental gifters </p>
      <p style="text-align: left; margin-top: 2.5vw;"> No problem! We got you covered with new clothes and accessories in-store everyday 
        for a wide range of styles. Grab a gift card to make the best choice easy! </p>
    </div>
      
    <div class="app-div2 visible">
      <p style="display:inline-block; margin-top: 3.906vw; color: #F26D36;"> <img id="card" src="/static/img/giftcard-icon.png"/> 
        Best for early birds and last minute gifters </p>
      <p style="text-align: left; margin-top: 2.5vw;"> No problem! We got you covered with new clothes and accessories in-store everyday 
        for a wide range of styles. Grab a gift card to make the best choice easy! </p>
        <div id="div2">
              <button type="button" class="collapsible">
                  Birthday
              </button>
              <div class="content">
                  <p style="text-align:left"> Do you have a loved one whose birthday is coming up? Give the gift of 
                    sustainable and hip fashion with our e-gift card.  </p>
              </div>
              <button type="button" class="collapsible">
                  Any Occasion            
               </button>
               <div class="content">
                <p style="text-align:left"> The gift of sustainable fashion is suitable for any occasion! Give your loved 
                  one access to Boheme’s hand curated wardrobe today! </p>
              </div>
              <button type="button" class="collapsible">
                  Appreciation          
               </button>
              <div class="content">
                <p style="text-align:left">Do you have a loved one that you want to show your appreciation to? If so, give 
                  the gift of sustainable fashion to let them know your thinking about them.  </p>
              </div>
              <button type="button" class="collapsible">
              Celebration          
              </button>
              <div class="content">
                <p style="text-align:left"> Did your loved one just reach a significant milestone? Give the gift of 
                  fashion to help them mark a new era of accomplishment.</p>
              </div>
              <button type="button" class="collapsible">
                  Encouragement   
              </button>
              <div class="content">
                <p style="text-align:left"> Want to show your support for a team member, coworker, or a friend in 
                  general? Give the gift of sustainable fashion to cheer them on.
                </p>
              </div> 
          <button id="purchase-button" onclick="window.open('https://squareup.com/gift/EVPSGS0VV8VGR/order', '_blank'); return false;"> Purchase your egift card here </button> 
        </div>    
    </div>
  </div>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
   <script>
    $(document).ready(function(){
      $("#btn1").click(function(){
      $('.app-div1').removeClass("hidden");
      $('.app-div1').addClass("visible");
      $('.app-div2').removeClass("visible");
      $('.app-div2').addClass("hidden");

      $('.info-p').removeClass("hidden");
      $('.info-p').addClass("visible");
      $('.info-e').removeClass("visible");
      $('.info-e').addClass("hidden");

    });
    $("#btn2").click(function(){
      $('.app-div2').removeClass("hidden");
      $('.app-div2').addClass("visible");
      $('.app-div1').removeClass("visible");
      $('.app-div1').addClass("hidden");

      $('.info-e').removeClass("hidden");
      $('.info-e').addClass("visible");
      $('.info-p').removeClass("visible");
      $('.info-p').addClass("hidden");
    });
    });

    var coll = document.getElementsByClassName("collapsible");
    var i;

    for (i = 0; i < coll.length; i++) {
      coll[i].addEventListener("click", function () {
        this.classList.toggle("collap");
        var content = this.nextElementSibling;
        if (content.style.maxHeight) {
          content.style.maxHeight = null;
        } else {
          content.style.maxHeight = content.scrollHeight + "px";
        }
      });
    }

    var header = document.getElementById("myDIV");
    var btns = header.getElementsByClassName("btns");
    for (var i = 0; i < btns.length; i++) {
      btns[i].addEventListener("click", function() {
      var current = document.getElementsByClassName("actives");
      current[0].className = current[0].className.replace(" actives", "");
      this.className += " actives";
      });
    }
  </script>

    
</div>
  <!--gift banner-->  
  <div id="padding"></div>
  <div id="gift-banner">
    <div id="banner-header">
      <h2> we’re here to help you  </h2>
      <h1 style="margin-bottom: 1.875vw;"> bring joy to that special someone </h1>
      <p  style="margin-bottom: 2.344vw;"> Find that one of a kind gift in-store or in our premium collection online! </p>
      <div id="sustain-buttons"> 
        <div id="side1" onClick="location.href='contact.html'"> <button id="get-in-touch-button"> GET IN TOUCH </button> </div>
        <div id="side2"> <button id="donate-button"> VISIT OUR COLLECTION </button> </div>
    </div>
    </div>
  </div> 
        
   <!--footer-->
   <div id="footer">
    <div id="mc_embed_shell">
        <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css"><style type="text/css">
        </style>
    <div id="mc_embed_signup">
      <form action="https://ucdavis.us21.list-manage.com/subscribe/post?u=af8aadebafa2a2c6c86573e59&amp;id=eddb197b4c&amp;f_id=000ee5e6f0" method="post" 
      id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
          <div id="mc_embed_signup_scroll">
            <div id="footer-top">
                <div id="footer-info">
                    <p class="bold-text-footer">Sign Up and Save</p>
                    <p class="text-footer">Be kept up-to-date on our sales, specials, and new product offerings by signing up for our newsletter.</p>
                </div>
                <div id="email-footer">
                    <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address" required="" value="">
                    <input id="email-button" type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                    <div id="mce-responses" class="clear foot">
                        <div class="response" id="mce-error-response" style="display: none;"></div>
                        <div class="response" id="mce-success-response" style="display: none;"></div>
                    </div>
                </div>
            </div>
      <div aria-hidden="true" style="position: absolute; left: -5000px;">
          /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
          <input type="text" name="b_af8aadebafa2a2c6c86573e59_eddb197b4c" tabindex="-1" value="">
      </div>
          <!-- <div class="optionalParent">
              <div class="clear foot">
                  <input id="email-button" type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                  <p style="margin: 0px auto;"><a href="http://eepurl.com/iBMPv-" title="Mailchimp - email marketing made easy and fun">
                <span style="display: inline-block; background-color: black; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;">
                    <img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-light.svg" 
                    alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
              </div>
          </div> -->
      </div>
  </form>
  </div>
  <script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
  <script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';
  ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}
  (jQuery));var $mcj = jQuery.noConflict(true);</script></div>
  <div id="footer-bottom">
      <div id="footer-logo-container">
          <img id="footer-logo" src="/static/img/boheme-logo-full.png">
      </div>
      <div id="footer-location-hours">
          <p class="bold-text-footer">Location</p>
          <p class="text-footer">409 3RD STREET, DAVIS, CA</p>
          <p class="bold-text-footer">Hours</p>
          <p class="text-footer">SUN - FRI: 11:00 - 6:00</p>
          <p class="text-footer">SAT: 10:30 - 6:00</p>
          <p class="bold-text-footer">Phone Number</p>
          <p class="text-footer">530-341-2004</p>
      </div>
      <div id="footer-boheme">
          <p class="bold-text-footer" onClick="location.href='index.html'">Bohème</p>
          <p style="padding-top:1.875vw;"class="text-footer text-footer-right" onClick="location.href='index.html'">Home</p>
          <p class="text-footer text-footer-right"  onClick="location.href='about.html'">About</p>
          <p style="cursor: pointer;" class="text-footer"  onClick="location.href='contact.html'">Contact</p>
      </div>
      <div id="footer-services">
          <p style="cursor: auto;" class="bold-text-footer text-footer-right">Services</p>
          <p class="text-footer text-footer-right" >Our Store</p>
          <p class="text-footer text-footer-right"  onClick="location.href='trade.html'">Buy-Sell-Trade</p>
          <p style="cursor: pointer;" class="text-footer"  onClick="location.href='gift.html'">Gift Guide</p>
      </div>
      <div id="footer-media">
          <p style="cursor: auto;"class="bold-text-footer text-footer-right">Media</p>
          <p class="text-footer text-footer-right" onClick="location.href='photos.html'">Fun Photos</p>
          <p class="text-footer text-footer-right"  onClick="location.href='videos.html'">Vibin' Videos</p>
          <p class="text-footer text-footer-right"  onClick="location.href='news.html'">In the News</p>
          <p style="cursor: pointer;" class="text-footer" >Blog</p>
      </div>
      <div id="footer-follow-us">
          <p style="cursor: auto;" class="bold-text-footer text-footer-right">Follow Us</p>
          <a style="margin-right:0.938vw;"href="https://www.instagram.com/boheme.threads/?hl=en">
              <img style="cursor: pointer;" src="/static/img/footer-instagram.png" class="footer-icon">
          </a>
          <a href="https://www.facebook.com/BohemeThreads/">
              <img style="cursor: pointer;" src="/static/img/footer-facebook.png" class="footer-icon">
          </a>
          </br>
          </br style="line-height:0.5em"/>
          <a style="margin-right:0.938vw;" href="https://www.instagram.com/boheme.threads/?hl=en">
              <img style="cursor: pointer;" src="/static/img/footer-pinterest.png" class="footer-icon">
          </a>
          <a href="https://www.facebook.com/BohemeThreads/">
              <img style="cursor: pointer;" src="/static/img/footer-youtube.png" class="footer-icon">
          </a>
      </div>
  </div>
  <div id="copyright-footer">
      <div style="display:inline-block"> 
          <img id="copyright" src="/static/img/copyright.png"/>
          2023. Bohème Used Clothing & Gifts </div>
  </div>
  </div>
  </html>
  