{% extends "base.html" %}
{% block content %}
<div class="temp">
	<div class="intro">
		<a href="https://www.urbandictionary.com/define.php?term=Asshole">Asshole 'as·hōl</a>
		<br><br>
		Just call your mom a thunder-cunt? Step on down and find out if <i>you are an Asshole</i>, this magical AI specializes in brutal honesty.
		</div>
	<br>
	</div>
	<div class ="temp">
	<form action="/answer" method="post">
  			<input type="text" name="question" class="question" id="question" required autocomplete="off">
  			<label for="question"> <span>What did you do now?</span> </label>
  			<input type="submit" value="Submit!">
	</form>
		</div>
	<br>

	<div class="temp">
<div class="instructions">
	<li>Rules & Disclaimers:</li>
	<li>1. All confessions are molestation free and therefor not catholic approved.</li>
	<li>2. Please don't confess actual crimes</li>
	<li>3. Don't be racist</li>
	<li>4. If you don't like this app... good.</li>
	<li>5. Don't be sexist</li>
	<li>6. Privacy Policy is <a href="privacy">here</a> you nerd.</li>
	<li>7. Made with a ton of fucking ❤️ ️<️/li>
	</div>
</div>
{% endblock %}