{% extends "layout.html" %}
{% block content %}
  <div class="home">
    <div class="intro"><a href="https://onepagelove.com/una">Are you an asshole?</a> After years of asking myself this question I've decided to stop caring and let a robot tell me. Come confess your sins in 21st century AI glory... the best part is this confessional doesn't include </div><form action="/answer" method="post">
      <input type="text" name="sin" placeholder="Tell us your sin">
      <input type="submit" value="Submit" />
    </form><div class="instructions">Either start editing index.php or head over to...<ul><li>Dashboard</li><li>Settings</li><li>Reading</li><li>Front Page Displays</li><li>A Static Page</li><li>Front Page:</li><li>Choose a Page</li></ul>✌
    </div>

  </div>
{% endblock %}