<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{titulo}}{% endblock %}</title>
<link rel ="stylesheet" href="{{url_for('static', filename='menuDesplegable.css')}}">
<link rel="icon" type="image/x-icon" href="{{url_for('static', filename='login/logo.ico')}}"/>
</head>
<script src="{{url_for('static', filename='jquery-3.6.0.min.js')}}"></script>
<div id="ideaJuli">
    <nav class="header"
    <ul class="nav" id="barra">
            <li><a href="/logout">Cerrar sesion</a></li>
        {% if auth == "Logistica" or  auth == "Admin" or  auth == "Administracion"%}
            <li><a href="">Logistica</a><UL>
                <li><a href="/logistica/asignacionChoferes">Asignar Zonas</a></li>
                <li><a href="/logistica/asignar/retirodeproductos">Asignar Retiros</a></li>
                <li><a href="/logistica/reasignar">Asignar envio</a></li>
                <li><a href="/logistica/ayudadeposito">Horas trabajadas</a></li>
                <li><a href="/logistica/fijos">Asignar fijo</a></li>
                <li><a href="/logistica/hojaruta">Hojas de ruta</a></li>
                <li><a href="/logistica/pendientes">Pendientes</a></li>
                <li><a href="/logistica/devolucion">Devoluciones</a></li>
            </ul></li>
            <li><a href="/logistica/vistamapa">Mapa</a></li>
            <li><a href="">Historial</a><ul>
                <li><a href="/logistica/historial/1">Listado</a></li>
                <li><a href="/historial/vistamapa">Mapa</a></li>
                <li><a href="/historial/rendiciones">Ver rendiciones</a></li>
            </ul></li>
        <li><a href="">Usuarios</a><ul>
            <li><a href="/empleado">Empleados</a></li>
            <li><a href="/clientes">Clientes</a></li>
            <li><a href="/clientes/nuevo_cliente">Nuevo cliente</a></li>
            <li><a href="/empleado/nuevoempleado">Nuevo empleado</a></li>
            </ul></li>
        <li><a href="">Facturacion</a><ul>
            <li><a href="/facturacion/facturar">Facturar</a></li>
            <li><a href="/misueldo">Sueldos Flexs</a></li>
            <li><a href="/facturacion/apodos">Apodos y Clientes</a></li>
            <li><a href="/facturacion/verprecio">Tarifas</a></li>
            <li><a href="/facturacion/arreglolocalidad">Arreglar localidades</a></li>
            <li><a href="/facturacion/cobrados">Cobrados</a></li>
        </ul></li>
        <li><a href="/estadistica">Estadistica</a></li>
        {% endif %}
        {% if auth != "Chofer" %}
        <li><a href="/carga_noml">Carga viaje NOML</a></li>
        {% endif %}
        {% if auth == "Cliente" %}
        <li><a href="/carga_formms">Subir Archivo</a></li>
        <li><a href="/upload">Subir Archivo ML</a></li>
        <li><a href="/logistica/carga_recorridos">Recorrido Chips</a></li>
        <li><a href="/envios">Mis envios</a></li>
        {% endif %}
        {% if auth == "Admin" or auth == "Logistica" %}
        <li><a href="">Carga de archivos</a><ul>
            <li><a href="/carga_formms">Como ruteo de primera</a></li>
            <li><a href="/upload">Mercadolibre</a></li>
            <li><a href="/logistica/carga_recorridos">Chips</a></li>
        </ul></li>
        <li><a href="/envios">Envios clientes</a></li>
        {% endif %}
        {% if auth == "Chofer"%}
        <li><a href="/misueldo">Mi sueldo</a></li>
        <li><a href="/miruta">Mi ruta</a></li>
        {% endif %}
        </ul>
        {% if auth == "Logistica" or  auth == "Admin" or  auth == "Administracion"%}
        <form action="/busquedaAdmin" method="GET">
            <input type="text" minlength="3" name="buscar">
            <input type="submit" value="Buscar">
        </form>
        <form action="/busquedaNumeroEnvio" method="GET">
            <input type="text" name="buscar">
            <input type="submit" value="Buscar">
        </form>
        {%endif%}
        </nav> 
    </ul>
    </div>
<body>
    {{  mensaje   }}
        {% block content %}{% endblock %}
</body>
</html>
