<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">   
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <link rel="stylesheet" href="/static/css/news.css">
    <link rel="stylesheet" href="/static/css/shared.css">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <script type="text/javascript"async defer src="//assets.pinterest.com/js/pinit.js" ></script>
</head>
<body>
<!--nav bar-->
    <div id="nav-container">
        <div id="nav-grid">
            <div id="boheme-logo" onClick="location.href='/'"><img src="/static/img/boheme-white-logo.png"></div>
            <div class="nav-span">
                <div class="dropdowns">
                    <button onclick="myFunction()" class="dropbutn"></button>
                    <div id="myDropdown" class="dropdown-content">
                      <a href="/">HOME</a>
                      <a href="about.html">ABOUT</a>
                      <a href="trade.html">BUY-SELL-TRADE</a>
                      <a href="gift.html">GIFT GUIDE</a>
                      <a href="photos.html">FUN PHOTOS</a>
                      <a href="videos.html">VIBIN' VIDEOS</a>
                      <a href="news.html">IN THE NEWS</a>
                      <a href="contact.html">CONTACT</a>
                      <a >VISIT STORE</a>
                    </div>
                  </div>
                  
                  <script>
                  /* When the user clicks on the button, 
                  toggle between hiding and showing the dropdown content */
                  function myFunction() {
                    document.getElementById("myDropdown").classList.toggle("show");
                  }
                  
                  // Close the dropdown if the user clicks outside of it
                  window.onclick = function(event) {
                    if (!event.target.matches('.dropbutn')) {
                      var dropdowns = document.getElementsByClassName("dropdown-content");
                      var i;
                      for (i = 0; i < dropdowns.length; i++) {
                        var openDropdown = dropdowns[i];
                        if (openDropdown.classList.contains('show')) {
                          openDropdown.classList.remove('show');
                        }
                      }
                    }
                    var dropdown = document.getElementsByClassName("dropdown-mobile");
                        var i;
                        
                        for (i = 0; i < dropdown.length; i++) {
                          dropdown[i].addEventListener("click", function() {
                            this.classList.toggle("active");
                            var dropdownContent = this.nextElementSibling;
                            if (dropdownContent.style.display === "block") {
                              dropdownContent.style.display = "none";
                            } else {
                              dropdownContent.style.display = "block";
                            }
                          });
                        }
                  }
                  </script>
            </div>
            <div class="hiddens">
                <div class="nav-item" onClick="location.href='/'">HOME</div>
                <div class="nav-item" onClick="location.href='about.html'">ABOUT</div>
                <div class="nav-item" onClick="location.href='trade.html'">BUY-SELL-TRADE</div>
                <div class="nav-item" onClick="location.href='gift.html'">GIFT GUIDE</div>
                <div class="dropdown">
                    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                        MEDIA
                     <i id="arrow-down"></i>
                 </button>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                        <li><a class="dropdown-item" href="#" onClick="location.href='photos.html'">FUN PHOTOS</a></li>
                        <li><a class="dropdown-item" href="#" onClick="location.href='videos.html'">VIBIN' VIDEOS</a></li>
                        <li><a class="dropdown-item" href="#" onClick="location.href='news.html'">IN THE NEWS</a></li>
                     <li><a class="dropdown-item" href="#" >BLOG</a></li>
                    </ul>
                </div>
                <button class="nav-button" id="get-in-touch" onClick="location.href='contact.html'">GET IN TOUCH</button>
                <button id="visit-store">VISIT STORE <span id="arrow"></span></button>
            </div>
            
        </div>
    </div>
     <!-- community header -->
     <div id="community-background"> 
        <div id="community-header"> 
            <h8 style="margin-bottom: 16px"> our community</h8>
            <h7> News & Stories</h7>
        </div>
     </div>
     <!--featured -->
     <div id="featured-background"> 
        <div id="feature-image">
            <div id="featured-button"> 
                <p style="display:inline-block;"><img id="feature-icon"src="/static/img/featured-icon.png"/> featured </p> </div>
        </div>
        <div id="feature-section">
            <div id="feature-header"> 
                <div id="header-1"> <h2 style="margin:0px"> Davis Enterprise </h2> </div>
                <div id="header-2"> <h3  style="margin:0px"> 03. 26. 23 </h3> </div>
            </div>
            <div style ="margin-bottom: 16px;"id="feature-title"> <h1> Readers’ Choice 2023: Bohème Used Clothing and Gifts, Best Consignment / Thrift Store </h1> </div>
            <div id="feature-info"> <p> Read up on how we contribute to the Davis community and how we make our customers our number one priority. </p> </div>
        </div>
     </div>
     <div style="margin-bottom:16px;"class="line"> </div>
     <!--news card-->
<div id="news"> 
  <div id="news-background"> 
    <div class="container">
      <div class="col product-tabs">
          <div class="tab-content">
              <div class="tab-pane active" id="tab1">
                  <div class="grid">
                    <div class="grid__item">
                      <div class="card" onclick="window.open('https://davisdowntown.com/spooktacular-2023/','_newtab');">
                        <img class="card__img" src="/static/img/spook-news.png">
                        <div class="card__content">
                          <div id="news-header"> 
                              <div style="margin-right:10px;" id="title-wrap"> <div id="g-header-1"> <h2> Davis Downtown </h2> </div> </div>
                              <div id="g-header-2"> <h3> 10. 25. 23 </h3> </div>
                          </div>
                          <h1 style ="margin-bottom: 8px;" class="card__header">Davis Downtown Presents Downtown Spooktacular</h1>
                          <p class="card__text">Bohème Clothing & Gifts: Big variety of Halloween costumes and accessories + free stickers with any purchase. </p>
                        </div>
                      </div>
                    </div>
                      <div class="grid__item">
                          <div class="card" onclick="window.open('https://www.bluedevilhub.com/2021/11/11/local-boutiques-compete-with-large-corporations-in-times-of-online-shopping/','_newtab');">
                            <img class="card__img" src="/static/img/thehub-news.jpeg">
                            <div class="card__content">
                              <div id="news-header"> 
                                  <div style="margin-right:10px;" id="title-wrap"> <div id="g-header-1"> <h2> The HUB </h2> </div> </div>
                                  <div id="g-header-2"> <h3> 11. 11. 21</h3> </div>
                              </div>
                              <h1 style ="margin-bottom: 8px;" class="card__header">Local boutiques compete with large corporations in times of online shopping</h1>
                              <p class="card__text">As the dangers and instability of fast fashion have become more apparent – mainly its detrimental effects on the environment... </p>
                            </div>
                          </div>
                        </div>
                        <div class="grid__item">
                          <div class="card" onclick="window.open('https://www.zombiebikeparade.com/post/halloween-costumes-at-boheme-hip-used-clothing','_newtab');">
                            <img class="card__img" src="/static/img/zombie-news.webp">
                            <div class="card__content">
                              <div id="news-header"> 
                                  <div style="margin-right:10px;" id="title-wrap"> <div id="g-header-1"> <h2> Zombie Bike Parade </h2> </div> </div>
                                  <div id="g-header-2"> <h3> 10. 26. 21 </h3> </div>
                              </div>
                              <h1 style ="margin-bottom: 8px;" class="card__header">Halloween Costumes at Boheme Hip Used Clothing</h1>
                              <p class="card__text">It's almost time for Davis' third annual Zombie Bike Ride, and you're probably still looking for a costume right? </p>
                            </div>
                          </div>
                        </div>
                    </div>
              </div>
              <div class="tab-pane" id="tab2">
                <div class="grid">
                  <div class="grid__item">
                    <div class="card" onclick="window.open('https://theaggie.org/2020/05/20/best-thrift-store-boheme/','_newtab');">
                      <img class="card__img" src="/static/img/california-news.jpeg">
                      <div class="card__content">
                        <div id="news-header"> 
                            <div style="margin-right:10px;" id="title-wrap"> <div id="g-header-1"> <h2> California Aggie </h2> </div> </div>
                            <div id="g-header-2"> <h3> 5. 20. 20 </h3> </div>
                        </div>
                        <h1 style ="margin-bottom: 8px;" class="card__header">Best Thrift Store: Bohème</h1>
                        <p class="card__text">Owner, employee of buy-sell-trade clothing store Bohème talk about why they love serving the community </p>
                      </div>
                    </div>
                  </div>
                    <div class="grid__item">
                        <div class="card" onclick="window.open('https://www.davisenterprise.com/news/boh-me-boutique-is-overflowing-with-creative-clothing-gifts/article_a5923fed-bea9-592e-afa5-15407a5bfcad.html','_newtab');">
                          <img class="card__img" src="/static/img/enterprise-news.jpeg">
                          <div class="card__content">
                            <div id="news-header"> 
                                <div style="margin-right:10px;" id="title-wrap"> <div id="g-header-1"> <h2> Davis Enterprise </h2> </div> </div>
                                <div id="g-header-2"> <h3> 12. 15. 17 </h3> </div>
                            </div>
                            <h1 style ="margin-bottom: 8px;" class="card__header">Bohème Boutique is overflowing with creative clothing, gifts</h1>
                            <p class="card__text">Bohème is one of many retailers and service providers in Davis who are part of the Shop Davis campaign... </p>
                          </div>
                        </div>
                      </div>
                      <div class="grid__item">
                        <div class="card" onclick="window.open('https://petescully.com/2014/06/16/boheme/','_newtab');">
                          <img class="card__img" src="/static/img/sketch-news.jpeg">
                          <div class="card__content">
                            <div id="news-header"> 
                                <div style="margin-right:10px;" id="title-wrap"> <div id="g-header-1"> <h2> Pete Scully's Sketch Blog </h2> </div> </div>
                                <div id="g-header-2"> <h3> 6. 16. 14 </h3> </div>
                            </div>
                            <h1 style ="margin-bottom: 8px;" class="card__header">Boheme</h1>
                            <p class="card__text">And back to the posting of sketches. I’ve been a little preoccupied with the Scene In Davis show, and ...  </p>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
              <div class="tab-pane" id="tab3">
                <div class="grid">
                  <div class="grid__item">
                    <div class="card" onclick="window.open('https://patch.com/california/davis/sell-your-gold-party-at-boheme-hip-used-clothing','_newtab');">
                      <img class="card__img" src="/static/img/wiki-news.jpeg">
                      <div class="card__content">
                        <div id="news-header"> 
                            <div style="margin-right:10px;" id="title-wrap"> <div id="g-header-1"> <h2> Patch </h2> </div> </div>
                            <div id="g-header-2"> <h3> 06. 25. 13 </h3> </div>
                        </div>
                        <h1 style ="margin-bottom: 8px;" class="card__header"> Sell Your Gold Party at Boheme Hip Used Clothing</h1>
                        <p class="card__text">Dig through your jewelry box, bring all that old gold jewelry you don't wear anymore and get paid on the spot. </p>
                      </div>
                    </div>
                  </div>
                    <div class="grid__item">
                      <div class="card" onclick="window.open('https://localwiki.org/davis/Boheme_Hip_Used_Clothing','_newtab');">
                        <img class="card__img" src="/static/img/wiki-news.jpeg">
                        <div class="card__content">
                          <div id="news-header"> 
                              <div style="margin-right:10px;" id="title-wrap"> <div id="g-header-1"> <h2> Davis Wiki</h2> </div> </div>
                              <div id="g-header-2"> <h3> 3. 26. 13 </h3> </div>
                          </div>
                          <h1 style ="margin-bottom: 8px;" class="card__header">Boheme Hip Used Clothing</h1>
                          <p class="card__text">Boheme Used Clothing & Gifts is a clothing store for women and men located in downtown Davis. Boheme offers boutique quality... </p>
                        </div>
                      </div>
                    </div>
                      <div class="grid__item">
                        <div class="card" onclick="window.open('https://patch.com/california/davis/bp--hip-used-clothing-new-clothing-store-alternative-9caa269683','_newtab');">
                          <img class="card__img" src="/static/img/patch-news.webp">
                          <div class="card__content">
                            <div id="news-header"> 
                                <div style="margin-right:10px;" id="title-wrap"> <div id="g-header-1"> <h2> Patch </h2> </div> </div>
                                <div id="g-header-2"> <h3> 09. 19. 12 </h3> </div>
                            </div>
                            <h1 style ="margin-bottom: 8px;" class="card__header">Hip Used Clothing: New Clothing Store Alternative Opens In Downtown Davis</h1>
                            <p class="card__text">A new hip women's used clothing store opens In downtown Davis. Cute and interesting clothing -- most prices only $6 - $12! </p>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
      </div>
      <div class="tab-all"> 
          <div class="tab-control">
              <a style="text-align: left;" class="previous-button" role="button"> << Previous  </a>
          </div>
          <ul style="border: none; justify-content: center; align-items: center;" class="nav nav-tabs">
              <li class="active"><a class="override" href="#tab1" data-toggle="tab"> 1 </a></li>
              <li class=""><a  class="override"href="#tab2" data-toggle="tab"> 2</a></li>
              <li class=""><a  class="override" href="#tab3" data-toggle="tab"> 3</a></li>
          </ul>
          <div  style="text-align: right;" class="tab-control">
              <a  style="text-align: right;" class="next-button" role="button"> Next >>  </a>
          </div>
      </div>
  </div>
</div>     


<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script type="text/javascript">
    $('.next-button').click(function(){
        $('.nav-tabs > .active').next('li').find('a').trigger('click');
        //trigger the click on the tab same like we click on the tab
    });

    $('.previous-button').click(function(){
        $('.nav-tabs > .active').prev('li').find('a').trigger('click');
        //trigger the click on the tab same like we click on the tab
    })
</script>
     <!--get in touch -->
     <div class="line"> </div>
     <div id="get-in-touch-frame-bot">
        <div id="get-in-touch-bot">
          <p> Are you interested in our latest news or any press inquiries? <a id="contact-bold"href='contact.html'>Get in touch</a> to hear our story. </p>
        </div>
      </div>
<!--footer-->
<div id="footer">
  <div id="mc_embed_shell">
      <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css"><style type="text/css">
      </style>
  <div id="mc_embed_signup">
      <form action=https://bohemethreads.us17.list-manage.com/subscribe/post?u=4576bddfd57e85a02b69d020f&amp;id=19c9e58137&amp;f_id=005066e0f0 
      method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
        <div id="mc_embed_signup_scroll">
          <div id="footer-top">
              <div id="footer-info">
                  <p class="bold-text-footer">Sign Up and Save</p>
                  <p class="text-footer">Be kept up-to-date on our sales, specials, and new product offerings by signing up for our newsletter.</p>
              </div>
              <div id="email-footer">
                  <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Email Address" required="" value="">
                  <input id="email-button" type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                  <div id="mce-responses" class="clear foot">
                      <div class="response" id="mce-error-response" style="display: none;"></div>
                      <div class="response" id="mce-success-response" style="display: none;"></div>
                  </div>
              </div>
          </div>
    <div aria-hidden="true" style="position: absolute; left: -5000px;">
        /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
        <input type="text" name="b_4576bddfd57e85a02b69d020f_19c9e58137" tabindex="-1" value="">
    </div>
        <!-- <div class="optionalParent">
            <div class="clear foot">
                <input id="email-button" type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                <p style="margin: 0px auto;"><a href="http://eepurl.com/iBMPv-" title="Mailchimp - email marketing made easy and fun">
              <span style="display: inline-block; background-color: black; border-top-left-radius: 4px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;">
                  <img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-light.svg" 
                  alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
            </div>
        </div> -->
    </div>
</form>
</div>
<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';
ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}
(jQuery));var $mcj = jQuery.noConflict(true);</script></div>
<div id="footer-bottom">
    <div id="footer-logo-container">
        <img id="footer-logo" src="/static/img/boheme-logo-full.png">
    </div>
    <div id="footer-location-hours">
        <p class="bold-text-footer">Location</p>
        <p class="text-footer">409 3RD STREET, DAVIS, CA</p>
        <p class="bold-text-footer">Hours</p>
        <p class="text-footer">SUN - FRI: 11:00 - 6:00</p>
        <p class="text-footer">SAT: 10:30 - 6:00</p>
        <p class="bold-text-footer">Phone Number</p>
        <p class="text-footer">530-341-2004</p>
    </div>
    <div id="footer-boheme">
        <p class="bold-text-footer" onClick="location.href='/'">Bohème</p>
        <p style="padding-top:1.875vw;"class="text-footer text-footer-right" onClick="location.href='/'">Home</p>
        <p class="text-footer text-footer-right"  onClick="location.href='about.html'">About</p>
        <p style="cursor: pointer;" class="text-footer"  onClick="location.href='contact.html'">Contact</p>
    </div>
    <div id="footer-services">
        <p style="cursor: auto;" class="bold-text-footer text-footer-right">Services</p>
        <p class="text-footer text-footer-right" >Our Store</p>
        <p class="text-footer text-footer-right"  onClick="location.href='trade.html'">Buy-Sell-Trade</p>
        <p style="cursor: pointer;" class="text-footer"  onClick="location.href='gift.html'">Gift Guide</p>
    </div>
    <div id="footer-media">
        <p style="cursor: auto;"class="bold-text-footer text-footer-right">Media</p>
        <p class="text-footer text-footer-right" onClick="location.href='photos.html'">Fun Photos</p>
        <p class="text-footer text-footer-right"  onClick="location.href='videos.html'">Vibin' Videos</p>
        <p class="text-footer text-footer-right"  onClick="location.href='news.html'">In the News</p>
        <p style="cursor: pointer;" class="text-footer" >Blog</p>
    </div>
    <div id="footer-follow-us">
        <p style="cursor: auto;" class="bold-text-footer text-footer-right">Follow Us</p>
        <a style="margin-right:0.938vw;"href="https://www.instagram.com/boheme.threads/?hl=en">
            <img style="cursor: pointer;" src="/static/img/footer-instagram.png" class="footer-icon">
        </a>
        <a href="https://www.facebook.com/BohemeThreads/">
            <img style="cursor: pointer;" src="/static/img/footer-facebook.png" class="footer-icon">
        </a>
        </br>
        </br style="line-height:0.5em"/>
        <a style="margin-right:0.938vw;" href="https://www.pinterest.com/BohemeThreads/">
          <img style="cursor: pointer;" src="/static/img/footer-pinterest.png" class="footer-icon">
      </a>
      <a href="https://www.youtube.com/@BohemeThreads">
          <img style="cursor: pointer;" src="/static/img/footer-youtube.png" class="footer-icon">
      </a>
    </div>
</div>
<div id="copyright-footer">
    <div style="display:inline-block"> 
        <img id="copyright" src="/static/img/copyright.png"/>
        2023. Bohème Used Clothing & Gifts </div>
</div>
</div>
</html>
