<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css2?family=Readex+Pro:wght@500&display=swap" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Epilogue' rel='stylesheet'>
    <link href="https://fonts.googleapis.com/css2?family=Mukta:wght@400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">   
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <link rel="stylesheet" href="/static/css/trade.css">
</head>
<body>
  <!-- announcement-->
  <div id="announcement">
    <span id="a-icon">🏖️ </span>Ownership is on vacation! We are not currently conducting trade-ins until <span class="bold-font"> August 8th, 2023.</span> <a id ="underline"> Learn More </a>
  </div>
    <!--nav bar-->
    <div id="nav-container">
        <div id="nav-grid">
            <div id="boheme-logo" onClick="location.href='homepage.html'"><img src="/static/img/boheme-white-logo.png"></div>
            <div class="nav-item" onClick="location.href='homepage.html'">HOME</div>
            <div class="nav-item">ABOUT</div>
            <div class="nav-item">BUY-SELL-TRADE</div>
            <div class="nav-item">GIFT GUIDE</div>
            <div class="dropdown">
              <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                MEDIA
                <i id="arrow-down"></i>
              </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <a class="dropdown-item" href="#" onClick="location.href='photos.html'">FUN PHOTOS</a>
                <a class="dropdown-item" href="#" onClick="location.href='videos.html'">VIBIN' VIDEOS</a>
                <a class="dropdown-item" href="#" onClick="location.href='news.html'">IN THE NEWS</a>
                <a class="dropdown-item" href="#" >BLOG</a>

              </ul>
          </div>
            <button class="nav-button" id="get-in-touch" onClick="location.href='contact.html'">GET IN TOUCH</button>
            <button id="visit-store">VISIT STORE <span id="arrow"></span></button>
        </div>
    </div>
    <div id="trade-background">
        <div id=trade-text-align>
            <h2>Summer season</h2>
            <h1>Declutter & Sell your summer items.</h1>
            <p>Summer dresses, short sleeve blouses, tank tops, skirts, shorts, etc.</p>
        </div>
    </div>
    <!--Condition, InSeason, Mens, Womens-->
    <div style="padding-top: 4.375vw;" id="look-sell">
      <h3>Looking to sell?</h3>
      <h1 style="margin-bottom:3.125vw">What we are looking for</h2>
      <p>We are overstocked with women's jeans, pants & shoes, and will be extremely selective in what we purchase.
        We don't accepts brand such as...</p>
      </div>    
    <div id="condition">
      <button id = "sell-collapse" type="button" class="collapsiblegrey">
        <img id="sell-icon" src="/static/img/conditionicon.png"/> 
        <div id="sell-subheader"> 
          <h1> condition </h1>
          <h2> new & gently used </h2>
        </div>
      </button>
      <div class="content">
        <div style="margin-bottom: 3.527vw;" class="flex-dropdown">
          <div style="background: #E4F9EB;" class="dropdown-sub">
            <h3 class="sell-dropdown-title">Accepted</h3>
            <ul style="margin-left:0vw;"class="list">
              <li> <p style="display:inline-block;"> <img id="accept" src="/static/img/accept.png"/> New or gently used </p> </li>
              <li><p style="display:inline-block;"> <img id="accept" src="/static/img/accept.png"/> Smoke & Odor Free </p></li>
              <li><p style="display:inline-block;"> <img id="accept" src="/static/img/accept.png"/> Wrinkle Free </p></li>
              <li><p style="display:inline-block;"> <img id="accept" src="/static/img/accept.png"/> High Quality Brands</p></li>
              <li><p style="display:inline-block;"> <img id="accept" src="/static/img/accept.png"/> Selective Fast Fashion</p></li>
              <li><p style="display:inline-block;"> <img id="accept" src="/static/img/accept.png"/> New or “New like” shoes</p></li>
              <li><p style="display:inline-block;"> <img id="accept" src="/static/img/accept.png"/> Women’s size 00-14 </p></li>
              <li><p style="display:inline-block;"> <img id="accept" src="/static/img/accept.png"/> Men’s size S-XL (but only size 30-34 pants)</p></li>
            </ul>
          </div>
          <div style="background: #F9E4E4;" class="dropdown-sub year-round">
            <h3 class="sell-dropdown-title">Not Accepted</h3>
            <div class="flex-dropdown">
              <div style="margin-right: 3.125vw;">
                <ul style="margin-left:0vw;" class="list">
                  <li><p style="display:inline-block;"><img id="deny" src="/static/img/deny.png"/> Holes </p></li>
                  <li><p style="display:inline-block;"><img id="deny" src="/static/img/deny.png"/> Rips </p></li>
                  <li><p style="display:inline-block;"><img id="deny" src="/static/img/deny.png"/> Stains </p></li>
                  <li><p style="display:inline-block;"><img id="deny" src="/static/img/deny.png"/> Odor</p></li>
                </ul>
              </div>
              <div>
                <ul style="margin-left:0vw;" class="list">
                  <li><p style="display:inline-block;"><img id="deny" src="/static/img/deny.png"/> Low-quality Fast Fashion Brands </p></li>
                  <li><p style="display:inline-block;"><img id="deny" src="/static/img/deny.png"/> Fair-Poor Condition Shoes </p></li>
                  <li><p style="display:inline-block;"><img id="deny" src="/static/img/deny.png"/> Men’s size XXL+ </p></li>
                  <li><p style="display:inline-block;"><img id="deny" src="/static/img/deny.png"/> Men’s size 35+ pants </p></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button id = "sell-collapse" type="button" class="collapsiblegrey">
        <img id="sell-icon" src="/static/img/seasonicon.png"/> 
        <div id="sell-subheader"> 
          <h1> in-season </h1>
          <h2> year round + seasonal </h2>
        </div>
      </button>
      <div class="content">
        <button id = "sell-collapse" type="button" class="collapsiblegrey">
          <div id="sell-subheader-drop"> 
            <h1> womens </h1>
          </div>
        </button>
        <div class="content">
          <p class="sell-dropdown-title">*We are only accepting women sizes 00-14. Our most popular women size is medium.</p>
          <div style="margin-bottom: 3.527vw;" class="flex-dropdown">
            <div class="dropdown-sub">
              <h3 class="sell-dropdown-title">Seasonal</h3>
              <ul class="list">
                <li class="check">Skirts</li>
                <li class="check">Shorts</li>
                <li class="check">Tank Tops</li>
                <li class="check">Short Sleeve Dresses</li>
                <li class="check">Short Sleeve Blouses</li>
                <li class="check">Summer Dresses</li>
              </ul>
            </div>
            <div class="dropdown-sub year-round">
              <h3 class="sell-dropdown-title">Year Round</h3>
              <div class="flex-dropdown">
                <div style="margin-right: 3.125vw;">
                  <ul class="list">
                    <li class="check">Flare & Bell Bottom Jeans</li>
                    <li class="check">Overalls</li>
                    <li class="check">Authentic Leather Jackets</li>
                    <li class="check">Jean Jackets</li>
                    <li class="check">Rain Coats</li>
                    <li class="check">Snow Pants & Suits</li>
                  </ul>
                </div>
                <div>
                  <ul class="list">
                    <li class="check">High-end, Funky Shoes & Boots</li>
                    <li class="check">Costumes & Halloween Items</li>
                    <li class="check">Festival & Burning Man Items</li>
                    <li class="check">Ugly Christmas Sweaters</li>
                    <li class="check">Jewelry</li>
                    <li class="check">Vans, Converse, Skater Shoes</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <button id = "sell-collapse" type="button" class="collapsiblegrey">
          <div id="sell-subheader-drop"> 
            <h1> mens </h1>
          </div>
        </button>
        <div class="content">
          <p class="sell-dropdown-title">*We are only accepting men sizes S-XL, and pant waist sizes 30-32.</p>
          <div style="margin-bottom: 3.527vw;" class="flex-dropdown">
            <div class="dropdown-sub">
              <h3 class="sell-dropdown-title">Seasonal</h3>
              <ul class="list">
                <li class="check">Short Sleeve Shirts</li>
                <li class="check">Shorts</li>
                <li class="check">Long Sleeve Button-Up Shirts</li>
                <li class="check">Pop Culture & Branded T-shirts</li>
              </ul>
              <div class="p-dropdown"> <p>Character, Movie/Show & Entertainment/ Music Band</p> </div>
            </div>
            <div class="dropdown-sub year-round">
              <h3 class="sell-dropdown-title">Year Round</h3>
              <div class="flex-dropdown">
                <div style="margin-right: 3.125vw;">
                  <ul class="list">
                    <li class="check">Hawaiian Shirts</li>
                    <li class="check">Flannels</li>
                    <li class="check">Jeans</li>
                    <li class="check">Rain Coats</li>
                    <li class="check">Suspenders</li>
                    <li class="check">Bow & Skinny Ties</li>
                  </ul>
                </div>
                <div>
                  <ul class="list">
                    <li class="check">Snow Pants, Bibs, & Suits</li>
                    <li class="check">Costumes & Halloween Items</li>
                    <li class="check">Festival & Burning Man Items</li>
                    <li class="check">Ugly Christmas Sweaters</li>
                    <li class="check">Ray-Ban, Oakley, & Branded Sunglasses</li>
                    <li class="check">Vans, Converse, Nike, Adidas, & Branded shoes</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <button id = "sell-collapse" type="button" class="collapsiblegrey">
        <img id="sell-icon" src="/static/img/needleicon.png"/> 
        <div id="sell-subheader"> 
          <h1> premium </h1>
          <h2> high-end + limited edition </h2>
        </div>
      </button>
      <div class="content">
        <div style="margin-bottom: 3.527vw;" class="flex-dropdown">
          <div class="dropdown-sub">
            <h3 class="sell-dropdown-title">Premium</h3>
            <p>We pay extra for most high quality premium labels (i.e. Chanel, Ralph Lauren, Gucci, DKNY, Marc Jacobs, etc.)  and vintage, boutique, or unique items.</p>
          </div>
          <div class="dropdown-sub year-round">
            <h3 class="sell-dropdown-title">Non-Premium</h3>
            <p>We resell most non-premium items between $6 - $12, so you will receive on average from $1.50 to $3 each in store credit or $.75 to $1.50 in cash for each piece.</p>
            </div>
          </div>
        </div>
      </div>
      <script>
        var coll = document.getElementsByClassName("collapsiblegrey");
        var i;
  
        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function () {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.maxHeight) {
              content.style.maxHeight = null;
            } else {
              content.style.maxHeight = content.scrollHeight + "px";
            }
          });
        }
      </script>
      <div id="schedule-div">
        <button class="schedule-button" onClick="window.open('https://squareup.com/appointments/book/3srvschplnsg15/DYX6Q6CE3GKAW/services','_blank')">Schedule a Trade in appointment</button>
        <p style="font-style: italic; margin-bottom: 6.875vw;">We reserve the right to reject items deemed unsuitable.</p>
      </div>
    </div>
  <!--how does it work-->
  <div id="how-does-it-work"> 
    <div id ="work-side1"> 
      <h2 style="display:inline-block; color:#F26D34;font-size:1.563vw;"> 
        <img style="height:1.875vw;width:1.875vw;margin-right:0.781vw;"src="/static/img/timeicon.png"/>  ~ 15 minutes </h2>
      <h1 style="text-transform: none; margin-bottom: 2.5vw;"> How does it works?</h1>
      <p style="text-align: left;">Other consignment stores require your clothing items to sell before you can get paid. </p>
      <p style="text-align: left;">We disagree! If we think we can resell them, <span style="font-family:'seravekmedium'; color: #F26D34"> we buy your clothes from you</span>.</p>
    </div>
    <div id="work-side2">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> 
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <div class ="container"> 
        <div class="panel-group" id="accordion">
          <div id="panel-group"  class="panel panel-default">
            <div class="panel-heading" style="background:#FFF;">
              <h4 class="panel-title">
                <h1 id="panel-th1" data-toggle="collapse" data-parent="#accordion" href="#collapse1"> <span id="number-work">
                  <h1> 01 </h1></span> Bring your Items</h1>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div style="border:none;" class="panel-body"><p style="text-align:left;"> 
                We serve our guests on a first come, first serve basis or by appointment during in-store hours.</p>
                <div id="store-bttn">
                  <button id="store-hr" onClick="location.href='contact.html'">STORE HOURS</button>
                <button id="schedule-button" onClick="window.open('https://squareup.com/appointments/book/3srvschplnsg15/DYX6Q6CE3GKAW/services','_blank')"> SCHEDULE APPOINTMENT</button>
              </div>
              </div>
            </div>
          </div>
          <div id="panel-group" class="panel panel-default">
            <div class="panel-heading" style="background: #FFF;">
              <h4 class="panel-title">
                <h1 id="panel-th1" data-toggle="collapse" data-parent="#accordion" href="#collapse2"> 
                  <span id="number-work"><h1> 02 </h1></span>  Recieve a Quote </h1>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse">
              <div style="border:none;;" class="panel-body"><p style="text-align:left;">
                Our experienced team will inspect your clothes based on brand, condition, and unique style.  </p>
                <button id="store-hr1">VIEW SELLING GUIDE</button>
                <div id="modal">
                  <div id="modal-content">
                    <div id="selling-frame">
                      <h1 style="color:#1B243F"> selling guide</h1>
                      <p style="font-style: italic;"> funky, retro, vintage, crazy looking, or unusual </p>
                      <p style="font-style: italic;"> *Exceptions may apply. </p> 
                    </div>
                    <div id="accept-frame"> 
                      <h1 style="margin-bottom: 1.875vw; color: #5B6278;"> Accepted </h1>
                    <p style="display:inline-block;"> <img id="accept" src="/static/img/accept.png"/> New or gently used </p>
                    <p style="display:inline-block;"><img id="accept" src="/static/img/accept.png"/> Smoke & Odor Free </p>
                    <p style="display:inline-block;"><img id="accept" src="/static/img/accept.png"/> Wrinkle Free </p>
                    <p style="display:inline-block;"><img id="accept" src="/static/img/accept.png"/> High Quality Brands </p>
                    <p style="display:inline-block;"> <img id="accept" src="/static/img/accept.png"/> Selective Fast Fashion </p>
                      <p style="display:inline-block;"><img id="accept" src="/static/img/accept.png"/> New or “New like” shoes </p>   
                    </div>
                    <div id="deny-frame"> 
                      <h1 style="margin-bottom: 1.875vw; color: #5B6278;"> Not Accepted </h1>
                      <div style="height: 13.75vw; width: 35.625vw;"id="frame-a">
                        <div style="margin-right:2.188vw; width: 10.156vw;"id="frame-a1"> 
                          <p style="display:inline-block;"><img id="deny"src="/static/img/deny.png"/> Holes </p>
                          <p style="display:inline-block;"><img id="deny"src="/static/img/deny.png"/> Rips </p>
                          <p style="display:inline-block;"> <img id="deny"src="/static/img/deny.png"/> Stains </p> 
                          <p style="display:inline-block;"><img id="deny" src="/static/img/deny.png"/> Odor</p>      
                        </div>
                        <div style="width: 25.469vw;"id="frame-a2"> 
                          <p style="display:inline-block;"><img id="deny" src="/static/img/deny.png"/> Fast Fashion Brands* </p>
                          <p style="display:inline-block;"><img id="deny" src="/static/img/deny.png"/> Fair-Poor Condition Shoes</p>  
                          <p style="display:inline-block;"><img id="deny" src="/static/img/deny.png"/> Men Size XXL+ </p> 
                          <p style="display:inline-block;"><img id="deny" src="/static/img/deny.png"/> Men pants 35+ </p>                                                 
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
              </div>
            </div>
          </div>
          <div id="panel-group" class="panel panel-default">
            <div class="panel-heading" style="background: #FFF;">
              <h4 class="panel-title">
                <h1 id="panel-th1" data-toggle="collapse" data-parent="#accordion" href="#collapse3"> 
                  <span id="number-work"><h1> 03 </h1></span>  Choose to Trade, Sell, or Donate</h1>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse">
              <div style="border:none;" class="panel-body"><p style="text-align:left;"> You must be 
                <span style="font-family: 'seravekmedium'; display:inline-block ; color:#F26D34"> 18 years</span> 
                (or accompanied by an adult) & present a valid photo to sell items. </p>
                <a style="text-decoration: none;"href="#earn-titles"> 
                  <button id="store-hr">VIEW PRICING GUIDE</button>
                </a>
              </div>
            </div>
          </div>
        </div> 
      </div>
    </div>
    </div>
  </div>
  <script>
    var modal = document.getElementById("modal");
    var btn = document.getElementById("store-hr1");
    btn.onclick = function() {
      modal.style.display = "block";
    }
    window.onclick = function(event) {
      if (event.target == modal) {
        modal.style.display = "none";
      }
    }
    </script>
     <!--pricing guide-->
    <div style="padding-top: 3.75vw;"id="earn-titles">
        <h3>Lets Trade!</h3>
        <h1>What you earn</h2>
        <p>Based on the potential selling price in the current season, you can receive</p>
    </div>
    <div id="deals-container">
        <div class="deal">
            <div class="deal-sub" style="padding-top: 7.5vw;">
                <h2>Cash</h2>
                <h4>12.5%</h4>
                <h5 style="margin-bottom: 5vw;">Receive cash upfront.</h5>
            </div>
            <p>Non-premium items are on average $0.75 to $1.50 each.</p>
        </div>
        <div class="deal">
            <div class="deal-sub">
                <div id="most-popular">
                    <h2>Most Popular</h2>
                </div>
                <h2>Store Credit</h2>
                <h4>25%</h4>
                <h5 style="margin-bottom: 5vw;">Expires after one year.</h5>
            </div>
            <p>Non-premium items are on average $1.50 to $3 each.</p>
        </div>
        <div class="deal">
            <div class="deal-sub" style="padding-top: 2.5vw;">
                <h2 style="margin-bottom: 0vw;">The Sustainable</h2>
                <h2>Decision</h2>
                <img src="/static/img/outline-shirt.png" />
                <h5 style="margin-bottom: 2.5vw;">Not expected but we greatly appreciate donations :)</h5>
            </div>
            <p>Your contributions will help our business.</p>
        </div>
    </div>
    <div id="earn-details">
        <p>You must be <strong>18 years old</strong> (or accompanied by an adult) & present a valid photo to sell items. 
            Premium labels, vintage items, and highly unique items earn a <strong>higher compensation</strong>.</p>
    </div>
    <div id="faq">
      <h1 class="faqh">Frequently Asked Questions</h1>
      <button type="button" class="collapsible">
        When can I come into the store to sell or trade-in clothes?
      </button>
      <div class="content">
        <p>Sample text, content, or links to be placed here.</p>
      </div>
      <button type="button" class="collapsible">
        Can I mail in my clothes?
      </button>
      <div class="content">
        <p>Sample text, content, or links to be placed here.</p>
      </div>
      <button type="button" class="collapsible">
        Why doesn't Boheme offer more money for clothing?
      </button>
      <div class="content">
        <p>
          Unlike consignment stores, we pay you regardless of whether your item
          sells or not. This means we take on the risk. Our prices are lower
          because we sell most items between $6 and $12, and we couldn't offer
          these affordable prices if we paid more for items that may or may not
          sell.
        </p>
      </div>
      <button type="button" class="collapsible">
        Does your store accept donations?
      </button>
      <div class="content">
        <p>Absolutely (and we greatly appreciate it)!</p>
      </div>
    </div>
    <script>
      var coll = document.getElementsByClassName("collapsible");
      var i;

      for (i = 0; i < coll.length; i++) {
        coll[i].addEventListener("click", function () {
          this.classList.toggle("active");
          var content = this.nextElementSibling;
          if (content.style.maxHeight) {
            content.style.maxHeight = null;
          } else {
            content.style.maxHeight = content.scrollHeight + "px";
          }
        });
      }
    </script>
     <!--get in touch -->
    <div id="get-in-touch-frame-bot">
      <div id="get-in-touch-bot">
        <p> More questions? <a id="contact-bold"href='contact.html'>Get in touch</a> for further clarifications. </p>
      </div>
    </div>
    <!--footer-->
    <div id="footer">
      <div id="footer-top">
        <div id="footer-info">
          <p class="bold-text-footer">Sign Up and Save</p>
          <p class="text-footer">
            Be kept up-to-date on our sales, specials, and new product offerings
            by signing up for our newsletter.
          </p>
        </div>
        <div id="email-footer">
          <input id="email-input" type="text" placeholder="Email Address" />
          <button id="email-button">Subscribe</button>
        </div>
      </div>
      <div id="footer-bottom">
        <div id="footer-logo-container">
          <img id="footer-logo" src="/static/img/boheme-logo-full.png" />
        </div>
        <div id="footer-location-hours">
          <p class="bold-text-footer">Location</p>
          <p class="text-footer">409 3RD STREET, DAVIS, CA</p>
          <p class="bold-text-footer">Hours</p>
          <p class="text-footer">SUN - FRI: 11:00 - 6:00</p>
          <p class="text-footer">SAT: 10:30 - 6:00</p>
          <p class="bold-text-footer">Phone Number</p>
          <p class="text-footer">530-341-2004</p>
        </div>
        <div id="footer-boheme">
          <p class="bold-text-footer">Bohème</p>
          <p style="padding-top: 1.875vw" class="text-footer text-footer-right">
            Home
          </p>
          <p class="text-footer text-footer-right">About</p>
          <p style="cursor: pointer" class="text-footer">Contact</p>
        </div>
        <div id="footer-services">
          <p style="cursor: auto" class="bold-text-footer text-footer-right">
            Services
          </p>
          <p class="text-footer text-footer-right">Our Store</p>
          <p style="cursor: pointer" class="text-footer">Buy-Sell-Trade</p>
        </div>
        <div id="footer-media">
          <p style="cursor: auto" class="bold-text-footer text-footer-right">
            Media
          </p>
          <p class="text-footer text-footer-right">Fun Photos</p>
          <p class="text-footer text-footer-right">Vibin' Videos</p>
          <p class="text-footer text-footer-right">In the News</p>
          <p style="cursor: pointer" class="text-footer">Blog</p>
        </div>
        <div id="footer-follow-us">
          <p style="cursor: auto" class="bold-text-footer text-footer-right">
            Follow Us
          </p>
          <a href="https://www.instagram.com/boheme.threads/?hl=en">
            <img
              style="cursor: pointer"
              src="/static/img/footer-instagram.png"
              class="footer-icon"
            />
          </a>
          <a href="https://www.facebook.com/BohemeThreads/">
            <img
              style="cursor: pointer"
              src="/static/img/footer-facebook.png"
              class="footer-icon"
            />
          </a>
        </div>
      </div>
      <div id="copyright-footer">2023. Bohème Used Clothing & Gifts</div>
    </div>
</body>
</html>
