{% extends "admin/interface/index.html" %}
{% block title %}All Participants{% endblock %}

{% block content%}
<h1>Participants Check-In</h1>

<br>


<div class="table-responsive">
    <table class="table table-sm table-striped mb-0">
        <thead class="thead-dark">
        <tr>
            <th>Participant's Name</th>
            <th>Check-in</th>
            <th>Warm-up room</th>

        </tr>
        </thead>
        <tbody>
        {% for participant in all_participants %}
        <tr>
            <td>
                <span class="align-middle">{{ participant.last_name }}, {{ participant.first_name }}</span></td>
            <td>
                {% if production_config.check_in == True %}
                {% if participant.checked_in == False %}
                <form method="POST">
                    <div class="d-none">
                        <input type="number"
                               class="form-control"
                               name="participant_id"
                               id="participant_id"
                               aria-describedby="participant_id"
                               placeholder="Enter email"
                               value="{{participant.id}}">
                    </div>

                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-warning" data-toggle="modal" data-target="#exampleModalCenter">
                        Check-in
                    </button>

                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog"
                         aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">{{participant.first_name}} {{participant.last_name}}</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Assign a warm-up room:
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    <button type="submit" class="btn btn-primary">Check-in</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                {% else %}
                <button type="button" class="btn btn-success" disableds>Checked</button>
                {% endif %}
                {% else %}
                {% if participant.checked_in == False %}
                <button type="submit" class="btn btn-warning" disabled>Check-in</button>
                {% else %}
                <button type="button" class="btn btn-success" disabled>Checked</button>
                {% endif %}
                {% endif %}
            </td>
            <td>
                1
            </td>

        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-3">

            <a href="{{url_for('production.reset_check_in')}}">
                <button type="button" class="btn btn-outline-secondary">Reset</button>
            </a>

        </div>
        <div class="col-6">
            {% if production_config.check_in == False %}
            <a href="{{url_for('production.start_check_in')}}">
                <button type="button" class="btn btn-success">Start check-in</button>
            </a>
            {% else %}
            <a href="{{url_for('production.stop_check_in')}}">
                <button type="button" class="btn btn-danger">End check-in</button>
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}