{% extends "bootstrap/index.html" %} {% block title %}Select Project{% endblock %}

    {% block content%}
    <br>
    <h3 align="center">Select project</h3>
    <br>
   
    <div class="container-fluid">
        <div class="row">
          <div class="col-sm">
            <a href="/">
            <button type="button" class="btn btn-light"><img src="/static/images/MWQ_Logo_POS.png" class="img-fluid" alt="Responsive image"></button>
            </a>
          </div>
          <div class="col-sm">
            <a href="/">
            <button type="button" class="btn btn-light" href="/"><img src="/static/images/Flautiada_POS.png" class="img-fluid" alt="Responsive image"></button>
            </a>
          </div>
          <div class="col-sm">
            <a href="/">
            <button type="button" class="btn btn-light" href="/"><img src="/static/images/Altmark_TEXT_PAN.png" class="img-fluid" alt="Responsive image"></button>
            </a>
          </div>
        </div>
      </div>
    {% endblock %}